<form class="form form--lite c-reg-form">
	<h1 class="c-reg-title">Регистрация</h1>

	<div class="form-group form-group--default form-group--c-reg">
		<label class="form-label form-label--default">Имя и фамилия</label>
		<div class="form-control-group form-control-group--default">
			<input type="text" class="form-control form-control--default form-control--text">
		</div>
	</div>

	<div class="form-group form-group--default form-group--c-reg">
		<label class="form-label form-label--default">Дата рождения</label>
		<div class="form-control-group form-control-group--default">
			<input type="text" placeholder="YY/MM/DD" class="form-control form-control--default form-control--text">
		</div>
	</div>

	<div class="form-group form-group--default form-group--c-reg">
		<label class="form-label form-label--default">Email</label>
		<div class="form-control-group form-control-group--default">
			<input type="text" class="form-control form-control--default form-control--text">
		</div>
	</div>

	<div class="form-group form-group--default form-group--c-reg">
		<label class="form-label form-label--default">Пароль</label>
		<div class="form-control-group form-control-group--default">
			<input type="password" class="form-control form-control--default form-control--text">
		</div>
	</div>

	<div class="form-group form-group--default form-group--c-reg">
		<label class="form-label form-label--default">Повторить пароль</label>
		<div class="form-control-group form-control-group--default">
			<input type="password" class="form-control form-control--default form-control--text">
		</div>
	</div>

	<div class="form-group form-group--default form-group--c-reg">
		<label class="form-label form-label--default">Ваш телефон</label>
		<div class="form-control-group form-control-group--default phone-sms phone-sms--button">
			<button type="button" class="phone-sms-button" disabled>
				<span class="phone-sms-button__text">Получить код</span>
			</button>
			<div class="phone-sms-counter">
				<span class="phone-sms-counter__icon"></span>
				<span class="phone-sms-counter__number">0:53</span>
			</div>
			<input type="text" class="form-control form-control--default form-control--text phone-sms-input">
		</div>
	</div>

	<div class="form-group form-group--default form-group--c-reg">
		<label class="form-label form-label--default">Код из СМС</label>
		<div class="form-control-group form-control-group--default">
			<input class="form-control form-control--default form-control--text">
		</div>
	</div>

	<div class="c-reg-action">
		<button type="submit" class="button button--default button--l c-reg-action-btn">
			<span class="button__text">Зарегистрироваться</span>
		</button>
	</div>

	<div class="c-reg-rules">
		<p>Нажимая эту кнопку, я соглашаюсь с <a href="/регион/license/" class="c-reg-rules-button">политикой обработки моих персональных данных</a>.</p>
	</div>

</form>