<div class="popup-page" style="display: block;">
	<div class="popup-page__out">
		 <div class="popup-page__in">
			  <div class="popup-page__content popup-page__content--card">
					<div class="popup-page__close"></div>

					<section class="card cpt-card">
						<div class="cpt-card-main">
							<div class="cpt-card-main__dish">
								<div class="cpt-card-dish">
									<div class="cpt-card-dish__image-box">
										<img src="images/combo-hot-karbonara-170x124.jpg" class="cpt-card-dish__image">
									</div>
									<div class="cpt-card-dish__name-box">
										<div class="cpt-card-dish__name-wrapper">
											<span class="cpt-card-dish__name">Тыквенный крем-суп с беконом и соусом песто</span>
										</div>
										<div class="cpt-card-dish-ibar">
											<div class="cpt-card-dish-ibar__item">
												<span class="cpt-card-dish__weight">5 шт. • 120 гр.</span>
											</div>
											<div class="cpt-card-dish-ibar__item">
												<button type="button" class="cpt-card-info-toggle">Состав</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="cpt-card-main__info cpt-card-main__info--hidden">
								<div class="cpt-card-info">
									<div class="cpt-card-info__brief">
										Креветка, лосось, икра масаго, огурец, омлет, сливочный сыр, майонезный соус, зеленый лук.
									</div>
									<div class="cpt-card-info__nfacts">
										На 100 гр.: Белки: 5,2 г. Жиры: 5,3 г. Углеводы: 25,1 г.<br>
										Калорийность: 172 кКал
									</div>
								</div>
							</div>
						</div>

						<div class="cpt-card-garnishes">
							<div class="cpt-card-garnishes__title">
								<span class="cpt-card-garnishes__title-text">Гарнир на выбор</span>
							</div>
							<div class="cpt-card-garnishes__content">
								<div class="cpt-card-garnishes__list">
									<div class="cpt-card-garnishes__item">
										<div class="cpt-card-garnish">
											<input checked type="radio" name="cpt-card-garnish-radio-group-0" id="cpt-card-garnish-radio-0-0" class="cpt-card-garnish__hidden-control">
											<label class="cpt-card-garnish__label" for="cpt-card-garnish-radio-0-0">
												<span class="pretty-control pretty-control--default cpt-card-garnish__control">
													<span class="pretty-control__item"></span>
												</span>
												<span class="cpt-card-garnish__text">
													<span class="cpt-card-garnish__name">Печеный картофель</span>
													<span class="cpt-card-garnish__weight">150 гр.</span>
												</span>
											</label>
										</div>
									</div>
									<div class="cpt-card-garnishes__item">
										<div class="cpt-card-garnish">
											<input type="radio" name="cpt-card-garnish-radio-group-0" id="cpt-card-garnish-radio-0-1" class="cpt-card-garnish__hidden-control">
											<label class="cpt-card-garnish__label" for="cpt-card-garnish-radio-0-1">
												<span class="pretty-control pretty-control--default cpt-card-garnish__control">
													<span class="pretty-control__item"></span>
												</span>
												<span class="cpt-card-garnish__text">
													<span class="cpt-card-garnish__name">Отварной рис</span>
													<span class="cpt-card-garnish__weight">200 гр.</span>
												</span>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="cpt-card-ingredients cpt-card-collapse cpt-card-collapse--closed">
							<button class="cpt-card-ingredients__title-toggle cpt-card-collapse__toggle">
								<div class="cpt-card-ingredients__title">
									<span class="cpt-card-ingredients__title-plus"></span><span class="cpt-card-ingredients__title-text cpt-card-collapse__toggle-text">Ингредиенты</span><span class="cpt-card-ingredients__title-angle cpt-card-collapse__toggle-angle"></span>
								</div>
							</button>
							
							<div class="cpt-card-ingredients__content cpt-card-collapse__content">
								<div class="cpt-card-ingredient-list">
									<div class="cpt-card-ingredient">
										<div class="cpt-card-ingredient__image-box">
											<div class="cpt-card-ingredient__image-wrapper">
												<img src="images/dev-005-vasabi.jpg" class="cpt-card-ingredient__image">
											</div>
										</div>
										<div class="cpt-card-ingredient__name-box">
											<div class="cpt-card-ingredient__name-wrapper">
												<span class="cpt-card-ingredient__name">Васаби</span>
											</div>
											<div class="cpt-card-ingredient__info">6 гр.</div>
										</div>
										<div class="cpt-card-ingredient__count-box">
											<span class="count count--default count--lite count--joint cpt-card-ingredient__count">
												<button class="count__minus" type="button">-</button>
												<input type="text" value="1" class="count__field">
												<button class="count__plus" type="button">+</button>
											</span>
										</div>
										<div class="cpt-card-ingredient__price-box">
											<span class="cpt-card-ingredient__price">20 <span class="c-rub">₽</span></span>
										</div>
									</div>
									<div class="cpt-card-ingredient">
										<div class="cpt-card-ingredient__image-box">
											<div class="cpt-card-ingredient__image-wrapper">
												<img src="images/dev-011-unagi.jpg" class="cpt-card-ingredient__image">
											</div>
										</div>
										<div class="cpt-card-ingredient__name-box">
											<div class="cpt-card-ingredient__name-wrapper">
												<span class="cpt-card-ingredient__name">Соус унаги</span>
											</div>
											<div class="cpt-card-ingredient__info">50 гр.</div>
										</div>
										<div class="cpt-card-ingredient__count-box">
											<span class="count count--default count--lite count--joint cpt-card-ingredient__count">
												<button class="count__minus" type="button">-</button>
												<input type="text" value="1" class="count__field">
												<button class="count__plus" type="button">+</button>
											</span>
										</div>
										<div class="cpt-card-ingredient__price-box">
											<span class="cpt-card-ingredient__price">35 <span class="c-rub">₽</span></span>
										</div>
									</div>
									<div class="cpt-card-ingredient">
										<div class="cpt-card-ingredient__image-box">
											<div class="cpt-card-ingredient__image-wrapper">
												<img src="images/dev-010-spaysi.jpg" class="cpt-card-ingredient__image">
											</div>
										</div>
										<div class="cpt-card-ingredient__name-box">
											<div class="cpt-card-ingredient__name-wrapper">
												<span class="cpt-card-ingredient__name">Соус спайси</span>
											</div>
											<div class="cpt-card-ingredient__info">50 гр.</div>
										</div>
										<div class="cpt-card-ingredient__count-box">
											<span class="count count--default count--lite count--joint cpt-card-ingredient__count">
												<button class="count__minus" type="button">-</button>
												<input type="text" value="0" class="count__field">
												<button class="count__plus" type="button">+</button>
											</span>
										</div>
										<div class="cpt-card-ingredient__price-box">
											<span class="cpt-card-ingredient__price">0 <span class="c-rub">₽</span></span>
										</div>
									</div>
								</div>

								<div class="cpt-card-ingredients-clean-c">
									<button type="button" class="cpt-card-ingredients-clean"><span class="cpt-card-ingredients-clean__icon"></span><span class="cpt-card-ingredients-clean__text">Очистить</span></button>
								</div>
							</div>
						</div>

						<div class="cpt-card-summary">
							<div class="cpt-card-summary__set">
								<ul class="p-switch p-switch--default">
									<li class="p-switch__item">
										<input checked type="radio" name="p-switch-radio" id="p-switch-radio-1" class="p-switch__control">
										<label class="p-switch__label" for="p-switch-radio-1">
											8 шт.
										</label>
									</li>
									<li class="p-switch__item">
										<input type="radio" name="p-switch-radio" id="p-switch-radio-2" class="p-switch__control">
										<label class="p-switch__label" for="p-switch-radio-2">
											4 шт.
										</label>
									</li>
								</ul>
							</div>
							<div class="cpt-card-summary__price">
								<span class="cpt-card-summary-price">129 <span class="c-rub">₽</span></span>
								<div class="count cpt-card-summary-count">
									<span class="count__btn count__btn--minus"></span>
									<input type="text" class="count__field" value="1">
									<span class="count__btn count__btn--plus"></span>
								</div>
							</div>
						</div>

					</section>
			  </div>
		 </div>
	</div>
</div>