.cht2-section {
	
	/* -- */
	
	&--disabled {
		.cht2-section {
			&__ttl {
				color: #b2b2b2;
				cursor: default;

				&:after {
					content: '';
					display: inline-block;
					width: 14px;
					height: 14px;
					margin: 0 0 0 10px;
					vertical-align: middle;
					background-position: center;
					background-repeat: no-repeat;
					background-size: 14px 14px;
					background-image: url(../images/ico-arr-r-md-black-30x30.svg);
					opacity: 0.3;
					transform: rotate(90deg);
				}
			}

			&__content {
				display: none;
			}
		}
	}
}

.cht2-section .form {
	&--lite {
		.form-label--default {
			font-size: 14px;
			color: #a5a5a5; // как в телефоне хедера
		}

		.form-control--default.form-control--text {
			@include placeholder() {
				color: #000;
				opacity: 0.3;
			}
		}
	}
}