.cht2-auth {
	
	/* -- */

	.cht2-section__content {
		margin-bottom: 45px;
	}
}

.cht2-auth-subttl {
	$title-margin-bottom: 20px;

	margin-top: -$title-margin-bottom / 2;
	margin-bottom: $title-margin-bottom + 10px;
	line-height: 1.4;
	font-size: 13px;
}

.cht2-auth-form {

}

.cht2-auth-group {
	max-width: 600px;
	margin-bottom: 30px;

	@media (max-width: 700px) {
		max-width: 300px + 49px;
		margin-bottom: 0px;
	}

	/* -- */

	&__row {
		display: table;
		width: 100%;

		@media (max-width: 700px) {
			display: block;
		}
	}

	&__col {
		display: table-cell;
		width: 50%;

		@media (max-width: 700px) {
			display: block;
			width: auto;
			margin-bottom: 20px;
		}

		&:first-child {
			padding-right: 5px;

			@media (max-width: 700px) {
				padding-right: 0;
			}
		}

		&:last-child {
			padding-left: 5px;

			@media (max-width: 700px) {
				padding-left: 0;
			}
		}
	}
}