.cht2-summary {
	margin: 50px 0 35px 0;
}

.cht2-summary-total {
	margin: 0 0 25px 0;
	font-weight: bold;
	font-size: 24px;
}

.cht2-summary-bonus {
	&__number,
	&__plus,
	&__minus {
		display: inline-block;
		line-height: 1;
		padding: 5px 10px;
		margin: 0 0 0 5px;
		// font-weight: bold;
		vertical-align: middle;
		border-radius: 50px;
	}

	&__number,
	&__plus {
		color: #fff;
		background-color: $color-red-active;
	}

	&__minus {
		background-color: #f0f0f0;
	}
}