.cht2-delivery {}

.cht2-delivery-form {}

.cht2-delivery-group {
	$group-margin-bottom: 25px;


	&--address-list {
		max-width: 600px;
		margin-bottom: $group-margin-bottom;

		@media (max-width: 700px) {
			max-width: 300px + 49px;
		}
	}

	/* -- */
	
	&--address {
		max-width: 600px;
		margin-bottom: $group-margin-bottom;

		@media (max-width: 700px) {
			max-width: 300px + 49px;
		}

		/* -- */

		& > .cht2-delivery-group__row {
			display: table;
	
			/* -- */

			@media (max-width: 700px) {
				display: block;

				&--address-name {
					display: none;
				}
			}

			/* -- */
		
			& > .cht2-delivery-group__col {
				display: table-cell;
				padding-left: 10px;

				/* -- */

				@media (max-width: 700px) {
					display: block;
					padding-left: 0;
					margin-bottom: 20px;

					&:last-child {
						margin-bottom: 0;
					}
				}

				/* -- */
	
				&:first-child {
					padding-left: 0;
				}
			}

			/* -- */

			&--address-name {
				display: none;
			}
		}

		/* -- */

		&.cht2-delivery-group--edit {

			& > .cht2-delivery-group__row {
				margin-bottom: $group-margin-bottom;

				&--address-name {
					display: table;
					width: 100%;
					max-width: 300px - 5px;
				}
			}

			.cht2-delivery-address-button-edit {
				display: block;
			}
		}
	}

	&--address-g1 {
		& > .cht2-delivery-group__row {
			display: table;
		
			& > .cht2-delivery-group__col {
				display: table-cell;
				padding-left: 10px;
	
				&:first-child {
					padding-left: 0;
				}
			}
		}
	}

	&--address-g2 {
		& > .cht2-delivery-group__row {
			display: table;
		
			& > .cht2-delivery-group__col {
				display: table-cell;
				padding-left: 10px;
	
				&:first-child {
					padding-left: 0;
				}
			}
		}
	}

	/* -- */

	&--date {
		max-width: 600px;
		margin-bottom: $group-margin-bottom;

		/* -- */

		@media (max-width: 700px) {
			max-width: 300px + 49px;
		}

		/* -- */

		& > .cht2-delivery-group__row {
			display: table;
			width: 100%;

			// @media (max-width: 700px) {
			// 	display: block;
			// }

			/* -- */

			& > .cht2-delivery-group__col {
				display: table-cell;
				width: 50%;

				// @media (max-width: 700px) {
				// 	display: block;
				// 	width: auto;
				// }

				/* -- */
	
				&--d-date {
					padding-right: 5px;

					// @media (max-width: 700px) {
					// 	padding-right: 0;
					// 	margin-bottom: 10px;
					// }
				}
	
				&--d-time {
					padding-left: 5px;

					// @media (max-width: 700px) {
					// 	padding-left: 0;
					// }
				}
			}
		}
	}

	&--comment {
		width: 600px;

		/* -- */

		@media (max-width: 700px) {
			width: auto;
			max-width: 300px + 49px;
		}
	}
}



.cht2-delivery-address-list {
	&__row {
		display: table;
		width: 100%;
	}

	&__col {
		display: table-cell;
		vertical-align: middle;

		/* -- */

		&--list {
			width: 100%;
		}

		&--add {
			padding-left: 15px;
		}
	}

	/* -- */

	&__select-box {

		.select {
			&.jq-selectbox {
				width: 100%;
			}

			.jq-selectbox {
				&__select-text {
					font-weight: bold;
				}
				
				&__dropdown {
					padding-top: 0;
					padding-bottom: 0;
					overflow: hidden;

					li {
						max-width: 100%;
						padding-top: 10px;
						padding-bottom: 10px;

						&:first-child {
							font-size: 13px;
							border-bottom: 1px solid #eee;

							@media (max-width: 700px) {
								font-weight: bold;
							}
						}

						&:hover,
						&.selected {
							.cht2-delivery-address-list {
								&__opt-addr {
									color: #fff;
								}
							}
						}
					}
				}
			}
		}
	}

	&__add {
		$icon-size: 34px;

		position: relative;
		display: block;
		width: $icon-size;
		height: $icon-size;
		padding: 0;
		margin: 0;
		border-radius: 100px;
		color: transparent;
		background-color: transparent;
		overflow: hidden;
		cursor: pointer;

		@include user-select-none;

		&:before {
			content: '';
			display: block;
			width: $icon-size;
			height: $icon-size;
			background-color: $color-red;
			background-position: center;
			background-repeat: no-repeat;
			background-size: $icon-size $icon-size;
			background-image: url(../images/ico-plus-m-white-30x30.svg);
			transition-duration: 200ms;
			transition-property: background-color;
		}

		&:hover {
			&:before {
				background-color: $color-red-active;
			}
		}
	}

	&__opt {
		font-size: 13px;
	}

	&__opt-name {
		display: inline-block;
		padding: 3px 10px;
		margin: 0 10px 0 0;
		border-radius: 20px;
		background-color: rgba(#000, 0.08);

		@media (max-width: 700px) {
			display: block;
			padding: 0;
			margin: 0;
			font-weight: bold;
			background-color: transparent;
		}
	}

	&__opt-addr {
		opacity: 0.39;

		@media (max-width: 700px) {
			display: block;
			margin-top: 3px;
		}
	}

	/* -- */

	&--new-address {
		.cht2-delivery-address-list {
			&__col {
				&--add {
					display: none;
				}
			}
		}
	}
}

.cht2-delivery-address {

	&__control-group {
		&--small {
			&.form-control-group {
				&--default {
					&:before {
						width: 20px;
						background-position: 3px center;
					}

					.form-control {
						padding-right: 20px;
					}

					/* -- */

					&.form-control-group--error {
						&:before {
							background-size: 10px 10px;
						}
					}

					&.form-control-group--success {
						&:before {
							background-size: 12px 10.4px;
						}
					}
				}
			}
		}
	}

	/* -- */
	
	&--street {
		width: 250px;

		/* -- */

		@media (max-width: 700px) {
			width: auto;
		}
	}
}

.cht2-delivery-address-name {
	margin-bottom: 10px;
}

.cht2-delivery-address-save {
	position: static;
	display: inline;
	padding: 0;
	font-weight: normal;
	font-size: 14px;
	border: 0;
	background-color: transparent;

	&:before {
		display: none;
	}

	&:hover {
		.button__text {
			color: $color-red-active;
			border-color: $color-red-active;
		}
	}

	.button__text {
		position: static;
		font-weight: bold;
		font-size: 14px;
		color: $color-red;
		border-bottom: 1px dashed $color-red;
		transition-property: color, border-color;
		transition-duration: 200ms;
	}
}

.cht2-delivery-address-button-edit {
	display: none;
}

.cht2-delivery-date {

	// &__control {
	// 	$icon-size: 20px;
	// 	$icon-left-space: 10px;

	// 	background-position: $icon-left-space center;
	// 	background-repeat: no-repeat;
	// 	background-size: $icon-size $icon-size;

	// 	&.form-control--default.form-control--text {
	// 		padding-left: $icon-size + $icon-left-space + 10px;
	// 	}
		
	// 	&--calendar {
	// 		background-image: url(../images/ico-date-calendar-black-30x30.svg);
	// 	}
	// }

	/* -- */

	&__hours-box {
		.jq-selectbox {
			// &__select {
			// 	$icon-size: 20px;
			// 	$icon-left-space: 10px;

			// 	padding-left: $icon-size + $icon-left-space + 10px;
			// 	background-position: $icon-left-space center;
			// 	background-repeat: no-repeat;
			// 	background-size: $icon-size $icon-size;
			// 	background-image: url(../images/ico-date-clock-black-30x30.svg);
			// }
			
			&.select {
				width: 100%;
			}

			&__dropdown {
				li {
					max-width: 100%;
				}
			}
		}
	}
}

.cht2-delivery-comment {
	&__textarea {

		&.form-control--default {
			min-height: 100px;
			resize: none;
		}
	}
}