@import '../../../helpers/helpers';
@import './helpers/helpers';

.sktab-nav-wrapper {
	display: inline-block;
	font-size: 1px;
	border-radius: 100px;
	background-color: $sktab-background-color;
}

.sktab-scroll {

}

.sktab-nav {
	display: block;
	padding: $sktab-nav-padding;
	margin: 0;
	
	&__item {
		display: inline-block;
		padding: 0;
		margin: 0;

		/* -- */

		&--active {
			.sktab-nav__button {
				border-color: $sktab-background-color;
				color: $color-red;
				background-color: #fff;
				cursor: default;

				&:hover {
					color: $color-red;
				}
			}
		}
	}

	&__button {
		display: block;
		height: $sktab-button-height;
		line-height: $sktab-button-height;
		padding: 0 15px;
		font-size: 18px;
		border-radius: 100px;
		background-color: transparent;
		color: #685959;
		cursor: pointer;
		transition-duration: 200ms;
		transition-property: background-color, color;

		&:hover {
			color: $color-red;
		}
	}
}

.sktab-content {
	&__item {
		display: none;

		/* -- */

		&--active {
			display: block;
		}
	}
}