.button {
	&--default {
		&.button--m {
			height: 42px;
			line-height: 42px;
			padding: 0 15px 0 15px;

			.button__text {
				display: inline;
				font-size: 14px;
				vertical-align: baseline;
			}
		}

		&.button--order {
			height: 47px;
			line-height: 47px;
			padding: 0 25px;

			.button__text {
				display: inline;
				vertical-align: baseline;
			}
		}

		&.button--border-radius-m {
			border-radius: 5px;

			&:before {
				border-radius: 5px;
			}
		}

		/* -- */

		&:disabled {
			opacity: 0.5;
			cursor: not-allowed;

			&:hover {
				&:before {
					display: none;
				}
			}

			.button__text {
				opacity: 0.5;
			}
		}
	}
}