@import '../../helpers/helpers';

.button {
	&--default {
		
		.button__icon {
			position: relative;
			display: inline-block;
			width: 10px;
			height: 10px;
			margin: 0 3px 0 0;
			vertical-align: middle;

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 10px;
				height: 10px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: 10px 10px;
				transition-property: opacity;
				transition-duration: 200ms;
			}

			&:before {
				z-index: 1;
				opacity: 1;
			}

			&:after {
				z-index: 2;
				opacity: 0;
			}

			/* -- */

			&--x-bold-dark-grey {
				&:before {
					background-image: url(../images/ico-x-bold-black-30x30.svg);
					opacity: 0.7;
				}

				&:after {
					background-image: url(../images/ico-x-bold-red-30x30.svg);
				}
			}

			&--minus-circle-flat-dark-grey {
				$icon-size: 15px;

				width: $icon-size;
				height: $icon-size;

				&:before,
				&:after {
					width: $icon-size;
					height: $icon-size;
					background-size: $icon-size $icon-size;
				}

				&:before {
					background-image: url(../images/ico-minus-circle-flat-dark-grey-30x30.svg);
				}

				&:after {
					background-image: url(../images/ico-minus-circle-flat-red-30x30.svg);
				}
			}
		}

		/* -- */

		&.button--block {
			display: block;
			width: 100%;
		}

		/* -- */
		
		&.button--m {
			height: 42px;
			line-height: 42px;
			padding: 0 15px 0 15px;

			.button__text {
				display: inline;
				font-size: 14px;
				vertical-align: baseline;
			}

			/* -- */

			&.button--min-width {
				min-width: 150px;
			}
		}

		&.button--s {
			height: 34px;
			line-height: 34px;
			padding: 0 10px 0 10px;

			.button__text {
				display: inline;
				font-size: 13px;
				vertical-align: baseline;
			}
		}

		&.button--order,
		&.button--l {
			height: 47px;
			line-height: 47px;
			padding: 0 25px;

			.button__text {
				display: inline;
				vertical-align: baseline;
			}
		}

		&.button--l {
			border-radius: 5px;

			&:before {
				border-radius: 5px;
			}
		}

		&.button--text {
			display: inline;
			height: auto;
			line-height: 1;
			padding: 0;
			color: #4d4d4d;
			background: none;
			transition-property: color;
			transition-duration: 200ms;

			&:before {
				display: none;
			}

			&:hover {
				color: $color-red;

				.button__icon {
					&:before {
						opacity: 0;
					}

					&:after {
						opacity: 1;
					}
				}
			}
		}

		&.button--border-radius-m {
			border-radius: 5px;

			&:before {
				border-radius: 5px;
			}
		}

		/* -- */

		&:disabled {
			opacity: 0.5;
			cursor: not-allowed;

			&:hover {
				&:before {
					display: none;
				}
			}

			.button__text {
				opacity: 0.5;
			}
		}
	}
}