$crt2-ttl-1-margin-bottom: 25px;
$crt2-ttl-2-margin-bottom: 20px;

.crt2-ttl {
	&.ttl {
		&--1 {
			display: block;
			margin-bottom: $crt2-ttl-1-margin-bottom;
		}
		
		&--2 {
			display: block;
			margin-bottom: $crt2-ttl-2-margin-bottom;
			font-size: 19px;
		}
	}

	/* -- */

	&__icon {
		display: inline-block;
		margin: 0 10px 0 0;
		vertical-align: middle;
		background-position: center;
		background-repeat: no-repeat;

		&--megaphone {
			width: 28px;
			height: 28px;
			background-size: 28px 28px;
			background-image: url(../images/ico-ttl-megaphone-black-30x30.svg);

			/* -- */

			@at-root {
				.crt2-ttl--special {
					.crt2-ttl__icon--megaphone {
						background-image: url(../images/ico-ttl-megaphone-red-30x30.svg);
					}
				}
			}
		}

		&--present {
			width: 28px;
			height: 28px;
			background-size: 28px 28px;
			background-image: url(../images/ico-ttl-present-black-30x30.svg);
		
			/* -- */

			@at-root {
				.crt2-ttl--special {
					.crt2-ttl__icon--present {
						background-image: url(../images/ico-ttl-present-red-30x30.svg);
					}
				}
			}
		}

		&--crown {
			width: 28px;
			height: 28px;
			background-size: 28px 28px;
			background-image: url(../images/ico-ttl-crown-black-30x30.svg);
		}
	}

	/* -- */

	&--special {
		color: #BA131A;
	}
}