.crt2-pcode {
	margin: 0 0 40px 0;

	/* -- */

	&__submit {
		display: block;
	}
}

.crt2-pcode-form {
	&--default {
		display: table;
		width: 100%;
		max-width: 390px;

		.crt2-pcode-form__row {
			display: table-row;
		}
	
		.crt2-pcode-form__col {
			display: table-cell;
			vertical-align: middle;

			&--submit {
				padding: 0 0 0 10px;
			}
		}
	}
}