.crt2-notes {}

.crt2-note {
	position: relative;
	padding: 0 0 0 15px;
	font-size: 13px;
	// font-style: italic;
	color: $color-grey-light;

	&__sign {
		position: absolute;
		top: 0;
		left: 0;
	}

	&__text {}
}