.crt2-recommended {
	$item-width: 140px;
	$item-padding-h: 10px;
	$item-space-h: 10px;
	$item-border-radius: 10px;

	$item-mobile-width: $item-width - 15px;
	$item-mobile-padding-h: 5px;
	$item-mobile-space-h: 7px;

	$item-mobile-bp: 360px;

	$scroll-content-padding-bottom: 10px;
	$scroll-max-width: $item-width * 5 + $item-space-h * 4 + $item-width / 3;
	$scroll-max-width-more: $item-width * 5 + $item-space-h * 4;

	$add-size: 28px;
	$add-width: ($item-width - $item-padding-h * 2) / 2;

	$more-mobile-bp: 768px + $content-laptop-margin-h * 2;

	margin: 0 0 35px 0;

	&-row {
		display: flex;

		&:before,
		&:after {
			content: '';
			flex: none;
			display: none;
			width: $content-laptop-margin-h;

			@media (max-width: 768px) {
				display: block;
			}

			@media (max-width: $content-mobile-bp) {
				width: $content-mobile-margin-h;
			}
		}
	}

	&-col {
		flex: none;
		margin-left: 10px;

		@media (max-width: $item-mobile-bp) {
			margin-left: $item-mobile-space-h;
		}

		&:first-child {
			margin-left: 0;
		}
	}

	/* -- */
	
	&-item {

		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: $item-width;
		height: 100%;
		padding: $item-padding-h $item-padding-h 0 $item-padding-h;
		border: 1px solid $border-color-grey-light;
		border-radius: $item-border-radius;

		@media (max-width: $item-mobile-bp) {
			width: $item-mobile-width;
			padding-right: $item-mobile-padding-h;
			padding-left: $item-mobile-padding-h;
		}

		/* -- */

		&__image-box,
		&__name-box,
		&__add-box,
		&__count-box {
			flex: none;
		}

		/* -- */

		&__image-box {
			margin-bottom: 10px;
		}

		&__image {
			display: block;
			width: 62px;
			height: 45px;
			margin: 0 auto;
			border-radius: 5px;
		}

		/* -- */

		&__name-box {
			flex: 1 1 auto;
			margin: 0 0 10px 0;
			text-align: center;
		}

		&__name {
			line-height: 1.1;
			margin: 0 0 5px 0;
			font-family: 'Roboto Condensed', Roboto, Arimo, sans-serif;
			font-size: 15px;
		}

		&__weight {
			line-height: 1;
			font-family: Roboto, Arimo, sans-serif;
			font-size: 11px;
			color: $color-grey-light;
		}

		/* -- */

		&__add-box {
			width: auto;
			line-height: 1;
			padding-top: 5px;
			padding-right: $item-padding-h;
			// padding-bottom: 10px;
			padding-bottom: 5px;
			padding-left: $item-padding-h;
			margin-right: -$item-padding-h;
			margin-left: -$item-padding-h;
			font-size: 1px;
			text-align: center;
			border: 0;
			border-top: 1px solid $border-color-grey-light;
			border-radius: 0;

			@media (max-width: $item-mobile-bp) {
				padding-right: $item-mobile-padding-h;
				padding-left: $item-mobile-padding-h;

				margin-right: -$item-mobile-padding-h;
				margin-left: -$item-mobile-padding-h;
			}

			&:after {
				content: '';
				display: block;
				font-size: 1px;
				clear: both;
			}
		}

		&__add {
			$button-size: $add-size;
			$icon-size: $button-size - 12px;

			position: relative;
			float: right;
			display: block;
			width: $button-size;
			height: $button-size;
			padding: 0;
			margin: 0 0 0 13px;
			font-size: 12px;
			border: 0;
			border-radius: 4px;
			color: #fff;
			background-color: $color-red;
			@include transition((background-color));
			cursor: pointer;

			&:hover {
				background-color: $color-red-active;
			}

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				display: block;
				width: $icon-size;
				height: $icon-size;
				background-position: center;
				background-repeat: no-repeat;
				background-size: $icon-size $icon-size;
				background-image: img('ico-54x54-cart.png');
				transform: translate(-50%, -50%);
			}
		}

		&__price {
			float: right;
			display: block;
			line-height: $add-size;
			font-weight: bold;
			font-size: 14px;
			transform: transitionY(-50%);

			&-rub {
				font-weight: normal;
				color: $color-grey-light;
			}
		}
		
		/* -- */

		&__count-box {}

		&__count {
			&.count--default.count--lite.count--joint {
				width: auto;
				margin-right: -$item-padding-h;
				margin-left: -$item-padding-h;
				border: 0;
				border-top: 1px solid $border-color-grey-light;
				border-radius: 0;

				@media (max-width: $item-mobile-bp) {
					margin-right: -$item-mobile-padding-h;
					margin-left: -$item-mobile-padding-h;
				}

				.count__minus,
				.count__plus {
					width: 40%
				}

				.count__field {
					width: 20%;
					font-family: Roboto, Arimo, sans-serif;

					@media (max-width: 640px) {
						font-size: 16px;
					}
				}
			}			
		}

	}

	/* -- */

	&-scroll {
		max-width: $scroll-max-width;
		overflow-x: auto;

		// scroll-behavior: smooth;

		@media (max-width: 768px) {
			margin-right: -$content-laptop-margin-h;
			margin-left: -$content-laptop-margin-h;
		}

		@media (max-width: $content-mobile-bp) {
			margin-right: -$content-mobile-margin-h;
			margin-left: -$content-mobile-margin-h;
		}

		&__content {
			padding-bottom: $scroll-content-padding-bottom;
		}		
	}

	/* -- */

	&-more {
		position: relative;

		&-toggle {
			position: absolute;
			bottom: 100%;
			right: 0;
			display: none;
			line-height: 1.2;
			padding: 0;
			margin: 0 0 20px 0;
			font-weight: bold;
			font-size: 12px;
			text-transform: uppercase;
			text-align: left;
			border-bottom: 0;
			color: $color-grey-light;
			background-color: transparent;
			@include transition((color, border-color));
			cursor: pointer;

			&:hover {
				color: $color-red;
			}
		}

		&__text {}
	}

	/* -- */

	&--more {
		.crt2-recommended {
			&-more {

				max-width: $scroll-max-width-more;

				@media(max-width: $more-mobile-bp) {
					max-width: 100%;
				}

				/* -- */

				&-toggle {
					display: block;

					@media (max-width: $more-mobile-bp) {
						display: none;
					}
				}
			}

			&-scroll {
				max-width: 100%;
				overflow-x: hidden;

				@media (max-width: $more-mobile-bp) {
					max-width: $scroll-max-width;
					overflow-x: auto;
				}
			}
		}
	}
}