.crt2-action {
	margin-bottom: 25px;

	@media (max-width: 640px) {
		margin-bottom: 40px;
	}

	&__content {
		&--default {
			&:after {
				content: '';
				display: block;
				clear: both;
				font-size: 1px;
			}
			
			.crt2-action__image {
				&--main {
					float: left;
					display: block;
					width: 120px;
					margin: 0 15px 15px 0;
					border-radius: 5px;

					/* -- */

					@media (max-width: 640px) {
						display: none;
					}
				}
			}

			.crt2-action__text {
				margin: 0 0 15px 0;

				& > p {
					line-height: 1.5;
					font-size: 17px;
				}
			}
		}
	}
}