.crt2-dishes {
	margin: 0 0 15px 0;

	/* -- */

	&--additional {
		.crt2-dish__price-box {
			min-width: 130px + 31px;
		}

		.crt2-dish__button-box {
			display: none;
		}
	}

	/* -- */

	@media (max-width: 640px) {
		margin-bottom: 40px;
	}
}

.crt2-dishes-list {
	display: table;
	width: 100%;

	@media (max-width: 640px) {
		display: block;
	}
}

.crt2-dish {
	display: table-row;
	font-family: Roboto, Arimo, sans-serif;

	@media (max-width: 640px) {
		position: relative;
		display: block;
		padding: 15px 0;
		border-bottom: 1px solid #F6F6F6;

		&:after {
			content: '';
			display: block;
			clear: both;
			font-size: 1px;
		}

		&:first-child {
			padding-top: 0;

			.crt2-dish__button-box {
				margin-top: -(15px/2);
			}
		}
	}

	&__image-box,
	&__name-box,
	&__count-box,
	&__price-box,
	&__button-box {
		display: table-cell;
		vertical-align: middle;
		padding-bottom: 25px;

		@media (max-width: 640px) {
			display: inline-block;
			padding-bottom: 0;
		}
	}

	/* -- */

	&__image-box {
		
		/* -- */

		@media (max-width: 640px) {
			display: none;
		}
	}

	&__image-wrapper {
		display: block;
		width: 62px;
		border: 0;
		border-radius: 5px;
		overflow: hidden;
		transition-property: opacity;
		transition-duration: 200ms;

		@at-root a#{&} {
			&:hover {
				opacity: 0.5;
			}
		}
	}

	&__image {
		display: block;
		width: 62px;
		height: 45px;
	}

	/* -- */

	&__name-box {
		width: 100%;
		padding-left: 15px;

		/* -- */

		@media (max-width: 640px) {
			width: 100%;
			padding-right: 46px;
			padding-bottom: 15px;
			padding-left: 0;
		}
	}

	&__name {
		font-size: 15px;
		border: 0;
		color: #000;
		transition-property: color;
		transition-duration: 200ms;

		@at-root a#{&} {
			&:hover {
				color: #ba131a;
			}
		}

		/* -- */

		@media (max-width: 640px) {
			font-size: 17px;
		}
	}

	&__info {
		display: block;
		font-size: 13px;
		color: #999;
	}

	/* -- */

	&__count-box {
		min-width: 130px;
		padding-left: 15px;

		/* -- */
		
		@media (max-width: 640px) {
			min-width: 110px;
			padding-left: 0;
		}
	}

	/* -- */

	&__price-box {
		min-width: 130px;
		padding-left: 15px;
	}

	&__price {
		font-size: 19px;
		white-space: nowrap;

		&-rub {
			color: #D1D1D1;
		}
	}

	/* -- */

	&__button-box {
		min-width: 31px;
		line-height: 1px;
		text-align: right;
		font-size: 1px;

		/* -- */

		@media (max-width: 640px) {
			position: absolute;
			top: 15px;
			right: 10px;
			padding-bottom: 0;
			padding-left: 0;
		}
	}

	&__x {
		position: relative;
		display: inline-block;
		width: 16px;
		height: 16px;
		line-height: 16px;
		font-size: 14px;
		border: 0;
		color: transparent;
		background-color: transparent;
		cursor: pointer;

		-moz-user-select: none;
		-ms-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		-webkit-touch-callout: none;

		&:hover {
			&:before {
				opacity: 0;
			}

			&:after {
				opacity: 1;
			}
		}

		/* -- */

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			width: 10px;
			height: 10px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 10px 10px;
			transform: translate(-50%, -50%);
			transition-property: opacity;
			transition-duration: 200ms;
		}

		&:before {
			opacity: 1;
			background-image: url(../images/ico-x-bold-grey-lite-30x30.svg);
		}

		&:after {
			opacity: 0;
			background-image: url(../images/ico-x-bold-red-30x30.svg);
		}
	}
}