.crt2-gift {
	margin: 0 0 45px 0;

	&__list {
		display: block;
		max-width: 390px;
		padding: 0;
		margin: 0;
	}

	&__item {
		$padding-v: 15px;

		display: block;
		padding: 0;
		margin: 0;
		
		.crt2-gift-one {
			&__label {
				padding-bottom: $padding-v;
				border-bottom: 1px solid #F6F6F6;
			}
		}

		&:last-child {
			.crt2-gift-one {
				&__label {
					padding-bottom: 0;
					border-bottom: 0;
				}
			}
		}
	
		& + .crt2-gift__item {
			.crt2-gift-one {
				&__label {
					padding-top: $padding-v;
				}
			}
		}
	}
}

.crt2-gift-subtitle {
	$h2-margin-bottom: 20px;
	$subtitle-margin-top: -($h2-margin-bottom - 10px);

	margin: $subtitle-margin-top 0 25px 0;
	font-size: 13px;
}

.crt2-gift-one {
	position: relative;

	&__hidden-control {
		position: absolute;
		top: 0;
		left: 0;
		width: 1px;
		height: 1px;
		opacity: 0;

		&:checked {
			& + .crt2-gift-one__label {
				.crt2-gift-one__fake-control-box {
					.pretty-control__item {
						&:before {
							opacity: 1;
						}
					}
				}

				.crt2-gift-one__name {
					color: #000;
				}
			}
		}
	}

	&__label {
		display: table;
		width: 100%;
		font-family: Roboto, Arimo, sans-serif;
		font-size: 15px;
		transition-property: box-shadow, background-color;
		transition-duration: 200ms;
	}

	&__fake-control-box {
		display: table-cell;
		padding: 0;
		vertical-align: middle;
	}

	&__image-box {
		display: table-cell;
		padding: 0 0 0 15px;
		vertical-align: middle;
		transition-property: opacity;
		transition-duration: 200ms;
	}
	
	&__image {
		$image-orig-width: 62px;
		$image-orig-height: 45px;

		$image-width: 80px;
		$image-height: 58px;

		display: block;
		width: $image-width;
		height: $image-height;
		border-radius: 5px;
	}

	&__content-box {
		display: table-cell;
		width: 100%;
		padding: 0 0 0 15px;
		vertical-align: middle;
		transition-duration: 200ms;
		transition-property: opacity;
	}

	&__name {
		display: block;
		line-height: 1.4;
		color: $color-grey-light;
	}
}