.form {
	$b: &;
	$input-height: 42px;

	&-group {
		&--default {
			$form-group-margin-bottom: 15px;
			
			margin: 0 0 $form-group-margin-bottom 0;

			&:last-child {
				margin-bottom: 0;
			}

			/* -- */

			&#{$b}-group--margin-bottom {
				margin-bottom: $form-group-margin-bottom;
			}

			&#{$b}-group--width-m {
				max-width: 350px;
			}

			&#{$b}-group--margin-top-x1-8 {
				margin-top: $form-group-margin-bottom * 1.8;
			}
		}
	}

	&-label {
		$label: &;

		&--default {
			display: block;
			margin: 0 0 10px 0;
			font-size: 15px;

			&#{$label}--s {
				line-height: 1;
				margin: 0 0 5px 0;
				font-size: 12px;
			}
		}
	}

	&-control-group {
		$control-group: &;

		&--default {
			position: relative;
			margin: 0 0 10px 0;

			&:last-child {
				margin-bottom: 0;
			}

			/* -- */
			
			&#{$b}-control-group--success,
			&#{$b}-control-group--error {
				
				&:before {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					display: block;
					width: $input-height;
					height: $input-height;
					background-position: center;
					background-repeat: no-repeat;
				}
			}

			&#{$b}-control-group--success {
				&:before {
					background-size: 15px 13px;
					background-image: url(../images/ico-check-green-15x13.svg);
				}
			}
	
			&#{$b}-control-group--error {
				&:before {
					background-size: 15px 15px;
					background-image: url(../images/ico-x-red-dark-13x13.svg);
				}
			}

			/* -- */

			&#{$b}-control-group--width-m {
				max-width: 350px;
			}
		}
	}

	&-control {
		&--default {
			&#{$b}-control--text {
				position: relative;
				box-sizing: border-box;
				display: block;
				width: 100%;
				height: $input-height;
				padding: 0 $input-height 0 15px;
				border: 1px solid #e0e1e3;
				border-radius: 5px;
				background-color: transparent;
			
				/* -- */
				
				&:focus {
					box-shadow: inset 0 0 4px rgba(#000, 0.16);
				}

				&:disabled {
					border-color: #e0e1e3;
					color: #b2b2b2;
					background-color: #f5f6f7;
					cursor: not-allowed;
				}
			}
		}
	}

	&-message {
		&--default {			
			&#{$b}-message--control {
				display: block;
				margin: 0 0 10px 0;
				font-size: 14px;
				color: #666;

				&:last-child {
					margin-bottom: 0;
				}

				/* -- */

				&#{$b}-message--error {
					color: #ba131a;
				}
			}

			&#{$b}-message--form {
				$form-message-margin-bottom: 15px;

				margin: 0 0 15px 0;
				font-size: 14px;

				&:last-child {
					margin-bottom: 0;
				}
				
				&#{$b}-message--margin-top-x1-8 {
					margin-top: $form-message-margin-bottom * 1.8;
				}
			}

			/* -- */

			&#{$b}-message--width-m {
				max-width: 350px;
			}

			&#{$b}-message--light {
				color: #a5a5a5;
			}

			/* -- */

			#{$b}-message__link {
				&--black {
					color: #000;

					&:hover {
						color: #bb1018;
					}
				}
			}
		}
	}
}