<div class="acc-page">
	<h1>Личный кабинет</h1>
	
	<div class="acc-page__row">
		<div class="acc-page__row acc-page__row--main">
			<div class="acc-page__col acc-page__col--nav acc-navbar-container">
				<div class="acc-navbar acc-navbar--mobile-margin-bottom-l js-acc-navbar-open js-acc-navbar-mobile">
					<div class="acc-navbar-user">
						<span class="acc-navbar-user__icon"></span>
						<span class="acc-navbar-user__name">Иван Иванович</span>
						<button class="acc-navbar-toggle">▼</button>
					</div>
					<div class="acc-nav">
						<div class="acc-nav-user">
							<span class="acc-nav-user__name">Иван Иванович</span>
							<button class="acc-nav-toggle">▲</button>
						</div>
						<ul class="acc-nav__list">
							<li class="acc-nav__item acc-nav__item--profile">
								<a href="" class="acc-nav__button">Личные данные</a>
							</li>
							<li class="acc-nav__item acc-nav__item--card">
								<a href="" class="acc-nav__button">Банковские карты</a>
							</li>
							<li class="acc-nav__item acc-nav__item--bonuses acc-nav__item--active">
								<a href="" class="acc-nav__button">Бонусы</a>
							</li>
							<li class="acc-nav__item acc-nav__item--history">
								<a href="" class="acc-nav__button">История заказов</a>
							</li>
							<li class="acc-nav__item acc-nav__item--addresses">
								<a href="" class="acc-nav__button">Адреса</a>
							</li>
							<li class="acc-nav__item acc-nav__item--notifications">
								<a href="" class="acc-nav__button">Уведомления</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="acc-page__col">
				<div class="acc-page__main-content">
					<h2 class="ttl ttl--2 ttl--account">Бонусы</h2>
					
					<div class="account-bonuses">
						<div class="main-section">
							<div class="bonuses">
								<div class="c-bonuses-title bonuses-title">
									Бонусы: <span class="bonuses-title__number">1300</span>
								</div>
								<div class="c-bonuses-info c-bonuses-info--margin-top-minus-10">
									<div class="c-bonuses-info__item">1 бонус = 1 рубль</div>
								</div>
							</div>
	
							<div class="cards">
								<div class="c-bonuses-title cards-title">
									Бонусные карты:
								</div>
								<div class="cards-list">
									<div class="cards-list__wrapper">
										<div class="cards-list__scroll">
											<div class="cards-list__grid">
												<div class="cards-list__row">
													<div class="cards-list__col">
														<div class="card card--virtual card--level-3">
															<div class="card__title">Виртуальная</div>
															<div class="card__status card-status">
																<span class="card-status__number">7</span><span class="card-status__percent-sign">%</span>
															</div>
														</div>
														<button type="button" class="card-show-qr">
															<span class="card-show-qr__icon"></span><span class="card-show-qr__text">Показать QR-код</span>
														</button>
													</div>
													<div class="cards-list__col">													
														<div class="card card--plastic card--level-3">
															<div class="card__title">Пластиковая</div>
															<div class="card__status card-status">
																<span class="card-status__number">7</span><span class="card-status__percent-sign">%</span>
															</div>
															<div class="card__plastic-number plastic-number">
																№ 4920378
															</div>
														</div>
														<button type="button" class="plastic-deactivate-button">
															<span class="plastic-deactivate-button__icon"></span><span class="plastic-deactivate-button__text">Отключить</span>
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="c-bonuses-info">
									<div class="c-bonuses-info__item">7% от суммы заказа возвращается на бонусный счет.</div>
									<div class="c-bonuses-info__item">Для получения статуса «10%» осталось сделать заказ еще на 5 000 ₽.</div>
								</div>
							</div>
						</div>
						
						<div
							class="status-progress js-acc-bonuses-status-progress"
							data-progress-total="18000">
							<div
								class="status-progress__item status-progress__item--level-1"
								data-progress-start="1500"
								data-progress-end="10000">
								
								<div class="status-progress__name status-progress-name">
									<div class="status-progress-name__content">
										<span class="status-progress-name__number">3</span><span class="status-progress-name__percent-sign">%</span>
									</div>
								</div>
								<div class="status-progress__bar status-progress-bar">
									<div class="status-progress-bar__circle"></div>
									<div class="status-progress-bar__line"></div>
								</div>
								<div class="status-progress__money">1 500 <span class="c-rub">₽</span></div>
							</div>
							<div
								class="status-progress__item status-progress__item--level-2"
								data-progress-start="10000"
								data-progress-end="15000">
								
								<div class="status-progress__name status-progress-name">
									<div class="status-progress-name__content">
										<span class="status-progress-name__number">5</span><span class="status-progress-name__percent-sign">%</span>
									</div>
								</div>
								<div class="status-progress__bar status-progress-bar">
									<div class="status-progress-bar__circle"></div>
									<div class="status-progress-bar__line"></div>
								</div>
								<div class="status-progress__money">10 000 <span class="c-rub">₽</span></div>
							</div>
							<div
								class="status-progress__item status-progress__item--level-3"
								data-progress-start="15000"
								data-progress-end="25000">
								
								<div class="status-progress__name status-progress-name">
									<div class="status-progress-name__content">
										<span class="status-progress-name__number">7</span><span class="status-progress-name__percent-sign">%</span>
									</div>
								</div>
								<div class="status-progress__bar status-progress-bar">
									<div class="status-progress-bar__circle"></div>
									<div class="status-progress-bar__line"></div>
								</div>
								<div class="status-progress__money">15 000 <span class="c-rub">₽</span></div>
							</div>
							<div
								class="status-progress__item status-progress__item--level-4"
								data-progress-start="25000"
								data-progress-end="25000">
								
								<div class="status-progress__name status-progress-name">
									<div class="status-progress-name__content">
										<span class="status-progress-name__number">10</span><span class="status-progress-name__percent-sign">%</span>
									</div>
								</div>
								<div class="status-progress__bar status-progress-bar">
									<div class="status-progress-bar__circle"></div>
									<div class="status-progress-bar__line"></div>
								</div>
								<div class="status-progress__money">25 000 <span class="c-rub">₽</span></div>
							</div>
						</div>
					</div>

					<h2 class="ttl ttl--2 ttl--account">Как работает бонусная программа</h2>

					<ul class="acc-bonuses-info">
						<li class="acc-bonuses-info__item">
							<span class="acc-bonuses-info__ttl">1. Совершайте покупки</span>
							<p>Бонусы начисляются на сайте, в приложении и ресторане.</p>
						</li>
						<li class="acc-bonuses-info__item">
							<span class="acc-bonuses-info__ttl">2. Накапливайте бонусы</span>
							<p>Процент от суммы заказа возвращается на бонусный счет.</p>
							<p>Зачисление и списание бонусов происходит раз в сутки, в конце дня.</p>
						</li>
						<li class="acc-bonuses-info__item">
							<span class="acc-bonuses-info__ttl">3. Используйте бонусы</span>
							<p>Оплачивайте бонусами часть заказа или целиком.</p>
						</li>
					</ul>

				</div>
			</div>
		</div>
	</div>
</div>