<div class="acc-page">
		<h1>Личный кабинет</h1>
		
		<div class="acc-page__row">
			<div class="acc-page__row acc-page__row--main">
				<div class="acc-page__col acc-page__col--nav acc-navbar-container">
					<div class="acc-navbar acc-navbar--mobile-margin-bottom-l js-acc-navbar-open js-acc-navbar-mobile">
						<div class="acc-navbar-user">
							<span class="acc-navbar-user__icon"></span>
							<span class="acc-navbar-user__name">Иван Иванович</span>
							<button class="acc-navbar-toggle">▼</button>
						</div>
						<div class="acc-nav">
							<div class="acc-nav-user">
								<span class="acc-nav-user__name">Иван Иванович</span>
								<button class="acc-nav-toggle">▲</button>
							</div>
							<ul class="acc-nav__list">
								<li class="acc-nav__item acc-nav__item--profile">
									<a href="" class="acc-nav__button">Личные данные</a>
								</li>
								<li class="acc-nav__item acc-nav__item--card">
									<a href="" class="acc-nav__button">Банковские карты</a>
								</li>
								<li class="acc-nav__item acc-nav__item--bonuses acc-nav__item--active">
									<a href="" class="acc-nav__button">Бонусы</a>
								</li>
								<li class="acc-nav__item acc-nav__item--history">
									<a href="" class="acc-nav__button">История заказов</a>
								</li>
								<li class="acc-nav__item acc-nav__item--addresses">
									<a href="" class="acc-nav__button">Адреса</a>
								</li>
								<li class="acc-nav__item acc-nav__item--notifications">
									<a href="" class="acc-nav__button">Уведомления</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
	
				<div class="acc-page__col">
					<div class="acc-page__main-content">
						<h2 class="ttl ttl--2 ttl--account">Бонусы</h2>
						
						<div class="account-bonuses">
							<div class="c-notify-group">
								<div class="c-notify notify-menu">
									<p>При заказе от 1500 рублей будет создан бонусный счет с начислениями 3% от заказа.</p>
									<a href="/menu/" class="notify-menu__gotomenu">Перейти в меню</a>
								</div>
							</div>
	
							<div class="status-progress">
								<div class="status-progress__item status-progress__item--level-1">
									<div class="status-progress__name status-progress-name">
										<div class="status-progress-name__content">
											<span class="status-progress-name__number">3</span><span class="status-progress-name__percent-sign">%</span>
										</div>
									</div>
									<div class="status-progress__bar status-progress-bar">
										<div class="status-progress-bar__circle"></div>
										<div class="status-progress-bar__line"></div>
									</div>
									<div class="status-progress__money">1 500 <span class="c-rub">₽</span></div>
								</div>
								<div class="status-progress__item status-progress__item--level-2">
									<div class="status-progress__name status-progress-name">
										<div class="status-progress-name__content">
											<span class="status-progress-name__number">5</span><span class="status-progress-name__percent-sign">%</span>
										</div>
									</div>
									<div class="status-progress__bar status-progress-bar">
										<div class="status-progress-bar__circle"></div>
										<div class="status-progress-bar__line"></div>
									</div>
									<div class="status-progress__money">10 000 <span class="c-rub">₽</span></div>
								</div>
								<div class="status-progress__item status-progress__item--level-3">
									<div class="status-progress__name status-progress-name">
										<div class="status-progress-name__content">
											<span class="status-progress-name__number">7</span><span class="status-progress-name__percent-sign">%</span>
										</div>
									</div>
									<div class="status-progress__bar status-progress-bar">
										<div class="status-progress-bar__circle"></div>
										<div class="status-progress-bar__line"></div>
									</div>
									<div class="status-progress__money">15 000 <span class="c-rub">₽</span></div>
								</div>
								<div class="status-progress__item status-progress__item--level-4">
									<div class="status-progress__name status-progress-name">
										<div class="status-progress-name__content">
											<span class="status-progress-name__number">10</span><span class="status-progress-name__percent-sign">%</span>
										</div>
									</div>
									<div class="status-progress__bar status-progress-bar">
										<div class="status-progress-bar__circle"></div>
										<div class="status-progress-bar__line"></div>
									</div>
									<div class="status-progress__money">25 000 <span class="c-rub">₽</span></div>
								</div>
							</div>
						</div>
	
						<h2 class="ttl ttl--2 ttl--account">Как работает бонусная программа</h2>
	
						<ul class="acc-bonuses-info">
							<li class="acc-bonuses-info__item">
								<span class="acc-bonuses-info__ttl">1. Совершайте покупки</span>
								<p>Бонусы начисляются на сайте, в приложении и ресторане.</p>
							</li>
							<li class="acc-bonuses-info__item">
								<span class="acc-bonuses-info__ttl">2. Накапливайте бонусы</span>
								<p>Процент от суммы заказа возвращается на бонусный счет.</p>
								<p>Зачисление и списание бонусов происходит раз в сутки, в конце дня.</p>
							</li>
							<li class="acc-bonuses-info__item">
								<span class="acc-bonuses-info__ttl">3. Используйте бонусы</span>
								<p>Оплачивайте бонусами часть заказа или целиком.</p>
							</li>
						</ul>
	
					</div>
				</div>
			</div>
		</div>
	</div>