<div class="acc-page">
	<h1>Личный кабинет</h1>
	
	<div class="acc-page__row">
		<div class="acc-page__row acc-page__row--main">
			<div class="acc-page__col acc-page__col--nav acc-navbar-container">
				<div class="acc-navbar js-acc-navbar-open js-acc-navbar-mobile">
					<div class="acc-navbar-user">
						<span class="acc-navbar-user__icon"></span>
						<span class="acc-navbar-user__name">Иван Иванович</span>
						<button class="acc-navbar-toggle">▼</button>
					</div>
					<div class="acc-nav">
						<div class="acc-nav-user">
							<span class="acc-nav-user__name">Иван Иванович</span>
							<button class="acc-nav-toggle">▲</button>
						</div>
						<ul class="acc-nav__list">
							<li class="acc-nav__item acc-nav__item--profile">
								<a href="" class="acc-nav__button">Личные данные</a>
							</li>
							<li class="acc-nav__item acc-nav__item--card">
								<a href="" class="acc-nav__button">Банковские карты</a>
							</li>
							<li class="acc-nav__item acc-nav__item--bonuses">
								<a href="" class="acc-nav__button">Бонусы</a>
							</li>
							<li class="acc-nav__item acc-nav__item--history">
								<a href="" class="acc-nav__button">История заказов</a>
							</li>
							<li class="acc-nav__item acc-nav__item--addresses acc-nav__item--active">
								<a href="" class="acc-nav__button">Адреса</a>
							</li>
							<li class="acc-nav__item acc-nav__item--notifications">
								<a href="" class="acc-nav__button">Уведомления</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="acc-page__col">
				<div class="acc-page__main-content acc-page__main-content--history">
					<div class="acc-bonusbar">
						<div class="acc-bonusbar__row">
							<div class="acc-bonusbar__col">
								<div class="acc-bonusbar-item acc-bonusbar-item--total">
									<div class="acc-bonusbar-item__main">
										<span class="acc-bonusbar-item__name">Бонусы:</span>
										<span class="acc-bonusbar-item__value">500</span>
									</div>
									<span class="acc-bonusbar-item__info">1 бонус = 1 рубль</span>
								</div>
							</div>
							<div class="acc-bonusbar__col">
								<div class="acc-bonusbar-item acc-bonusbar-item--card">
									<div class="acc-bonusbar-item__main">
										<span class="acc-bonusbar-item__name">Бонусная карта:</span>
										<span class="acc-bonusbar-item__value">20%</span>
									</div>
									<span class="acc-bonusbar-item__info">5000 рублей до 10%</span>
								</div>
							</div>
						</div>
					</div>

					<h2 class="ttl ttl--2 ttl--account">Адреса</h2>

					<div class="form form--lite acc-address-form acc-address-form--new-address js-acc-address">
						<div class="acc-address-group acc-address-group--address-list">
							<div class="acc-address-group__row">
								<div class="acc-address-group__col">
									<div class="acc-address-list">
										<div class="acc-address-list__row">
											<div class="acc-address-list__col acc-address-list__col--list">
												<div class="acc-address-list__select-box">
													<select class="select">
														<option>Новый адрес</option>
														<option data-opt-content="{
																&quot;html&quot;:	&quot;&lt;div class=\&quot;acc-address-list__opt\&quot;&gt;&lt;span class=\&quot;acc-address-list__opt-name\&quot;&gt;Дом&lt;/span&gt;&lt;span class=\&quot;acc-address-list__opt-addr\&quot;&gt;ул. Ленина, д. 100, кв. 500&lt;/span&gt;&lt;/div&gt;&quot;
															}">
															Дом
														</option>
														<option data-opt-content="{
																&quot;html&quot;:	&quot;&lt;div class=\&quot;acc-address-list__opt\&quot;&gt;&lt;span class=\&quot;acc-address-list__opt-name\&quot;&gt;Работа&lt;/span&gt;&lt;span class=\&quot;acc-address-list__opt-addr\&quot;&gt;ул. Двадцати Шести Бакинских Комиссаров, д. 15, кв. 30&lt;/span&gt;&lt;/div&gt;&quot;
															}">
															Работа
														</option>
														<option data-opt-content="{
																&quot;html&quot;:	&quot;&lt;div class=\&quot;acc-address-list__opt\&quot;&gt;&lt;span class=\&quot;acc-address-list__opt-name\&quot;&gt;Друзья&lt;/span&gt;&lt;span class=\&quot;acc-address-list__opt-addr\&quot;&gt;ул. Московкая, д. 10, кв. 300&lt;/span&gt;&lt;/div&gt;&quot;
															}">
															Друзья
														</option>
													</select>
												</div>
											</div>
											<div class="acc-address-list__col acc-address-list__col--add">
												<button type="button" class="acc-address-list__add" title="Новый адрес">+</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="acc-address-group acc-address-group--address">
							<div class="acc-address-group__row">
								<div class="acc-address-group__col">
									<div class="acc-address">
										<label class="form-label form-label--default">Улица</label>
										<div class="form-control-group form-control-group--default">
											<input type="text" class="form-control form-control--text form-control--default">
										</div>
									</div>
								</div>
								<div class="acc-address-group__col">
									<div class="acc-address-group acc-address-group--address-g1">
										<div class="acc-address-group__row">
											<div class="acc-address-group__col">
												<div class="acc-address">
													<label class="form-label form-label--default">Дом</label>
													<div class="form-control-group form-control-group--default">
														<input type="text" class="form-control form-control--text form-control--default">
													</div>
												</div>
											</div>
											<div class="acc-address-group__col">
												<div class="acc-address">
													<label class="form-label form-label--default">Подъезд</label>
													<div class="form-control-group form-control-group--default">
														<input type="text" class="form-control form-control--text form-control--default">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="acc-address-group__col">
									<div class="acc-address-group acc-address-group--address-g2">
										<div class="acc-address-group__row">
											<div class="acc-address-group__col">
												<div class="acc-address">
													<label class="form-label form-label--default">Квартира</label>
													<div class="form-control-group form-control-group--default">
														<input type="text" class="form-control form-control--text form-control--default">
													</div>
												</div>
											</div>
											<div class="acc-address-group__col">
												<div class="acc-address">
													<label class="form-label form-label--default">Этаж</label>
													<div class="form-control-group form-control-group--default">
														<input type="text" class="form-control form-control--text form-control--default">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="acc-address-group__row acc-address-group__row--address-name">
								<div class="acc-address-group__col">
									<div class="acc-address-name">
										<label class="form-label form-label--default">Название адреса</label>
										<div class="form-control-group form-control-group--default">
											<input type="text" class="form-control form-control--text form-control--default">
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="acc-address-buttons acc-address-buttons--address">
							<div class="acc-address-buttons__row">
								<div class="acc-address-buttons__col">
									<button type="button" class="button button--default button--m button--border-radius-m acc-address-change">
										<span class="button__text">Изменить адрес</span>
									</button>
								</div>
								<div class="acc-address-buttons__col acc-address-buttons__col--cancel">
									<button type="button" class="button button--default button--m button--text button--grey acc-address-cancel">
										<span class="button__icon button__icon--reload-grey"></span><span class="button__text">Отмена</span>
									</button>
								</div>
								<div class="acc-address-buttons__col acc-address-buttons__col--remove">
									<button type="button" class="button button--default button--m button--text acc-address-remove" title="Удалить адрес">
										<span class="button__icon button__icon--trash-grey"></span>
									</button>
								</div>
							</div>
						</div>

						<div class="acc-address-buttons acc-address-buttons--new-address">
							<div class="acc-address-buttons__row">
								<div class="acc-address-buttons__col">
									<button type="button" class="button button--default button--m button--border-radius-m acc-address-save">
										<span class="button__text">Сохранить адрес</span>
									</button>
								</div>
								<div class="acc-address-buttons__col acc-address-buttons__col--cancel">
									<button type="button" class="button button--default button--m button--text button--grey acc-address-cancel">
										<span class="button__icon button__icon--reload-grey"></span><span class="button__text">Отмена</span>
									</button>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>