<div class="acc-page">
	<h1>Личный кабинет</h1>
	
	<div class="acc-page__row">
		<div class="acc-page__row acc-page__row--main">
			<div class="acc-page__col acc-page__col--nav acc-navbar-container">
				<div class="acc-navbar js-acc-navbar-open js-acc-navbar-mobile">
					<div class="acc-navbar-user">
						<span class="acc-navbar-user__icon"></span>
						<span class="acc-navbar-user__name">Иван Иванович</span>
						<button class="acc-navbar-toggle">▼</button>
					</div>
					<div class="acc-nav">
						<div class="acc-nav-user">
							<span class="acc-nav-user__name">Иван Иванович</span>
							<button class="acc-nav-toggle">▲</button>
						</div>
						<ul class="acc-nav__list">
							<li class="acc-nav__item acc-nav__item--profile">
								<a href="" class="acc-nav__button">Личные данные</a>
							</li>
							<li class="acc-nav__item acc-nav__item--card acc-nav__item--active">
								<a href="" class="acc-nav__button">Банковские карты</a>
							</li>
							<li class="acc-nav__item acc-nav__item--bonuses">
								<a href="" class="acc-nav__button">Бонусная карта</a>
							</li>
							<li class="acc-nav__item acc-nav__item--history">
								<a href="" class="acc-nav__button">История заказов</a>
							</li>
							<li class="acc-nav__item acc-nav__item--addresses">
								<a href="" class="acc-nav__button">Адреса</a>
							</li>
							<li class="acc-nav__item acc-nav__item--notifications">
								<a href="" class="acc-nav__button">Уведомления</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="acc-page__col">
				<div class="acc-page__main-content">
					<div class="acc-bonusbar">
						<div class="acc-bonusbar__row">
							<div class="acc-bonusbar__col">
								<div class="acc-bonusbar-item acc-bonusbar-item--total">
									<div class="acc-bonusbar-item__main">
										<span class="acc-bonusbar-item__name">Бонусы:</span>
										<span class="acc-bonusbar-item__value">2500</span>
									</div>
									<span class="acc-bonusbar-item__info">1 бонус = 1 рубль</span>
								</div>
							</div>
							<div class="acc-bonusbar__col">
								<div class="acc-bonusbar-item acc-bonusbar-item--card">
									<div class="acc-bonusbar-item__main">
										<span class="acc-bonusbar-item__name">Статус карты:</span>
										<span class="acc-bonusbar-item__value">«7%»</span>
									</div>
									<div class="acc-bonusbar-item__info">
										5000 рублей до «10%»
									</div>
								</div>
							</div>
						</div>
						<div class="acc-bonusbar__await js-acc-bonus-await-info-toggle-delegate">
							<div class="b-acc-bonus-await b-acc-bonus-await--info-closed">
								<div class="e-ibar">
									<div class="o-grid e-ibar-grid e-ibar-grid--main">
										<div class="o-row">
											<div class="o-col o-col--title">
												<span class="e-ibar-title">Ожидается:</span>
											</div>
											<div class="o-col o-col--items">
												<div class="o-grid e-ibar-grid e-ibar-grid--items">
													<div class="o-row">
														<span class="o-col">
															<span class="e-ibar-minus">- 1300</span>
														</span>
														<span class="o-col">
															<span class="e-ibar-plus">+ 100</span>
														</span>
														<span class="o-col">
															<button type="button" class="e-info-toggle">?</button>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="e-info">
									Зачисление и списание бонусов происходит раз в сутки, в конце дня.
								</div>
							</div>
						</div>
					</div>

					<h2 class="ttl ttl--2 ttl--account">Банковские карты</h2>

					<div class="acc-cards">
						<div class="acc-cards__list">
							<div class="acc-cards__item">
								<div class="acc-card">
									<button type="button" class="acc-card__x">X</button>
									<div class="acc-card__system">
										<img src="images/ico-bcard-mastercard-60x60.png">
									</div>
									<div class="acc-card__name">MasterCard - Сбербанк</div>
									<div class="acc-card__number">4378</div>
									<label class="acc-card-basic">
										<input type="radio" name="acc-card" id="acc-card-0" class="acc-card-basic__control">
										<div class="acc-card-basic__content">
											<span class="acc-card-basic__enabled">Основная</span>
											<span class="acc-card-basic__disabled">Сделать основной</span>
										</div>
									</label>
									<span class="acc-card-invalid">Недействительна</span>
								</div>
							</div>
							<div class="acc-cards__item">
								<div class="acc-card">
									<button type="button" class="acc-card__x">X</button>
									<div class="acc-card__system">
										<img src="images/ico-bcard-mastercard-60x60.png">
									</div>
									<div class="acc-card__name">MasterCard - ВТБ</div>
									<div class="acc-card__number">4378</div>
									<label class="acc-card-basic">
										<input type="radio" name="acc-card" id="acc-card-1"  class="acc-card-basic__control">
										<div class="acc-card-basic__content">
											<span class="acc-card-basic__enabled">Основная</span>
											<span class="acc-card-basic__disabled">Сделать основной</span>
										</div>
									</label>
									<span class="acc-card-invalid">Недействительна</span>
								</div>
							</div>
							<div class="acc-cards__item">
								<div class="acc-card">
									<button type="button" class="acc-card__x">X</button>
									<div class="acc-card__system">
										<img src="images/ico-bcard-visa-60x60.jpg">
									</div>
									<div class="acc-card__name">Visa - Альфа-Банк</div>
									<div class="acc-card__number">4378</div>
									<label class="acc-card-basic">
										<input type="radio" name="acc-card" id="acc-card-1"  class="acc-card-basic__control">
										<div class="acc-card-basic__content">
											<span class="acc-card-basic__enabled">Основная</span>
											<span class="acc-card-basic__disabled">Сделать основной</span>
										</div>
									</label>
									<span class="acc-card-invalid">Недействительна</span>
								</div>
							</div>
							<div class="acc-cards__item">
								<div class="acc-card acc-card--invalid">
									<button type="button" class="acc-card__x">X</button>
									<div class="acc-card__system">
										<img src="images/ico-bcard-visa-60x60.jpg">
									</div>
									<div class="acc-card__name">Visa - ВЭБ</div>
									<div class="acc-card__number">4378</div>
									<label class="acc-card-basic">
										<input type="radio" name="acc-card" id="acc-card-1"  class="acc-card-basic__control">
										<div class="acc-card-basic__content">
											<span class="acc-card-basic__enabled">Основная</span>
											<span class="acc-card-basic__disabled">Сделать основной</span>
										</div>
									</label>
									<span class="acc-card-invalid">Недействительна</span>
								</div>
							</div>
						</div>

						<button type="button" class="acc-cards-add">
							Добавить карту
						</button>
					</div>

					<h2 class="ttl ttl--2 ttl--account">Информация</h2>

					<ul class="acc-cards-info">
						<li class="acc-cards-info__item acc-cards-info__item--icon-cards">
							Сохранив информацию о банковской карте, вы избавитесь от необходимости
							заполнения этих данных при каждом платеже.
							В личном кабинете можно хранить данные нескольких карт.
							Чтобы настроить платежи с конкретной карты, необходимо выбрать её «основной».
						</li>
						<li class="acc-cards-info__item acc-cards-info__item--icon-shield-lock">
							Вся информация о платежных картах хранится в зашифрованном виде
							в защищенных базах данных банка-эквайера, сертифицированных
							по международному стандарту PCI DSS.
						</li>
					</ul>

				</div>
			</div>
		</div>
	</div>
</div>