<div class="acc-page">
	<h1>Личный кабинет</h1>
	
	<div class="acc-page__row">
		<div class="acc-page__row acc-page__row--main">
			<div class="acc-page__col acc-page__col--nav acc-navbar-container">
				<div class="acc-navbar js-acc-navbar-open js-acc-navbar-mobile">
					<div class="acc-navbar-user">
						<span class="acc-navbar-user__icon"></span>
						<span class="acc-navbar-user__name">Иван Иванович</span>
						<button class="acc-navbar-toggle">▼</button>
					</div>
					<div class="acc-nav">
						<div class="acc-nav-user">
							<span class="acc-nav-user__name">Иван Иванович</span>
							<button class="acc-nav-toggle">▲</button>
						</div>
						<ul class="acc-nav__list">
							<li class="acc-nav__item acc-nav__item--profile">
								<a href="" class="acc-nav__button">Личные данные</a>
							</li>
							<li class="acc-nav__item acc-nav__item--card">
								<a href="" class="acc-nav__button">Банковские карты</a>
							</li>
							<li class="acc-nav__item acc-nav__item--bonuses">
								<a href="" class="acc-nav__button">Бонусная карта</a>
							</li>
							<li class="acc-nav__item acc-nav__item--history acc-nav__item--active">
								<a href="" class="acc-nav__button">История заказов</a>
							</li>
							<li class="acc-nav__item acc-nav__item--addresses">
								<a href="" class="acc-nav__button">Адреса</a>
							</li>
							<li class="acc-nav__item acc-nav__item--notifications">
								<a href="" class="acc-nav__button">Уведомления</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="acc-page__col">
				<div class="acc-page__main-content acc-page__main-content--history">
					<div class="acc-bonusbar">
						<div class="acc-bonusbar__row">
							<div class="acc-bonusbar__col">
								<div class="acc-bonusbar-item acc-bonusbar-item--card">
									<div class="acc-bonusbar-item__main">
										<span class="acc-bonusbar-item__name">Статус карты:</span>
										<span class="acc-bonusbar-item__value">«7%»</span>
									</div>
									<div class="acc-bonusbar-item__info">
										5000 рублей до «10%»
									</div>
								</div>
							</div>
							<div class="acc-bonusbar__col">
								<div class="acc-bonusbar-item acc-bonusbar-item--total">
									<div class="acc-bonusbar-item__main">
										<span class="acc-bonusbar-item__name">Бонусы:</span>
										<span class="acc-bonusbar-item__value">500</span>
									</div>
									<span class="acc-bonusbar-item__info">1 бонус = 1 рубль</span>
								</div>
							</div>
						</div>
					</div>

					<h2 class="ttl ttl--2 ttl--account">История заказов</h2>

					<div class="acc-history-filter">
						<div class="acc-history-fdate">
							<div class="acc-history-fdate__row">
								<div class="acc-history-fdate__col">
									<label class="acc-history-fdate__label">Показать от</label>
								</div>
								<div class="acc-history-fdate__col acc-history-fdate__col--control">
									<div class="form-control-group acc-history-fdate__control-group">
										<input class="form-control form-control--text form-control--default" value="2017.01.01 - 2018.01.01">
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="acc-history-list js-account-history-delegate">
						<div class="acc-history">
							<div class="acc-history__box acc-history__box--order-number">
								<span class="acc-history__name">Номер заказа:</span>
								<span class="acc-history__value acc-history__detail-toggle">758915</span>
							</div>
							<div class="acc-history__box acc-history__box--date">
								<span class="acc-history__name">Дата доставки:</span>
								<span class="acc-history__value">01.08.2018</span>
							</div>
							<div class="acc-history__box acc-history__box--total">
								<span class="acc-history__name">Сумма:</span>
								<span class="acc-history__value">13 700 <span class="acc-rub">₽</span></span>								
							</div>
							<div class="acc-history__box acc-history__box--detail">
								<div class="acc-history__detail">
									<div class="acc-history__detail-main">
										<button type="button" class="acc-history__detail-close acc-history__detail-toggle">X</button>
										<div class="acc-history-detail-list">
											<div class="acc-history-detail">
												<div class="acc-history-detail__box acc-history-detail__box--product">
													<span class="acc-history-detail__name">Киото <span class="acc-history-detail__quantity">(5 шт.)</span></span>
												</div>
												<div class="acc-history-detail__box acc-history-detail__box--price">
													700 <span class="acc-rub">₽</span>
												</div>
											</div>
											<div class="acc-history-detail">
												<div class="acc-history-detail__box acc-history-detail__box--product">
													<span class="acc-history-detail__name">Запеченный с лососем и креветкой <span class="acc-history-detail__quantity">(2 шт.)</span></span>
													<span class="acc-history-detail__info acc-history-detail__info--ingredients">Васаби, имбирь, соус спайси</span>
												</div>
												<div class="acc-history-detail__box acc-history-detail__box--price">
													700 <span class="acc-rub">₽</span>
												</div>
											</div>
											<div class="acc-history-detail">
												<div class="acc-history-detail__box acc-history-detail__box--product">
													<span class="acc-history-detail__name">Классическая филадельфия <span class="acc-history-detail__quantity">(2 шт.)</span></span>
												</div>
												<div class="acc-history-detail__box acc-history-detail__box--price">
													700 <span class="acc-rub">₽</span>
												</div>
											</div>
										</div>
									</div>
									<div class="acc-history-bonus">
										<span class="acc-history-bonus__title">Бонусы:</span>
										<span class="acc-history-bonus__minus">- 100</span>
										<span class="acc-history-bonus__plus">+ 300</span>
									</div>
								</div>
							</div>
							<div class="acc-history__box acc-history__box--detail-open">
								<button type="button" class="acc-history__detail-open acc-history__detail-toggle">O</button>
							</div>
						</div>
						<div class="acc-history">
							<div class="acc-history__box acc-history__box--order-number">
								<span class="acc-history__name">Номер заказа:</span>
								<span class="acc-history__value acc-history__detail-toggle">758915</span>
							</div>
							<div class="acc-history__box acc-history__box--date">
								<span class="acc-history__name">Дата доставки:</span>
								<span class="acc-history__value">01.08.2018</span>
							</div>
							<div class="acc-history__box acc-history__box--total">
								<span class="acc-history__name">Сумма:</span>
								<span class="acc-history__value">4 000 <span class="acc-rub">₽</span></span>								
							</div>
							<div class="acc-history__box acc-history__box--detail">
								<div class="acc-history__detail">
									<div class="acc-history__detail-main">
										<button type="button" class="acc-history__detail-close acc-history__detail-toggle">X</button>
										<div class="acc-history-detail-list">
											<div class="acc-history-detail">
												<div class="acc-history-detail__box acc-history-detail__box--product">
													<span class="acc-history-detail__name">Киото <span class="acc-history-detail__quantity">(5 шт.)</span></span>
												</div>
												<div class="acc-history-detail__box acc-history-detail__box--price">
													700 <span class="acc-rub">₽</span>
												</div>
											</div>
											<div class="acc-history-detail">
												<div class="acc-history-detail__box acc-history-detail__box--product">
													<span class="acc-history-detail__name">Запеченный с лососем и креветкой <span class="acc-history-detail__quantity">(2 шт.)</span></span>
													<span class="acc-history-detail__info acc-history-detail__info--ingredients">Васаби, имбирь, соус спайси</span>
												</div>
												<div class="acc-history-detail__box acc-history-detail__box--price">
													700 <span class="acc-rub">₽</span>
												</div>
											</div>
											<div class="acc-history-detail">
												<div class="acc-history-detail__box acc-history-detail__box--product">
													<span class="acc-history-detail__name">Классическая филадельфия <span class="acc-history-detail__quantity">(2 шт.)</span></span>
												</div>
												<div class="acc-history-detail__box acc-history-detail__box--price">
													700 <span class="acc-rub">₽</span>
												</div>
											</div>
										</div>
									</div>
									<div class="acc-history-bonus">
										<span class="acc-history-bonus__title">Бонусы:</span>
										<span class="acc-history-bonus__minus">- 100</span>
										<span class="acc-history-bonus__plus">+ 300</span>
									</div>
								</div>
							</div>
							<div class="acc-history__box acc-history__box--detail-open">
								<button type="button" class="acc-history__detail-open acc-history__detail-toggle">O</button>
							</div>
						</div>
						<div class="acc-history">
							<div class="acc-history__box acc-history__box--order-number">
								<span class="acc-history__name">Номер заказа:</span>
								<span class="acc-history__value acc-history__detail-toggle">758915</span>
							</div>
							<div class="acc-history__box acc-history__box--date">
								<span class="acc-history__name">Дата доставки:</span>
								<span class="acc-history__value">01.08.2018</span>
							</div>
							<div class="acc-history__box acc-history__box--total">
								<span class="acc-history__name">Сумма:</span>
								<span class="acc-history__value">200 500 <span class="acc-rub">₽</span></span>								
							</div>
							<div class="acc-history__box acc-history__box--detail">
								<div class="acc-history__detail">
									<div class="acc-history__detail-main">
										<button type="button" class="acc-history__detail-close acc-history__detail-toggle">X</button>
										<div class="acc-history-detail-list">
											<div class="acc-history-detail">
												<div class="acc-history-detail__box acc-history-detail__box--product">
													<span class="acc-history-detail__name">Киото <span class="acc-history-detail__quantity">(5 шт.)</span></span>
												</div>
												<div class="acc-history-detail__box acc-history-detail__box--price">
													700 <span class="acc-rub">₽</span>
												</div>
											</div>
											<div class="acc-history-detail">
												<div class="acc-history-detail__box acc-history-detail__box--product">
													<span class="acc-history-detail__name">Запеченный с лососем и креветкой <span class="acc-history-detail__quantity">(2 шт.)</span></span>
													<span class="acc-history-detail__info acc-history-detail__info--ingredients">Васаби, имбирь, соус спайси</span>
												</div>
												<div class="acc-history-detail__box acc-history-detail__box--price">
													700 <span class="acc-rub">₽</span>
												</div>
											</div>
											<div class="acc-history-detail">
												<div class="acc-history-detail__box acc-history-detail__box--product">
													<span class="acc-history-detail__name">Классическая филадельфия <span class="acc-history-detail__quantity">(2 шт.)</span></span>
												</div>
												<div class="acc-history-detail__box acc-history-detail__box--price">
													700 <span class="acc-rub">₽</span>
												</div>
											</div>
										</div>
									</div>
									<div class="acc-history-bonus">
										<span class="acc-history-bonus__title">Бонусы:</span>
										<span class="acc-history-bonus__minus">- 100</span>
										<span class="acc-history-bonus__plus">+ 300</span>
									</div>
								</div>
							</div>
							<div class="acc-history__box acc-history__box--detail-open">
								<button type="button" class="acc-history__detail-open acc-history__detail-toggle">O</button>
							</div>
						</div>
					</div>

					<div class="paginator-lt acc-history-paginator js-paginator-lt">
						<button type="button" class="paginator-lt-button paginator-lt-button--prev" disabled>
							<span class="paginator-lt-button__text">Назад</span>
						</button>
						<div class="paginator-lt-pages">
							<select
								class="select paginator-lt__select"
								data-paginator-settings="{
									&quot;totalPages&quot;:	20
								}">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option>6</option>
								<option>7</option>
								<option>8</option>
								<option>9</option>
								<option>10</option>
								<option>11</option>
							</select>
						</div>
						<button type="button" class="paginator-lt-button paginator-lt-button--next">
							<span class="paginator-lt-button__text">Вперед</span>
						</button>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>