<div class="acc-page">
	<h1>Личный кабинет</h1>
	
	<div class="acc-page__row">
		<div class="acc-page__row acc-page__row--main">
			<div class="acc-page__col acc-page__col--nav acc-navbar-container">
				<div class="acc-navbar acc-navbar--mobile-margin-bottom-l js-acc-navbar-open js-acc-navbar-mobile">
					<div class="acc-navbar-user">
						<span class="acc-navbar-user__icon"></span>
						<span class="acc-navbar-user__name">Иван Иванович</span>
						<button class="acc-navbar-toggle">▼</button>
					</div>
					<div class="acc-nav">
						<div class="acc-nav-user">
							<span class="acc-nav-user__name">Иван Иванович</span>
							<button class="acc-nav-toggle">▲</button>
						</div>
						<ul class="acc-nav__list">
							<li class="acc-nav__item acc-nav__item--profile">
								<a href="" class="acc-nav__button">Личные данные</a>
							</li>
							<li class="acc-nav__item acc-nav__item--card">
								<a href="" class="acc-nav__button">Банковские карты</a>
							</li>
							<li class="acc-nav__item acc-nav__item--bonuses acc-nav__item--active">
								<a href="" class="acc-nav__button">Бонусная карта</a>
							</li>
							<li class="acc-nav__item acc-nav__item--history">
								<a href="" class="acc-nav__button">История заказов</a>
							</li>
							<li class="acc-nav__item acc-nav__item--addresses">
								<a href="" class="acc-nav__button">Адреса</a>
							</li>
							<li class="acc-nav__item acc-nav__item--notifications">
								<a href="" class="acc-nav__button">Уведомления</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="acc-page__col">
				<div class="acc-page__main-content">
					<h2 class="ttl ttl--2 ttl--account">Моя бонусная карта</h2>
					
					<div class="acc-bonus">
						<div class="acc-bonus__stat">
							<div class="acc-bonusbar acc-bonusbar--bonus">
								<div class="acc-bonusbar__row">
									<div class="acc-bonusbar__col">
										<div class="acc-bonusbar-item acc-bonusbar-item--card">
											<div class="acc-bonusbar-item__main">
												<span class="acc-bonusbar-item__name">Статус карты:</span>
												<span class="acc-bonusbar-item__value">«7%»</span>
											</div>
											<div class="acc-bonusbar-item__info">
												5000 рублей до «10%»
											</div>
										</div>
									</div>
									<div class="acc-bonusbar__col">
										<div class="acc-bonusbar-item acc-bonusbar-item--total">
											<div class="acc-bonusbar-item__main">
												<span class="acc-bonusbar-item__name">Бонусы:</span>
												<span class="acc-bonusbar-item__value">500</span>
											</div>
											<span class="acc-bonusbar-item__info">1 бонус = 1 рубль</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="acc-bonus__qr">
							<button type="button" class="acc-show-qr acc-show-qr--text acc-show-qr--bonus">
								<span class="acc-show-qr__icon"></span><span class="acc-show-qr__text">Показать QR-код карты</span>
							</button>
						</div>
					</div>

					<h2 class="ttl ttl--2 ttl--account">Как работает бонусная программа</h2>

					<ul class="acc-bonuses-info">
						<li class="acc-bonuses-info__item">
							<span class="acc-bonuses-info__ttl">1. Совершайте покупки</span>
							<p>Бонусы начисляются на сайте, в приложении и ресторане.</p>
						</li>
						<li class="acc-bonuses-info__item">
							<span class="acc-bonuses-info__ttl">2. Накапливайте бонусы</span>
							<p>5% от суммы заказа возвращается на бонусный счет.</p>
						</li>
						<li class="acc-bonuses-info__item">
							<span class="acc-bonuses-info__ttl">3. Используйте бонусы</span>
							<p>Оплачивайте бонусами часть заказа или целиком.</p>
						</li>
					</ul>

				</div>
			</div>
		</div>
	</div>
</div>