<div class="popup-page popup-page-qr" style="display: block;">
	<div class="popup-page__out">
		 <div class="popup-page__in">
			  <div class="popup-page__content">
					<div class="popup-page__close"></div>
					<h2>QR-код моей бонусной карты</h2>

					<div class="qr-code-mdl">
						<div class="qr-code-mdl__image-box">
							<img src="images/dev-qrcode-sk.svg" class="qr-code-mdl__image">
						</div>
						<div class="qr-code-mdl__num-box">
							<span class="qr-code-mdl__num">7800005893702340</span>
						</div>
					</div>
			  </div>
		 </div>
	</div>
</div>