$button-s-height: 34px;
$button-s-border-radius: 5px;

$button-m-height: 42px;
$button-m-padding-h: 15px;
$button-m-border-radius: 5px;

$button-l-height: 47px;

$link-orig-color: $color-red;
$link-orig-color-active: #000;
$link-orig-border-color: rgba(187,16,24,0.2);
$link-orig-border-color-active: rgba(0,0,0,0.2);