$color-red: #bb1018;
// $color-red-active: #d00711;
$color-red-active: #da5848;

// $color-grey-light: #b2b2b2; // изначальный цвет
$color-grey-light: #a5a5a5; // цвет из хедера

$border-color-grey-light: #f0f0f0;