$account-bp-mobile: 800px;
$account-bp-bonusbar-mobile: 460px;
$account-bp-mobile-full-width: 460px;
$account-color-grey-light: #b2b2b2;

$account-user-icon-size: 38px;
$account-user-icon-space: 10px;
$account-user-font-size: 18px;
$account-user-line-height: 1.2;

$account-main-content-max-width: 530px;
$account-main-content-space-h: 18px;