
// card
$account-bonuses-card-width: 248px;
$account-bonuses-card-height: 144px;

$account-bonuses-card-padding-h: 15px;
$account-bonuses-card-padding-v: 15px;

$account-bonuses-card-status-gradient-level-1: linear-gradient(135deg, rgba(255,233,118,1) 0%,rgba(253,213,110,1) 100%);
$account-bonuses-card-status-gradient-level-2: linear-gradient(135deg, rgba(255,141,59,1) 0%,rgba(238,100,56,1) 100%);;
$account-bonuses-card-status-gradient-level-3: linear-gradient(135deg, rgba(253,118,88,1) 0%,rgba(251,69,57,1) 100%);
$account-bonuses-card-status-gradient-level-4: linear-gradient(135deg, rgba(201,81,231,1) 0%,rgba(252,93,169,1) 100%);