.b-lunch-has-garnish-container {
	margin: 0 0 5px 0;

	&:last-child {
		margin-bottom: 0;
	}
}

.b-lunch-has-garnish {
	display: inline-block;
	line-height: 1;
	padding: 3px 10px;
	font-size: 12px;
	border: 1px solid #62ba5d;
	border-radius: 3px;
	vertical-align: middle;
	color: #62ba5d;
}