.combo-sktab {
	margin-top: 23px + 3px;

	@media (max-width: 1200px) {
		margin-top: 15px + 10px;
	}

	@media (max-width: 520px) {
		margin-top: 15px + 15px;
		text-align: center;
		
		& > .sktab-content {
			text-align: left;
		}
	}

	@media (max-width: 460px) {
		margin-top: 15px + 12px;
		
		& > .sktab-nav-wrapper {
			margin-bottom: 27px;

			.sktab-nav__button {
				font-size: 15px;
			}
		}
	}

	& > .sktab-nav-wrapper {
		margin-bottom: 30px;
	}
}