.combo-group {
	padding: $combo-group-v-space 0;
	border-bottom: 1px solid #f0f0f0;

	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		padding-bottom: 0;
		border-bottom: 0;
	}
}

.combo-group-title {
	display: block;
	margin: 0 0 10px 0;
	font-weight: bold;
	font-size: 13px;
}