.combo-section {
	&--complex {
		// margin: 0 0 ($combo-grid-col-v-space-complex * 2 + 15px) 0;
		margin: 0 0 40px 0;

		// @media (max-width: 1200px) {
		// 	margin-bottom: 35px;
		// }

		@media (max-width: $combo-bp-mobile) {
			margin-bottom: 35px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.combo-section-title {
	&.ttl--2 {
		font-size: 20px;
		margin: 0 0 20px 0;
	}

	&--complex {
		&.ttl--2 {
			font-size: 20px;
			margin: 0 0 20px 0;
		}
	}	
}