@font-face {
  font-family: 'Yanone';
  src:
    url('../fonts/Yanone-Regular.otf')  format('opentype'),
    url('../fonts/Yanone-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Roboto

/* roboto-regular - cyrillic_latin_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v18-cyrillic_latin_cyrillic-ext-regular.woff2') format('woff2'),
       url('../fonts/roboto-v18-cyrillic_latin_cyrillic-ext-regular.woff') format('woff'),
       url('../fonts/roboto-v18-cyrillic_latin_cyrillic-ext-regular.ttf') format('truetype');
}
/* roboto-italic - cyrillic_latin_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'),
       url('../fonts/roboto-v18-cyrillic_latin_cyrillic-ext-italic.woff2') format('woff2'),
       url('../fonts/roboto-v18-cyrillic_latin_cyrillic-ext-italic.woff') format('woff'),
       url('../fonts/roboto-v18-cyrillic_latin_cyrillic-ext-italic.ttf') format('truetype');
}
/* roboto-700 - cyrillic_latin_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v18-cyrillic_latin_cyrillic-ext-700.woff2') format('woff2'),
       url('../fonts/roboto-v18-cyrillic_latin_cyrillic-ext-700.woff') format('woff'),
       url('../fonts/roboto-v18-cyrillic_latin_cyrillic-ext-700.ttf') format('truetype');
}
/* roboto-700italic - cyrillic_latin_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
       url('../fonts/roboto-v18-cyrillic_latin_cyrillic-ext-700italic.woff2') format('woff2'),
       url('../fonts/roboto-v18-cyrillic_latin_cyrillic-ext-700italic.woff') format('woff'),
       url('../fonts/roboto-v18-cyrillic_latin_cyrillic-ext-700italic.ttf') format('truetype');
}