@font-face {
  font-family: 'Yanone';
  src:
    url('../fonts/Yanone-Regular.otf')  format('opentype'),
    url('../fonts/Yanone-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CoreRhinoBlack';
  src:
    url('../fonts/CoreRhino85Black.otf')  format('opentype'),
    url('../fonts/CoreRhino85Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}