<!-- Plugins -->
<script type="text/javascript" src="js/vendor/photoswipe.min.js"></script>
<script type="text/javascript" src="js/vendor/photoswipe-ui-default.min.js"></script>

<!-- Header Scripts -->
<script type="text/javascript" src="js/header-v2.1.js"></script>
<script type="text/javascript" src="js/h-city-toggle.js"></script>
<script type="text/javascript" src="js/h-acc.js"></script>

<!-- Layout Scripts -->
<script type="text/javascript" src="js/sktab.js"></script>
<script type="text/javascript" src="js/paginator-lt.js"></script>