.acc-user {
	
}

.acc-user-form {
	.form-label {
		&--default {
			margin-bottom: 7px;
			font-size: 14px;
			color: $account-color-grey-light;
		}
	}
	
	.form-group {
		max-width: 280px;

		@media (max-width: $account-bp-mobile-full-width) {
			max-width: 100%;
		}
	}
}

.acc-user-rules {
	margin: 30px 0 40px 0;

	&__group {}
}

.acc-user-rules-labelcheck {
	&__text {
		margin-left: 10px;
		color: #000;
	}
}


.acc-user-buttons {
	display: table;
	margin: 0 0 30px 0;

	&:last-child {
		margin-bottom: 0;
	}
}

.acc-user-button {
	display: table-cell;
	padding-left: 30px;

	&:first-child {
		padding-left: 0;
	}
}