.acc-bonusbar {
	max-width: 420px;
	padding: 0 0 30px 0;
	margin: 0 0 30px 0;
	border-bottom: 2px solid #f6f6f6;

	@media (max-width: $account-bp-mobile) {
		max-width: 100%;
		border-bottom-width: 1px;
	}
	
	&__row {
		display: table;
		width: 100%;

		@media (max-width: $account-bp-mobile) {
			max-width: 420px;
		}
	}

	&__col {
		display: table-cell;
		width: 50%;
		padding-left: 10px;
		padding-right: 10px;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}

	/* -- */

	&__await {
		margin-top: 15px;
	}
}

.acc-bonusbar-item {
	&__main {
		position: relative;
		font-size: 16px;
		white-space: nowrap;

		@media (max-width: $account-bp-bonusbar-mobile) {
			font-size: 14px;
		}

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			display: block;
			background-position: center;
			background-repeat: no-repeat;
			transform: translateY(-50%);

			@media (max-width: $account-bp-bonusbar-mobile) {
				display: none;
			}
		}
	}
	
	&__name {
		@media (max-width: 460px) {
			font-weight: bold;
		}
	}

	&__value {
	}

	&__info {
		display: block;
		margin: 5px 0 0 0;
		font-size: 13px;
		color: $account-color-grey-light;

		@media (max-width: $account-bp-bonusbar-mobile) {
			margin-top: 0px;
			font-size: 12px;
		}
	}

	&--total {
		.acc-bonusbar-item {
			&__main {
				$icon-size: 22px;

				padding-left: $icon-size + 7px;

				@media (max-width: $account-bp-bonusbar-mobile) {
					padding-left: 0;
				}

				&:before {
					width: $icon-size;
					height: $icon-size;
					background-size: $icon-size $icon-size;
					background-image: url(../images/ico-coin-stack-flat-red-30x30.svg);
				}
			}
		}
	}

	&--card {
		.acc-bonusbar-item {
			&__main {
				$icon-size: 30px;

				padding-left: $icon-size + 7px;

				@media (max-width: $account-bp-bonusbar-mobile) {
					padding-left: 0;
				}

				&:before {
					width: $icon-size;
					height: $icon-size;
					background-size: $icon-size $icon-size;
					background-image: url(../images/ico-bonus-card-flat-red-30x30.svg);
				}
			}
		}
	}
}