@mixin paginator-lt-mobile() {
	display: block;
	text-align: center;

	.paginator-lt-button {
		font-size: 13px;

		&:before,
		&:after {
			$paginator-icon-size: 12px;

			width: $paginator-icon-size;
			height: $paginator-icon-size;
			background-size: $paginator-icon-size $paginator-icon-size;
		}
	}

	.paginator-lt-pages {
		font-size: 13px;
	}
}