.c-login-form {
	max-width: 300px;
	margin: 0 auto;

	&.form--lite {
		.form-label--default {
			margin-bottom: 7px;
			font-size: 14px;
			color: $color-grey-light;
		}
	}
}

.c-login-title {
	text-align: center;
}

.c-login-subtitle {
	line-height: 1.4;
	margin: -15px 0 30px 0;
	font-size: 12px;
	text-align: center;
}

.c-login-group {
	&__row {}

	&__col {
		margin: 0 0 20px 0;
	}
}

.c-login-rules {
	line-height: 1.4;
	font-size: 12px;
	text-align: center;
	color: $color-grey-light;
}

.c-login-rules-button {
	color: $color-grey-light;
	border-bottom-color: $color-grey-light;
}

.c-login-action {
	margin: 30px 0 20px 0;
	text-align: center;

	&:last-child {
		margin-bottom: 0;
	}
}

.c-login-action-btn {
	min-width: 150px;
}

.content {
	&--c-login {
		@media(max-width: 1200px) {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
}

/* -- */

.c-login-sktab {
	text-align: center;

	.sktab-nav-wrapper {
		margin: 0 0 30px 0;
	}

	.sktab-content {
		text-align: left;
	}
}

.c-login-reg-container {
	text-align: right;
	margin: 0 0 -10px 0;
}

.c-login-reg {
	display: inline-block;
	line-height: 1;
	padding: 5px 10px;
	
	font-size: 11px;
	border: 1px solid #f1f1f1;
	border-radius: 5px;
	color: #000;

	&:hover {
		border-color: #f1f1f1;
		color: $color-red;
	}
}

.form-group {
	&--c-login {
		margin-bottom: 20px;
	}
}