.cpt-card-summary {
	padding: 30px 30px 0 30px;
	margin: 0 -30px;
	border-top: 1px solid $border-color-grey-light;

	@media (max-width: 590px) {
		padding-top: 15px;
		padding-bottom: 0;

		padding-right: 10px;
		padding-left: 10px;

		margin-right: -10px;
		margin-left: -10px;
	}

	&__set {
		margin: 0 0 15px 0;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__price {}
}

.cpt-card-summary-price {
	display: inline-block;
	margin: 0 20px 0 0;
	font-weight: bold;
	font-size: 24px;
	vertical-align: middle;
}

.cpt-card-summary-count {
	display: inline-block;
	vertical-align: middle;
}

.cpt-card-summary-submit {
	@media (max-width: 460px) {
		width: 100%;
	}
}

.cpt-card-summary-grid {
	&--main {
		& > .cpt-card-summary-row {
			display: table;
			width: 100%;

			& > .cpt-card-summary-col {
				display: table-cell;
				vertical-align: middle;

				&--price {
					width: 100%;
				}
			}
		}

		@media (max-width: 530px) {
			& > .cpt-card-summary-row {
				display: block;
				width: auto;

				& > .cpt-card-summary-col {
					display: block;

					&--price {
						margin-bottom: 25px;
					}
				}
			}
		}
	}

	&--col-valign-bottom {
		& > .cpt-card-summary-row {
			& > .cpt-card-summary-col {
				vertical-align: bottom;
			}
		}
	}
}