.bs-lunch-info {
	line-height: 1.5;
	padding: 18px 0;
	margin: 0 0 30px 0;
	font-size: 18px;
	border-top: 1px solid rgba(#000, 0.1);
	border-bottom: 1px solid rgba(#000, 0.1);
}

.bs-lunch-info-title {
	display: block;
	margin: 0 0 5px 0;
	font-size: 21px;
	color: $color-grey-light;
}

.bs-lunch-info-subtitle {
	margin: 0 0 10px 0;
	font-size: 14px;
	color: $color-grey-light;
}