$corp-catering-ttl-font-family: CoreRhinoBlack;

$corp-catering-bg-color-grey-light: hsb(0, 0, 98%);
$corp-catering-bg-color-grey-dark: hsb(0, 0, 95%);

$corp-catering-subttl-line-width: 100px;
$corp-catering-subttl-line-height: 3px;