.corp-catering {
	$item-space-h: 30px;

	.cc-free {
		margin: 0 0 50px 0;

		/* -- */

		&__content {
			@include content-all-padding-h();
		}

		/* -- */

		&-list {
			max-width: $content-desktop-width;
			margin: 0 auto;

			&__row {
				display: flex;
				justify-content: space-between;
			}

			&__col {
				flex: 1 1 auto;
				width: 33.3%;
				margin-left: $item-space-h;

				&:first-child {
					margin-left: 0;
				}
			}
		}

		/* -- */

		&-image {
			position: relative;

			padding-top: 66.6%;
			padding-top: 60%;
			margin: 0 0 15px 0;
			border-radius: 15px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			
			background-color: #eee;
		}

		
	}
}