.corp-catering {
	.cc-info-container {
		font-size: 1px;

		&--center {
			text-align: center;
		}
	}
	
	.cc-info {
		$icon-size: $corp-catering-info-icon-size;

		position: relative;
		max-width: 400px;
		padding-left: $icon-size + 15px;
		font-style: normal;
		font-size: 15px;
		text-align: left;
		// color: $color-grey-light;
		color: #000;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			display: block;
			width: $icon-size;
			height: $icon-size;
			background-position: center;
			background-repeat: no-repeat;
			background-size: ($icon-size) ($icon-size);
			background-image: img('ico-info-circle-flat-grey-30x30.svg');
			transform: translateY(-50%);
		}

		&--inline-block {
			display: inline-block;
		}
	}
}