.corp-catering {
	.cc-price {
		$cc-price-item-desktop-width: 290px;
		$cc-price-item-desktop-space-h: 20px;
		// $cc-price-list-desktop-width: $cc-price-item-desktop-width * 3 + $cc-price-item-desktop-space-h * 2;
		$cc-price-list-desktop-width: 860px;

		$cc-price-item-mobile-width: 230px;
		$cc-price-item-mobile-space-h: 10px;
		$cc-price-list-mobile-width: 600px;

		$cc-price-bp-mobile: $cc-price-list-desktop-width + 20px * 2;
		
		@mixin price-bp-mobile() {
			@media (max-width: $cc-price-bp-mobile) {
				@content;
			}
		}
		
		/* -- */

		&__content {
			
			@include content-all-padding-h();
			padding-top: 70px;
			padding-bottom: 70px;

			/* -- */

			@include corp-catering-bp-mobile {
				padding-top: 50px;
				padding-bottom: 50px;
			}
		}

		&__ttl {
			// margin-bottom: 35px;
			margin-bottom: 45px;

			@include corp-catering-bp-mobile() {
				margin-bottom: 35px;
			}
		}
		
		/* -- */

		&-list {
			width: $cc-price-list-desktop-width + $content-laptop-margin-h * 2;
			margin: 0 auto 60px auto;

			@include corp-catering-bp-mobile() {
				width: auto;
				max-width: $cc-price-list-mobile-width;
				margin-bottom: 50px;
			}

			&__wrapper {}

			&__scroll {
				overflow-x: auto;

				/* -- */

				@include corp-catering-bp-mobile() {
					margin-right: -$content-laptop-margin-h;
					margin-left: -$content-laptop-margin-h;
				}

				@media (max-width: $content-mobile-bp) {
					margin-right: -$content-mobile-margin-h;
					margin-left: -$content-mobile-margin-h;
				}
			}

			&__scroll-content {
				width: $cc-price-list-desktop-width + $content-laptop-margin-h * 2;

				@include corp-catering-bp-mobile() {
					width: $cc-price-list-mobile-width + $content-laptop-margin-h * 2;
				}

				@media (max-width: $content-mobile-bp) {
					width: $cc-price-list-mobile-width + $content-mobile-margin-h * 2;
				}
			}

			/* -- */
			
			&__row {
				display: flex;
				justify-content: space-between;

				&:before,
				&:after {
					content: '';
					flex: none;
					display: block;
					width: $content-laptop-margin-h;

					@media (max-width: $content-mobile-bp) {
						width: $content-mobile-margin-h;
					}
				}
			}

			&__col {
				flex: 1 1 auto;
				display: flex;
				width: 33.3%;
				margin-left: $cc-price-item-desktop-space-h;

				@include corp-catering-bp-mobile() {
					margin-left: $cc-price-item-mobile-space-h;
				}

				&:first-child {
					margin-left: 0;
				}				
			}
		}

		&-item {
			flex: 1 1 auto;
			width: 100%;
			padding: 35px 35px 20px 35px;
			border-radius: 15px;
			background-color: $corp-catering-bg-color-grey-dark;

			@include corp-catering-bp-mobile() {
				padding: 20px 20px 15px 20px;
				border-radius: 10px;
			}

			/* -- */

			&__price {
				position: relative;
				padding: 0 0 20px 0;
				margin: 0 0 15px 0;
				font-size: 34px;
				text-align: center;

				@include corp-catering-bp-mobile() {
					font-size: 25px;
				}

				&:before {
					// $line-width: 110px;
					$line-width: $corp-catering-subttl-line-width;

					content: '';
					position: absolute;
					bottom: 0;
					left: 50%;
					display: block;
					width: $line-width;
					height: 3px;
					margin-left: -($line-width / 2);
					background-color: $color-red;
				}

				&-num {
					font-weight: bold;
				}

				&-rub {
					margin-left: -3px;
					font-size: 22px;

					@include corp-catering-bp-mobile() {
						font-size: 17px;
					}
				}
			}

			/* -- */

			&__dish-list {}

			&__dish {
				$icon-width: 28px;
				$icon-width-mobile: 23px;

				height: 50px;
				line-height: 50px;
				padding-left: $icon-width + 15px;
				font-size: 20px;
				background-position: left;
				background-repeat: no-repeat;

				@include corp-catering-bp-mobile() {
					height: 40px;
					line-height: 40px;
					padding-left: $icon-width-mobile + 10px;
					font-size: 16px;
				}

				/* -- */

				&--hot {
					$icon-hot-orig-width: 50px;
					$icon-hot-orig-height: 56px;
					$icon-hot-width: $icon-width;
					$icon-hot-height: $icon-hot-width / ($icon-hot-orig-width / $icon-hot-orig-height);

					background-size: $icon-hot-width $icon-hot-height;
					background-image: img('ico-dish-type-hot-50x56.svg');

					@include corp-catering-bp-mobile() {
						$icon-hot-width-mobile: $icon-width-mobile;
						$icon-hot-height-mobile: $icon-hot-width-mobile / ($icon-hot-orig-width / $icon-hot-orig-height);

						background-size: $icon-hot-width-mobile $icon-hot-height-mobile;
					}
				}

				&--soup {
					$icon-soup-orig-width: 50px;
					$icon-soup-orig-height: 52px;
					$icon-soup-width: $icon-width;
					$icon-soup-height: $icon-soup-width / ($icon-soup-orig-width / $icon-soup-orig-height);

					background-size: $icon-soup-width $icon-soup-height;
					background-image: img('ico-dish-type-soup-50x52.svg');

					@include corp-catering-bp-mobile() {
						$icon-soup-width-mobile: $icon-width-mobile;
						$icon-soup-height-mobile: $icon-soup-width-mobile / ($icon-soup-orig-width / $icon-soup-orig-height);

						background-size: $icon-soup-width-mobile $icon-soup-height-mobile;
					}
				}

				&--salad {
					$icon-salad-orig-width: 50px;
					$icon-salad-orig-height: 45px;
					$icon-salad-width: $icon-width;
					$icon-salad-height: $icon-salad-width / ($icon-salad-orig-width / $icon-salad-orig-height);

					background-size: $icon-salad-width $icon-salad-height;
					background-image: img('ico-dish-type-salad-50x45.svg');

					@include corp-catering-bp-mobile() {
						$icon-salad-width-mobile: $icon-width-mobile;
						$icon-salad-height-mobile: $icon-salad-width-mobile / ($icon-salad-orig-width / $icon-salad-orig-height);

						background-size: $icon-salad-width-mobile $icon-salad-height-mobile;
					}
				}
			}
		}

		/* -- */

		&__info {
			&:before {
				background-image: img('ico-car-grey-30x30.svg');
			}
		}
	}
}