.corp-catering {
	.cc-menu {
		margin: 0 0 50px 0;
		background-color: $corp-catering-bg-color-grey-light;
	
		/* -- */

		&__content {
			@include content-all-padding-h();
			
			padding-top: 60px;
			padding-bottom: 50px;
		}

		/* -- */

	}
}