.corp-catering {
	.cc-info-container {
		font-size: 1px;

		&--center {
			text-align: center;
		}
	}
	
	.cc-info {
		$icon-size: $corp-catering-info-icon-size;
		$icon-size-mobile: $corp-catering-info-icon-size-mobile;

		position: relative;
		max-width: 400px;
		padding-left: $icon-size + 15px;
		font-style: normal;
		font-size: 15px;
		text-align: left;
		color: #000;

		@include corp-catering-bp-mobile() {
			font-size: 14px;
			padding-left: $icon-size-mobile + 13px;
		}

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			display: block;
			width: $icon-size;
			height: $icon-size;
			background-position: center;
			background-repeat: no-repeat;
			background-size: ($icon-size) ($icon-size);
			background-image: img('ico-info-circle-flat-grey-30x30.svg');
			transform: translateY(-50%);

			@include corp-catering-bp-mobile() {
				width: $icon-size-mobile;
				height: $icon-size-mobile;
				background-size: $icon-size-mobile $icon-size-mobile;
			}
		}

		&--inline-block {
			display: inline-block;
		}
	}
}