.corp-catering {
	.cc-contacts {
		padding: 50px 0;
		background-color: $corp-catering-bg-color-grey-light;

		/* -- */

		&-list {
			&__row {
				line-height: 1;
				font-size: 1px;
				text-align: center;
			}
	
			&__col {
				display: inline-block;
				margin-left: 50px;
				font-size: 22px;

				&:first-child {
					margin-left: 0;
				}
			}
		}

		&-item {
			&__icon {
				$icon-size: 25px;

				display: inline-block;
				width: $icon-size;
				height: $icon-size;
				margin-right: 5px;
				vertical-align: middle;
				background-position: center;
				background-repeat: no-repeat;
				background-size: $icon-size $icon-size;

				&--phone {
					background-image: img('ico-phone-special-red-30x30.svg');
				}

				&--email {
					background-image: img('ico-email-special-red-30x30.svg');
				}
			}

			&__text {}

			&__link {
				text-decoration: none;
				border-bottom: 1px solid #e8e8e8;
				color: #000;

				&:hover {
					border-bottom-color: rgba(0,0,0,0.2);
					color: $color-red-active;
				}
			}
		}
	}	
}