.corp-catering {
	.cc-menu-accordion {
		$type-icon-width: 32px;
		$name-left-space: 15px;

		$corner-size: 15px;
		$corner-left-space: 15px;
		$corner-right-space: 10px;

		$type-icon-width-mobile: 23px;
		$name-left-space-mobile: 15px;

		$weight-box-height-mobile: 15px;
		$weight-box-space-top-mobile: 10px;
		$weight-box-space-bottom-active-mobile: 10px;

		$button-padding-top-mobile: 15px;
		$button-padding-bottom-mobile: $button-padding-top-mobile + $weight-box-height-mobile + $weight-box-space-top-mobile;
		$button-padding-bottom-active-mobile: $weight-box-height-mobile + $weight-box-space-top-mobile + $weight-box-space-bottom-active-mobile;

		@mixin accordion-bp-mobile() {
			@media (max-width: $corp-catering-menu-accordion-bp-mobile) {
				@content;
			}
		}
		
		&__item {
			background-position: bottom left;
			background-repeat: repeat-x;
			background-size: 12px 3px;
			background-image: img('dot-12x3-grey-80.svg');

			/* -- */

			&--active {
				.cc-menu-accordion {
					&-button {

						&__content {
							@include accordion-bp-mobile {
								padding-bottom: $button-padding-bottom-active-mobile;
							}
						}
						
						/* -- */

						&__name {
							color: $color-red-active;
						}

						/* -- */

						&__weight-box {
							bottom: $weight-box-space-bottom-active-mobile;
						}

						/* -- */

						&__corner {
							transform: rotate(-90deg);
						}
					}

					/* -- */

					&__content {
						display: block;
					}
				}
			}
		}
		
		/* -- */

		&__button {}

		&-button {
			display: block;
			width: 100%;
			padding: 0;
			margin: 0;
			border: 0;
			background-color: transparent;
			cursor: pointer;
			
			&__content {
				display: table;
				width: 100%;

				/* -- */

				@include accordion-bp-mobile {
					position: relative;
					display: block;
					padding-top: $button-padding-top-mobile;
					padding-bottom: $button-padding-bottom-mobile;

					&:after {
						content: '';
						display: block;
						clear: both;
						font-size: 1px;
					}
				}
			}

			&__icon-box,
			&__name-box,
			&__weight-box,
			&__corner-box {
				display: table-cell;
				padding-top: 10px;
				padding-bottom: 10px;
				vertical-align: middle;

				/* -- */

				@include accordion-bp-mobile {
					display: block;
					padding-top: 0;
					padding-bottom: 0;
				}
			}

			/* -- */

			&__icon-box {

				/* -- */

				@include accordion-bp-mobile {
					float: left;
				}
			}

			&__icon {
				$icon-width: $type-icon-width;

				$icon-width-mobile: $type-icon-width-mobile;


				display: block;
				background-position: center;
				background-repeat: no-repeat;

				/* -- */

				&--hot {
					$icon-hot-orig-width: 50px;
					$icon-hot-orig-height: 56px;
					$icon-hot-width: $icon-width;
					$icon-hot-height: $icon-hot-width / ($icon-hot-orig-width / $icon-hot-orig-height);

					width: $icon-hot-width;
					height: $icon-hot-height;
					background-size: $icon-hot-width $icon-hot-height;
					background-image: img('ico-dish-type-hot-50x56.svg');

					@media(max-width: $corp-catering-menu-accordion-bp-mobile) {
						$icon-hot-width-mobile: $icon-width-mobile;
						$icon-hot-height-mobile: $icon-hot-width-mobile / ($icon-hot-orig-width / $icon-hot-orig-height);
						
						width: $icon-hot-width-mobile;
						height: $icon-hot-height-mobile;
						background-size: $icon-hot-width-mobile $icon-hot-height-mobile;
					}
				}

				&--soup {
					$icon-soup-orig-width: 50px;
					$icon-soup-orig-height: 52px;
					$icon-soup-width: $icon-width;
					$icon-soup-height: $icon-soup-width / ($icon-soup-orig-width / $icon-soup-orig-height);

					width: $icon-soup-width;
					height: $icon-soup-height;
					background-size: $icon-soup-width $icon-soup-height;
					background-image: img('ico-dish-type-soup-50x52.svg');

					@media(max-width: $corp-catering-menu-accordion-bp-mobile) {
						$icon-soup-width-mobile: $icon-width-mobile;
						$icon-soup-height-mobile: $icon-soup-width-mobile / ($icon-soup-orig-width / $icon-soup-orig-height);
						
						width: $icon-soup-width-mobile;
						height: $icon-soup-height-mobile;
						background-size: $icon-soup-width-mobile $icon-soup-height-mobile;
					}
				}

				&--salad {
					$icon-salad-orig-width: 50px;
					$icon-salad-orig-height: 45px;
					$icon-salad-width: $icon-width;
					$icon-salad-height: $icon-salad-width / ($icon-salad-orig-width / $icon-salad-orig-height);

					width: $icon-salad-width;
					height: $icon-salad-height;
					background-size: $icon-salad-width $icon-salad-height;
					background-image: img('ico-dish-type-salad-50x45.svg');

					@media(max-width: $corp-catering-menu-accordion-bp-mobile) {
						$icon-salad-width-mobile: $icon-width-mobile;
						$icon-salad-height-mobile: $icon-salad-width-mobile / ($icon-salad-orig-width / $icon-salad-orig-height);
						
						width: $icon-salad-width-mobile;
						height: $icon-salad-height-mobile;
						background-size: $icon-salad-width-mobile $icon-salad-height-mobile;
					}
				}
			}

			/* -- */

			&__name-box {
				width: 100%;
				padding-top: 25px;
				padding-bottom: 25px;
				padding-left: $name-left-space;
				text-align: left;

				/* -- */

				@include accordion-bp-mobile {
					width: auto;
					padding-top: 0;
					padding-bottom: 0;
					padding-right: $corner-size + $corner-right-space + $corner-left-space;
					overflow: hidden;
				}
			}

			&__name {
				line-height: 1.2;
				font-size: 22px;
				@include transition((color));

				/* -- */

				@include accordion-bp-mobile {
					font-weight: bold;
					font-size: 16px;
				}
			}

			/* -- */

			&__weight-box {
				padding-left: 15px;

				/* -- */

				@include accordion-bp-mobile {
					position: absolute;
					bottom: $button-padding-top-mobile;
					left: $type-icon-width-mobile + $name-left-space-mobile;
					height: $weight-box-height-mobile;
					line-height: $weight-box-height-mobile;
					padding-left: 0;
				}
			}

			&__weight {
				white-space: nowrap;
				font-size: 16px;
				color: hsb(0, 0, 78%);

				/* -- */

				@include accordion-bp-mobile {
					font-size: 15px;
					color: hsb(0, 0, 63%);
				}
			}

			/* -- */

			&__corner-box {
				padding-left: $corner-left-space;
				padding-right: $corner-right-space;

				/* -- */

				@include accordion-bp-mobile {
					position: absolute;
					top: $button-padding-top-mobile;
					right: 0;
					padding-left: 0;
				}
			}

			&__corner {
				$icon-size: $corner-size;

				display: block;
				width: $icon-size;
				height: $icon-size;
				background-position: center;
				background-repeat: no-repeat;
				background-size: $icon-size $icon-size;
				background-image: img('ico-arr-r-md-black-30x30.svg');
				transform: rotate(90deg);
			}

			/* -- */

			&:hover {
				.cc-menu-accordion-button__name {
					color: $color-red-active;
				}
			}
		}

		/* -- */

		&__content {
			display: none;
			padding-right: $corner-size + $corner-left-space;
			padding-bottom: 20px;
			padding-left: $type-icon-width + $name-left-space;

			@include accordion-bp-mobile {
				padding-right: 0;
				padding-bottom: $button-padding-top-mobile;
				padding-left: $type-icon-width-mobile + $name-left-space-mobile;
			}
		}

		/* -- */

		&__nfacts {
			display: block;
			line-height: 1;
			padding: 0;
			margin: 0;
			font-size: 1px;

			&-item {
				display: inline-block;
				margin: 0 15px 10px 0;
				font-size: 16px;

				/* -- */

				@include accordion-bp-mobile {
					font-size: 15px;
					color: hsb(0, 0, 63%);
				}
			}
		}

		&__brief {
			line-height: 1.4;
			font-size: 16px;

			/* -- */

			@include accordion-bp-mobile {
				font-size: 15px;
				color: hsb(0, 0, 63%);
			}
		}
	}
}