.corp-catering {
	.cc-menu-type {

		&-tab-container {
			line-height: 1;
			margin: 0 0 20px 0;
			font-size: 1px;
			text-align: center;
		}

		&-tab {
			display: inline-block;

			&__item {
				$separator-size: 6px;
				$space-h: 15px;

				position: relative;
				display: inline-block;
				padding-left: $separator-size + $space-h;
				margin-left: $space-h;

				&:first-child {
					padding-left: 0;
					margin-left: 0;

					&:before {
						display: none;
					}
				}

				&--active {
					.cc-menu-type-tab__button {
						color: #000;
					}

					.cc-menu-type-tab__button-text {
						&:before {
							width: 100%;
						}
					}
				}
			}

			&__button {
				display: block;
				padding: 5px;
				margin: 0;
				font-family: Yanone, sans-serif;
				font-size: 38px;
				font-weight: normal;
				border: 0;
				color: #8c7e7e;
				background: transparent;
				@include transition((color));
				cursor: pointer;

				&:hover {
					color: #000;
				}
			}

			&__button-text {

				position: relative;

				display: block;
				padding-bottom: 15px + 3px;

				&:before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 50%;
					display: block;
					width: 0;
					height: 3px;
					background-color: $color-red;
					transform: translateX(-50%);
					@include transition((width));
				}
			}
		}

		&-content {
			&__item {
				display: none;

				&--active {
					display: block;
				}
			}
		}
	}
}