.corp-catering {
	.cc-price {
		$cc-price-item-desktop-width: 290px;
		$cc-price-item-desktop-space-h: 35px;
		$cc-price-list-desktop-width: $cc-price-item-desktop-width * 3 + $cc-price-item-desktop-space-h * 2;

		$cc-price-item-mobile-width: 230px;
		$cc-price-item-mobile-space-h: 10px;
		$cc-price-list-mobile-width: $cc-price-item-mobile-width * 3 + $cc-price-item-mobile-space-h * 2;

		$cc-price-bp-mobile: $cc-price-list-desktop-width + 20px * 2;
		
		/* -- */

		&__content {
			
			@include content-all-padding-h();
			padding-top: 60px;
			padding-bottom: 50px;
		}

		&__ttl {
			margin-bottom: 40px;
		}
		
		/* -- */

		&-list {
			width: $cc-price-list-desktop-width;
			margin: 0 auto 25px auto;

			@media (max-width: $cc-price-bp-mobile) {
				width: auto;
				max-width: $cc-price-list-mobile-width;
			}

			&__wrapper {}

			&__scroll {
				overflow-x: auto;
			}

			&__scroll-content {
				width: $cc-price-list-desktop-width;

				@media (max-width: $cc-price-bp-mobile) {
					width: $cc-price-list-mobile-width;
				}
			}

			/* -- */
			
			&__row {
				display: flex;
				justify-content: space-between;
			}

			&__col {
				flex: 1 1 auto;
				width: 33.3%;
				margin-left: $cc-price-item-desktop-space-h;

				@media (max-width: $cc-price-bp-mobile) {
					margin-left: $cc-price-item-mobile-space-h;
				}

				&:first-child {
					margin-left: 0;
				}				
			}
		}

		&-item {
			padding: 35px 35px 20px 35px;
			border-radius: 10px;
			background-color: $corp-catering-bg-color-grey-dark;

			@media (max-width: $cc-price-bp-mobile) {
				padding: 25px;
			}

			/* -- */

			&__price {
				position: relative;
				padding: 0 0 20px 0;
				margin: 0 0 15px 0;
				font-size: 30px;
				text-align: center;

				@media (max-width: $cc-price-bp-mobile) {
					font-size: 25px;
				}

				&:before {
					// $line-width: 110px;
					$line-width: $corp-catering-subttl-line-width;

					content: '';
					position: absolute;
					bottom: 0;
					left: 50%;
					display: block;
					width: $line-width;
					height: 2px;
					margin-left: -($line-width / 2);
					background-color: $color-red;
				}

				&-num {
					font-weight: bold;
				}
			}

			/* -- */

			&__dish-list {}

			&__dish {
				$icon-width: 42px;
				$icon-width-mobile: 33px;

				height: 70px;
				line-height: 70px;
				padding-left: $icon-width + 20px;
				font-size: 18px;
				background-position: left;
				background-repeat: no-repeat;

				@media (max-width: $cc-price-bp-mobile) {
					height: 50px;
					line-height: 50px;
					padding-left: $icon-width-mobile + 15px;
					font-size: 16px;
				}

				/* -- */

				&--hot {
					$icon-hot-orig-width: 50px;
					$icon-hot-orig-height: 56px;
					$icon-hot-width: $icon-width;
					$icon-hot-height: $icon-hot-width / ($icon-hot-orig-width / $icon-hot-orig-height);

					background-size: $icon-hot-width $icon-hot-height;
					background-image: img('ico-dish-type-hot-50x56.svg');

					@media (max-width: $cc-price-bp-mobile) {
						$icon-hot-width-mobile: $icon-width-mobile;
						$icon-hot-height-mobile: $icon-hot-width-mobile / ($icon-hot-orig-width / $icon-hot-orig-height);

						background-size: $icon-hot-width-mobile $icon-hot-height-mobile;
					}
				}

				&--soup {
					$icon-soup-orig-width: 50px;
					$icon-soup-orig-height: 52px;
					$icon-soup-width: $icon-width;
					$icon-soup-height: $icon-soup-width / ($icon-soup-orig-width / $icon-soup-orig-height);

					background-size: $icon-soup-width $icon-soup-height;
					background-image: img('ico-dish-type-soup-50x52.svg');

					@media (max-width: $cc-price-bp-mobile) {
						$icon-soup-width-mobile: $icon-width-mobile;
						$icon-soup-height-mobile: $icon-soup-width-mobile / ($icon-soup-orig-width / $icon-soup-orig-height);

						background-size: $icon-soup-width-mobile $icon-soup-height-mobile;
					}
				}

				&--salad {
					$icon-salad-orig-width: 50px;
					$icon-salad-orig-height: 45px;
					$icon-salad-width: $icon-width;
					$icon-salad-height: $icon-salad-width / ($icon-salad-orig-width / $icon-salad-orig-height);

					background-size: $icon-salad-width $icon-salad-height;
					background-image: img('ico-dish-type-salad-50x45.svg');

					@media (max-width: $cc-price-bp-mobile) {
						$icon-salad-width-mobile: $icon-width-mobile;
						$icon-salad-height-mobile: $icon-salad-width-mobile / ($icon-salad-orig-width / $icon-salad-orig-height);

						background-size: $icon-salad-width-mobile $icon-salad-height-mobile;
					}
				}
			}
		}
	}
}