.corp-catering {
	.cc-order {
		margin: 0 0 50px 0;

		&__content {
			@include content-all-padding-h();
		}

		/* -- */

		&-form {
			$input-icon-size: 16px;
			$input-icon-space-right: 15px;
			$input-icon-space-left: 10px;

			$input-font-size: 18px;
			$input-padding-h: 15px;

			$input-font-size-mobile: 15px;

			max-width: 800px;
			margin: 0 auto;
			padding: 45px 60px;
			border-radius: 15px;
			background-color: $corp-catering-bg-color-grey-dark;

			/* -- */

			@include corp-catering-bp-mobile() {
				max-width: 600px;
				padding-right: 30px;
				padding-left: 30px;
				border-radius: 10px;
			}

			@media (max-width: $content-mobile-bp) {
				padding-right: 15px;
				padding-left: 15px;
			}

			@media (max-width: 780px) {
				max-width: 100%;
			}

			/* -- */

			&__label {
				display: block;
				margin: 0 0 10px 0;
				font-weight: bold;
				font-size: 15px;
			}

			&__input {
				position: relative;
				display: block;
				width: 100%;
				height: 52px;
				padding-right: $input-icon-size + $input-icon-space-right + $input-icon-space-left;
				padding-left: $input-padding-h;
				font-size: $input-font-size;
				border-bottom: 1px solid #000;
				border-radius: 0;
				background-color: transparent;

				@include placeholder {
					color: hsb(0, 0, 40%);
				}

				/* -- */

				@include corp-catering-bp-mobile() {
					// height: 42px;
					// font-size: $input-font-size-mobile;
					border-bottom: 0;
				}

				@media (max-width: $content-mobile-bp) {
					height: 42px;
					font-size: $input-font-size-mobile;
				}
			}

			&__control-group {
				margin: 0 0 10px 0;

				/* -- */

				@include corp-catering-bp-mobile() {
					border-radius: 5px;
					background-color: #fff;
				}

				/* -- */

				&:last-child {
					margin-bottom: 0;
				}

				&.form-control-group {
					$icon-size: $input-icon-size;
					$icon-space-right: $input-icon-space-right;
					$icon-space-left: $input-icon-space-left;

					&--error,
					&--success {
						position: relative;

						&:before {
							content: '';
							position: absolute;
							right: $icon-space-right;
							top: 0;
							display: block;
							width: $icon-size;
							height: 100%;
							background-position: center;
							background-repeat: no-repeat;
							background-size: $icon-size $icon-size;
						}
					}

					&--error {
						&:before {
							background-image: img('ico-x-red-dark-13x13.svg');
						}						
					}

					&--success {
						&:before {
							background-image: img('ico-check-green-15x15.svg');
						}						
					}
				}
			}

			&__submit-container {
				line-height: 1;
				margin: 35px 0 0 0;
				font-size: 1px;
				text-align: center;
			}

			&__submit {
				display: inline-block;
				height: $button-l-height;
				line-height: $button-l-height;
				padding-right: $button-l-padding-h;
				padding-left: $button-l-padding-h;
				font-weight: $button-l-font-weight;
				font-size: $button-l-font-size;
				border-radius: $button-l-border-radius;
				color: #fff;
				background-color: $color-red;
				cursor: pointer;
				@include transition((background-color, box-shadow));

				&:hover {
					background-color: $color-red-active;
				}

				&:active {
					box-shadow: $button-active-box-shadow;
				}
			}

			/* -- */

			&-comment {
				&__toggle-container {
					margin-bottom: -5px;
					text-align: center;

					@include corp-catering-bp-mobile() {
						margin-top: 25px;
					}
				}

				&__toggle {
					display: inline;
					font-size: 14px;
					border-bottom: 1px dashed hsb(0, 0, 65%);
					color: hsb(0, 0, 65%);
					background-color: transparent;
					cursor: pointer;
					@include transition((color, border-color));

					&:hover {
						border-color: $color-red;
						color: $color-red;
					}
				}

				&__form-group {
					display: none;
					margin-top: 40px;

					/* -- */

					@media (max-width: $content-mobile-bp) {
						margin-top: 30px;
					}
				}

				&__textarea {
					display: block;
					width: 100%;
					min-height: 150px;
					padding: $input-padding-h;
					font-size: 15px;
					border-radius: 10px;
					resize: none;
					background-color: hsb(0, 0, 90%);

					@include corp-catering-bp-mobile() {
						border-radius: 0;
						background-color: transparent;
					}
				}

				/* -- */

				&--open {
					.cc-order-form-comment__toggle-container {
						display: none;
					}

					.cc-order-form-comment__form-group {
						display: block;
					}
				}
			}

			/* -- */

			&__row {
				&--form-group {
					display: flex;
					margin-bottom: 40px;
					justify-content: space-between;

					/* -- */

					@include corp-catering-bp-mobile() {
						display: block;
						margin-bottom: 20px;
					}

					@media (max-width: $content-mobile-bp) {
						margin-bottom: 15px;
					}

					/* -- */

					& > .cc-order-form__col {
						flex: 1 1 auto;						
						margin-left: 25px;

						/* -- */

						@include corp-catering-bp-mobile {
							margin-bottom: 20px;
							margin-left: 0;
						}

						@media (max-width: $content-mobile-bp) {
							margin-bottom: 15px;
						}

						/* -- */

						&:first-child {
							margin-left: 0;
						}
					}
				}
			}

			&__col {}

			/* -- */

			&-success-container {
				margin: 40px 0 0 0;
				text-align: center;

				@media (max-width: $content-mobile-bp) {
					margin-top: 35px;
				}
			}

			&-success {
				$icon-circle-size: 32px;
				$icon-size: $icon-circle-size - 10px;

				$icon-circle-mobile-size: 28px;
				$icon-mobile-size: $icon-circle-mobile-size - 10px;

				position: relative;
				display: inline-block;
				padding-top: 20px;
				padding-left: $icon-circle-size + 15px;
				padding-bottom: 20px;
				font-weight: bold;
				font-size: 20px;
				text-align: left;

				@media (max-width: $content-mobile-bp) {
					font-size: 17px;
					padding-top: 15px;
					padding-left: $icon-circle-mobile-size + 10px;
					padding-bottom: 15px;
				}

				&:before {
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
					display: block;
					width: $icon-circle-size;
					height: $icon-circle-size;
					border-radius: $icon-circle-size;
					background-position: center;
					background-repeat: no-repeat;
					background-size: $icon-size $icon-size;
					background-image: img('ico-check-white-15x15.svg');
					background-color: #8cc25c;
					transform: translateY(-50%);

					@media (max-width: $content-mobile-bp) {
						width: $icon-circle-mobile-size;
						height: $icon-circle-mobile-size;
						background-size: $icon-mobile-size $icon-mobile-size;
					}
				}
			}
		}

		
	}
}