.corp-catering {
	.cc-menu {
		margin: 0 0 70px 0;
		background-color: $corp-catering-bg-color-grey-light;

		@include corp-catering-bp-mobile() {
			margin-bottom: 50px;
		}
	
		/* -- */

		&__content {
			@include content-all-padding-h();
			
			padding-top: 80px;
			padding-bottom: 80px;

			/* -- */

			@include corp-catering-bp-mobile {
				padding-top: 50px;
				padding-bottom: 50px;
			}
		}

		&__ttl {
			margin-bottom: 15px;
		}

		/* -- */

		&__info {
			&:before {
				background-image: img('ico-date-calendar-flat-grey-30x30.svg');
			}
		}

	}
}