<div class="popup-page" id="additional_sales" style="display: block;">
	<!--<div class="popup-page" id="additional_sales" style="display: block;">-->
	<div class="popup-page__out">
		 <div class="popup-page__in">
			  <div class="popup-page__content popup-page__content--ingredients">
					<div class="popup-page__close"></div>
					<h2>Добавьте ингредиенты в Гриль-паста с курицей и песто</h2>
					<!-- <ul class="add-ingredients__list">
						 <li class="add-ingredients__item" data-id="42374">
							  <div class="add-ingredients__main">
									<span class="add-ingredients__title">Кедровые орешки</span>
									<div class="add-ingredients__n-facts">
										 10 гр.<br>
										 Белки: 18,0 гр.<br>
										 Жиры: 60,0 гр.<br>
										 Углеводы: 13,0 гр.<br>
									</div>
									<span class="add-ingredients__price">
										 <span class="add-ingredients__price-num">0</span>
										 <span class="add-ingredients__price-rub rub">р</span>
									</span>
							  </div>
							  <div class="count add-ingredients__count">
									<span class="count__btn count__btn--minus ingredients--minus" data-oper="minus"></span>
									<input type="text" class="count__field add-ingredients__count__field" value="0"
										 maxlength="3" data-prod="42374" data-price="40">
									<span class="count__btn count__btn--plus ingredients--plus" data-oper="plus"></span>
							  </div>
						 </li>
						 <li class="add-ingredients__item" data-id="35981">
							  <div class="add-ingredients__main">
									<span class="add-ingredients__title">Пармезан</span>
									<div class="add-ingredients__n-facts">
										 50 гр.<br>
										 Белки: 30 гр.<br>
										 Жиры: 25 гр.<br>
										 Углеводы: 0 гр.<br>
									</div>
									<span class="add-ingredients__price">
										 <span class="add-ingredients__price-num">0</span>
										 <span class="add-ingredients__price-rub rub">р</span>
									</span>
							  </div>
							  <div class="count add-ingredients__count">
									<span class="count__btn count__btn--minus ingredients--minus" data-oper="minus"></span>
									<input type="text" class="count__field add-ingredients__count__field" value="0"
										 maxlength="3" data-prod="35981" data-price="125">
									<span class="count__btn count__btn--plus ingredients--plus" data-oper="plus"></span>
							  </div>
						 </li>
						 <li class="add-ingredients__item" data-id="36013">
							  <div class="add-ingredients__main">
									<span class="add-ingredients__title">Соевый соус</span>
									<div class="add-ingredients__n-facts">
										 50 гр.<br>
										 Белки: 1,6 гр.<br>
										 Жиры: 0 гр.<br>
										 Углеводы: 1,7 гр.<br>
									</div>
									<span class="add-ingredients__price">
										 <span class="add-ingredients__price-num">0</span>
										 <span class="add-ingredients__price-rub rub">р</span>
									</span>
							  </div>
							  <div class="count add-ingredients__count">
									<span class="count__btn count__btn--minus ingredients--minus" data-oper="minus"></span>
									<input type="text" class="count__field add-ingredients__count__field" value="0"
										 maxlength="3" data-prod="36013" data-price="10">
									<span class="count__btn count__btn--plus ingredients--plus" data-oper="plus"></span>
							  </div>
						 </li>

					</ul> -->
					

					<div class="d-pu-ingredient-list">
						<div class="d-pu-ingredient">
							<div class="d-pu-ingredient__image-box">
								<a href="" class="d-pu-ingredient__image-wrapper">
									<img src="images/dev-001-fresh-roll.jpg" class="d-pu-ingredient__image">
								</a>
							</div>
							<div class="d-pu-ingredient__name-box">
								<div class="d-pu-ingredient__name-wrapper">
									<a href="" class="d-pu-ingredient__name">Фреш-ролл</a>
								</div>
								<span class="d-pu-ingredient__info d-pu-ingredient__info--d-pu-ingredients">
									Васаби, имбирь, соус спайси
								</span>
							</div>
							<div class="d-pu-ingredient__count-box">
								<span class="count count--default count--lite count--joint count--block count--inherit-font d-pu-ingredient__count">
									<button class="count__minus" type="button">-</button>
									<input type="text" value="5" class="count__field">
									<button class="count__plus" type="button">+</button>
								</span>
							</div>
							<div class="d-pu-ingredient__price-box">
								<span class="d-pu-ingredient__price">1300 <span class="d-pu-ingredient__price-rub">₽</span></span>
							</div>
							<div class="d-pu-ingredient__button-box">
								<button type="button" class="d-pu-ingredient__x">X</button>
							</div>
						</div>
						<div class="d-pu-ingredient">
							<div class="d-pu-ingredient__image-box">
								<a href="" class="d-pu-ingredient__image-wrapper">
									<img src="images/dev-002-tikvenniy-krem-sup.jpg" class="d-pu-ingredient__image">
								</a>
							</div>
							<div class="d-pu-ingredient__name-box">
								<div class="d-pu-ingredient__name-wrapper">
									<a href="" class="d-pu-ingredient__name">Тыквенный крем-суп с беконом и соусом песто</a>
								</div>
							</div>
							<div class="d-pu-ingredient__count-box">
								<span class="count count--default count--lite count--joint count--block count--inherit-font d-pu-ingredient__count">
									<button class="count__minus" type="button">-</button>
									<input type="text" value="1" class="count__field">
									<button class="count__plus" type="button">+</button>
								</span>
							</div>
							<div class="d-pu-ingredient__price-box">
								<span class="d-pu-ingredient__price">700 <span class="d-pu-ingredient__price-rub">₽</span></span>
							</div>
							<div class="d-pu-ingredient__button-box">
								<button type="button" class="d-pu-ingredient__x">X</button>
							</div>
						</div>
						<div class="d-pu-ingredient">
							<div class="d-pu-ingredient__image-box">
								<a href="" class="d-pu-ingredient__image-wrapper">
									<img src="images/dev-004-kioto.jpg" class="d-pu-ingredient__image">
								</a>
							</div>
							<div class="d-pu-ingredient__name-box">
								<div class="d-pu-ingredient__name-wrapper">
									<a href="" class="d-pu-ingredient__name">Киото</a>
								</div>
								<span class="d-pu-ingredient__info d-pu-ingredient__info--d-pu-ingredients">
									Имбирь, соус унаги
								</span>
							</div>
							<div class="d-pu-ingredient__count-box">
								<span class="count count--default count--lite count--joint count--block count--inherit-font d-pu-ingredient__count">
									<button class="count__minus" type="button">-</button>
									<input type="text" value="7" class="count__field">
									<button class="count__plus" type="button">+</button>
								</span>
							</div>
							<div class="d-pu-ingredient__price-box">
								<span class="d-pu-ingredient__price">580 <span class="d-pu-ingredient__price-rub">₽</span></span>
							</div>
							<div class="d-pu-ingredient__button-box">
								<button type="button" class="d-pu-ingredient__x">X</button>
							</div>
						</div>
					</div>
					
					<span class="add-ingredients__total">
						 <span class="add-ingredients__total-title">Сумма</span>
						 <span class="add-ingredients__total-price">
							  <span class="add-ingredients__total-num">0</span>
							  <span class="add-ingredients__total-rub rub">р</span>
						 </span>
					</span>
					<a type="submit" id="additional_sales_submit" class="button button--short add-ingredients__add"
						 data-basketid="" data-modify="" data-city="1" data-element="44278" onclick="return false">
						 <span class="button__text">Добавить</span>
					</a>
			  </div>
		 </div>
	</div>
	<!--</div>-->
</div>