<div class="popup-page" id="additional_sales" style="display: block;">
	<div class="popup-page__out">
		 <div class="popup-page__in">
			  <div class="popup-page__content popup-page__content--ingredients">
					<div class="popup-page__close"></div>
					<h2>Добавьте ингредиенты в Гриль-паста с курицей и песто</h2>

					<!-- Add Ingredients [new_content] -->

					<div class="d-pu-ingredient-list">
						<div class="d-pu-ingredient">
							<div class="d-pu-ingredient__image-box">
								<span class="d-pu-ingredient__image-wrapper">
									<img src="images/dev-005-vasabi.jpg" class="d-pu-ingredient__image">
								</span>
							</div>
							<div class="d-pu-ingredient__name-box">
								<div class="d-pu-ingredient__name-wrapper">
									<span class="d-pu-ingredient__name">Васаби</span>
								</div>
								<span class="d-pu-ingredient__info">
									6 гр.
								</span>
							</div>
							<div class="d-pu-ingredient__count-box">
								<span class="count count--default count--lite count--joint count--block count--inherit-font d-pu-ingredient__count">
									<button class="count__minus" type="button">-</button>
									<input type="text" value="1" class="count__field">
									<button class="count__plus" type="button">+</button>
								</span>
							</div>
							<div class="d-pu-ingredient__price-box">
								<span class="d-pu-ingredient__price">20 <span class="d-pu-ingredient__price-rub">₽</span></span>
							</div>
						</div>
						<div class="d-pu-ingredient">
							<div class="d-pu-ingredient__image-box">
								<span class="d-pu-ingredient__image-wrapper">
									<img src="images/dev-011-unagi.jpg" class="d-pu-ingredient__image">
								</span>
							</div>
							<div class="d-pu-ingredient__name-box">
								<div class="d-pu-ingredient__name-wrapper">
									<span class="d-pu-ingredient__name">Соус унаги</span>
								</div>
								<span class="d-pu-ingredient__info">
									50 гр.
								</span>
							</div>
							<div class="d-pu-ingredient__count-box">
								<span class="count count--default count--lite count--joint count--block count--inherit-font d-pu-ingredient__count">
									<button class="count__minus" type="button">-</button>
									<input type="text" value="1" class="count__field">
									<button class="count__plus" type="button">+</button>
								</span>
							</div>
							<div class="d-pu-ingredient__price-box">
								<span class="d-pu-ingredient__price">35 <span class="d-pu-ingredient__price-rub">₽</span></span>
							</div>
						</div>
						<div class="d-pu-ingredient">
							<div class="d-pu-ingredient__image-box">
								<span class="d-pu-ingredient__image-wrapper">
									<img src="images/dev-010-spaysi.jpg" class="d-pu-ingredient__image">
								</span>
							</div>
							<div class="d-pu-ingredient__name-box">
								<div class="d-pu-ingredient__name-wrapper">
									<span class="d-pu-ingredient__name">Соус спайси</span>
								</div>
								<span class="d-pu-ingredient__info">
									50 гр.
								</span>
							</div>
							<div class="d-pu-ingredient__count-box">
								<span class="count count--default count--lite count--joint count--block count--inherit-font d-pu-ingredient__count">
									<button class="count__minus" type="button">-</button>
									<input type="text" value="0" class="count__field">
									<button class="count__plus" type="button">+</button>
								</span>
							</div>
							<div class="d-pu-ingredient__price-box">
								<span class="d-pu-ingredient__price">0 <span class="d-pu-ingredient__price-rub">₽</span></span>
							</div>
						</div>
					</div>
					
					<span class="d-pu-ingredients-total">
						 <span class="d-pu-ingredients-total__title">Сумма:</span>
						 <span class="d-pu-ingredients-total__price">55 <span class="d-pu-ingredient__price-rub">₽</span></span>
					</span>
					<button type="submit" class="button button--default button--l button--block">
						 <span class="button__text">Добавить</span>
					</button>

					<!-- end Add Ingredients -->
			  </div>
		 </div>
	</div>
</div>