<section class="dishes dishes--short">
	<div id="dishes__list" class="dishes__list">
		<div id="23198" class="dishes__item dish js-card_wrapper">
			<a id="fav_23198" data-favorite="23198" href="javascript://" class="dish__favorite"></a>

			<a data-prod="23198" href="http://svoya-kompaniya.ru/menu/rollyi/klasicheskaya-filadelfia/" class="dish__image">

				<img class="lazy" src="images/dev-dishes-klassicheskaya-filadelfiya.jpg" data-original="/upload/resize_cache/iblock/3e6/550_400_175511db9cefbc414a902a46f1b8fae16/3e6a132cf13fce137810cca984377bd0.jpg"
				width="" height="" alt="традиционные роллы Классическая филадельфия" title="традиционные роллыКлассическая филадельфия">

				<div class="dish__labels">
					<div><span class="dish__label" style="background-color:#f05d86">Хит продаж</span></div>
				</div>
			</a>

			<div class="dish__content">
				<a href="http://svoya-kompaniya.ru/menu/rollyi/traditsionnye-rolly/" class="dish__category">традиционные
					роллы</a>

				<button type="button" class="dish-ingredients-btn">Добавить больше вкуса</button>

				<div class="dish__description item-info" style="height: 37px;">
					<h3 class="item-info__title">
						<a data-prod="23198" href="http://svoya-kompaniya.ru/menu/rollyi/klasicheskaya-filadelfia/">
							Классическая филадельфия
						</a>
					</h3>

					<div class="item-info__price-mobile">
						<span class="js-price">209</span> <span class="rub">р</span>
					</div>

				</div>

				<footer class="dish__footer" style="height: 28px;">

					<div class="dish__price">
						<span class="js-price" data-element="23198">209</span>&nbsp;<span class="rub">р</span>
					</div>

					<div class="dish__controls">
						<div class="dish__count count">
							<span class="count__btn count__btn--minus count__btn--disable"></span>

							<input id="element_23198" type="text" class="count__field" value="1" maxlength="3">

							<span class="count__btn count__btn--plus"></span>
						</div>

						<a id="a_23198" data-element="23195" data-parent="23198" data-name="Классическая филадельфия" data-category="/menu/rollyi/traditsionnye-rolly/"
						data-price="" href="javascript://" class="dish__btn button button--small addtobasket">
							<span class="button__ico button__ico--cart-small" style=" width: 16px; height: 16px; background-size: 16px 16px; background-position: center;"></span>
							<span class="button__text">В корзину</span>
						</a>
					</div>
				</footer>
			</div>
		</div>

		<div id="23264" class="dishes__item dish js-card_wrapper">
			<a id="fav_23264" data-favorite="23264" href="javascript://" class="dish__favorite"></a>

			<a data-prod="23264" href="http://svoya-kompaniya.ru/menu/rollyi/khotchiz/" class="dish__image">

				<img class="lazy" src="images/dev-dishes-hot-chiz.jpg" data-original="/upload/resize_cache/iblock/592/550_400_175511db9cefbc414a902a46f1b8fae16/59299c915d8b71a39f672cfe5e9935bd.jpg"
				width="" height="" alt="горячие роллы Хот Чиз" title="горячие роллыХот Чиз">

				<div class="dish__labels">
					<div><span class="dish__label" style="background-color:#f05d86">Хит продаж</span></div>
				</div>
			</a>

			<div class="dish__content">
				<a href="http://svoya-kompaniya.ru/menu/rollyi/goryachie-rolly/" class="dish__category">горячие
					роллы</a>

				<button type="button" class="dish-ingredients-btn">Добавить больше вкуса</button>

				<div class="dish__description item-info" style="height: 37px;">
					<h3 class="item-info__title">
						<a data-prod="23264" href="http://svoya-kompaniya.ru/menu/rollyi/khotchiz/">
							Хот Чиз
						</a>
					</h3>

					<div class="item-info__price-mobile">
						<span class="js-price">109</span> <span class="rub">р</span>
					</div>

				</div>

				<footer class="dish__footer" style="height: 28px;">

					<div class="dish__price">
						<span class="js-price" data-element="23264">109</span>&nbsp;<span class="rub">р</span>
					</div>

					<div class="dish__controls">
						<div class="dish__count count">
							<span class="count__btn count__btn--minus count__btn--disable"></span>

							<input id="element_23264" type="text" class="count__field" value="1" maxlength="3">

							<span class="count__btn count__btn--plus"></span>
						</div>

						<a id="a_23264" data-element="23260" data-parent="23264" data-name="Хот Чиз" data-category="/menu/rollyi/goryachie-rolly/"
						data-price="" href="javascript://" class="dish__btn button button--small addtobasket">
							<span class="button__ico button__ico--cart-small"></span>
							<span class="button__text">В корзину</span>
						</a>
					</div>
				</footer>
			</div>
		</div>

		<div id="45705" class="dishes__item dish js-card_wrapper">
			<a id="fav_45705" data-favorite="45705" href="javascript://" class="dish__favorite"></a>

			<a data-prod="45705" href="http://svoya-kompaniya.ru/menu/rollyi/s-surimi-i-ogurtsom-/" class="dish__image">

				<img class="lazy" src="images/dev-dishes-s-surimi-i-ogurtzom.jpg"
						data-original="/upload/resize_cache/iblock/f92/550_400_175511db9cefbc414a902a46f1b8fae16/f92088c26b03f3f6e77530ba1dbde639.jpg"
						width="" height="" alt="традиционные роллы С сурими и огурцом " title="традиционные роллыС сурими и огурцом "
						style="display: inline;">

			</a>

			<div class="dish__content">
				<a href="http://svoya-kompaniya.ru/menu/rollyi/traditsionnye-rolly/" class="dish__category">традиционные
						роллы</a>


				<div class="dish__description item-info" style="height: 37px;">
						<h3 class="item-info__title">
							<a data-prod="45705" href="http://svoya-kompaniya.ru/menu/rollyi/s-surimi-i-ogurtsom-/">
								С сурими и огурцом
							</a>
						</h3>

						<div class="item-info__price-mobile">
							<span class="js-price">119</span> <span class="rub">р</span>
						</div>

				</div>

				<footer class="dish__footer" style="height: 28px;">

						<div class="dish__price">
							<span class="js-price" data-element="45705">119</span>&nbsp;<span class="rub">р</span>
						</div>

						<div class="dish__controls">
							<div class="dish__count count">
								<span class="count__btn count__btn--minus count__btn--disable"></span>

								<input id="element_45705" type="text" class="count__field" value="1" maxlength="3">

								<span class="count__btn count__btn--plus"></span>
							</div>

							<a id="a_45705" data-element="45702" data-parent="45705" data-name="С сурими и огурцом "
								data-category="/menu/rollyi/traditsionnye-rolly/" data-price="" href="javascript://"
								class="dish__btn button button--small addtobasket">
								<span class="button__ico button__ico--cart-small"></span>
								<span class="button__text">В корзину</span>
							</a>
						</div>
				</footer>
			</div>
		</div>

		<div id="45701" class="dishes__item dish js-card_wrapper">
			<a id="fav_45701" data-favorite="45701" href="javascript://" class="dish__favorite"></a>

			<a data-prod="45701" href="http://svoya-kompaniya.ru/menu/rollyi/slivochnyy-s-kuroy/" class="dish__image">

				<img class="lazy" src="images/dev-dishes-slivochniy-s-kuroy.jpg"
						data-original="/upload/resize_cache/iblock/a09/550_400_175511db9cefbc414a902a46f1b8fae16/a09d634f5bcc58506252365b61d93fc3.jpg"
						width="" height="" alt="традиционные роллы Сливочный с курой" title="традиционные роллыСливочный с курой"
						style="display: inline;">

			</a>

			<div class="dish__content">
				<a href="http://svoya-kompaniya.ru/menu/rollyi/traditsionnye-rolly/" class="dish__category">традиционные
						роллы</a>


				<div class="dish__description item-info" style="height: 58px;">
						<h3 class="item-info__title">
							<a data-prod="45701" href="http://svoya-kompaniya.ru/menu/rollyi/slivochnyy-s-kuroy/"
								class="">
								Сливочный с курой
							</a>
						</h3>

						<div class="item-info__price-mobile">
							<span class="js-price">89</span> <span class="rub">р</span>
						</div>

				</div>

				<footer class="dish__footer" style="height: 28px;">

						<div class="dish__price">
							<span class="js-price" data-element="45701">89</span>&nbsp;<span class="rub">р</span>
						</div>

						<div class="dish__controls">
							<div class="dish__count count">
								<span class="count__btn count__btn--minus count__btn--disable"></span>

								<input id="element_45701" type="text" class="count__field" value="1" maxlength="3">

								<span class="count__btn count__btn--plus"></span>
							</div>

							<a id="a_45701" data-element="45699" data-parent="45701" data-name="Сливочный с курой"
								data-category="/menu/rollyi/traditsionnye-rolly/" data-price="" href="javascript://"
								class="dish__btn button button--small addtobasket">
								<span class="button__ico button__ico--cart-small"></span>
								<span class="button__text">В корзину</span>
							</a>
						</div>
				</footer>
			</div>
		</div>

		<div id="45697" class="dishes__item dish js-card_wrapper">
			<a id="fav_45697" data-favorite="45697" href="javascript://" class="dish__favorite"></a>

			<a data-prod="45697" href="http://svoya-kompaniya.ru/menu/rollyi/goryachie-rolly-tovar/" class="dish__image">

				<img class="lazy" src="images/dev-dishes-meksikanskiy-s-kopchenoy-kurinoy-grudkoy.jpg"
						data-original="/upload/resize_cache/iblock/0ce/550_400_175511db9cefbc414a902a46f1b8fae16/0ce13fac287deb1ced95c78f889988f3.jpg"
						width="" height="" alt="горячие роллы Мексиканский с копченой куриной грудкой " title="горячие роллыМексиканский с копченой куриной грудкой "
						style="display: inline;">

			</a>

			<div class="dish__content">
				<a href="http://svoya-kompaniya.ru/menu/rollyi/goryachie-rolly/" class="dish__category">горячие
						роллы</a>


				<div class="dish__description item-info" style="height: 58px;">
						<h3 class="item-info__title">
							<a data-prod="45697" href="http://svoya-kompaniya.ru/menu/rollyi/goryachie-rolly-tovar/">
								Мексиканский с копченой куриной грудкой
							</a>
						</h3>

						<div class="item-info__price-mobile">
							<span class="js-price">119</span> <span class="rub">р</span>
						</div>

				</div>

				<footer class="dish__footer" style="height: 28px;">

						<div class="dish__price">
							<span class="js-price" data-element="45697">119</span>&nbsp;<span class="rub">р</span>
						</div>

						<div class="dish__controls">
							<div class="dish__count count">
								<span class="count__btn count__btn--minus count__btn--disable"></span>

								<input id="element_45697" type="text" class="count__field" value="1" maxlength="3">

								<span class="count__btn count__btn--plus"></span>
							</div>

							<a id="a_45697" data-element="45696" data-parent="45697" data-name="Мексиканский с копченой куриной грудкой "
								data-category="/menu/rollyi/goryachie-rolly/" data-price="" href="javascript://"
								class="dish__btn button button--small addtobasket">
								<span class="button__ico button__ico--cart-small"></span>
								<span class="button__text">В корзину</span>
							</a>
						</div>
				</footer>
			</div>
		</div>

		<div id="23290" class="dishes__item dish js-card_wrapper">
			<a id="fav_23290" data-favorite="23290" href="javascript://" class="dish__favorite"></a>

			<a data-prod="23290" href="http://svoya-kompaniya.ru/menu/rollyi/s-lososem-i-krevetkoy/" class="dish__image">

				<img class="lazy" src="images/dev-dishes-zapecheniy-s-lososem-i-krevetkoy.jpg"
						data-original="/upload/resize_cache/iblock/9cd/550_400_175511db9cefbc414a902a46f1b8fae16/9cd97979fb31990967e16c2a4d30fe71.jpg"
						width="" height="" alt="горячие роллы Запеченный с лососем и креветкой" title="горячие роллыЗапеченный с лососем и креветкой"
						style="display: inline;">

				<div class="dish__labels">
						<div><span class="dish__label" style="background-color:#f05d86">Хит продаж</span></div>
				</div>
			</a>

			<div class="dish__content">
				<a href="http://svoya-kompaniya.ru/menu/rollyi/goryachie-rolly/" class="dish__category">горячие
						роллы</a>

				<button type="button" class="dish-ingredients-btn">Добавить больше вкуса</button>

				<div class="dish__description item-info" style="height: 58px;">
						<h3 class="item-info__title">
							<a data-prod="23290" href="http://svoya-kompaniya.ru/menu/rollyi/s-lososem-i-krevetkoy/">
								Запеченный с лососем и креветкой
							</a>
						</h3>

						<div class="item-info__price-mobile">
							<span class="js-price">189</span> <span class="rub">р</span>
						</div>

				</div>

				<footer class="dish__footer" style="height: 28px;">

						<div class="dish__price">
							<span class="js-price" data-element="23290">189</span>&nbsp;<span class="rub">р</span>
						</div>

						<div class="dish__controls">
							<div class="dish__count count">
								<span class="count__btn count__btn--minus count__btn--disable"></span>

								<input id="element_23290" type="text" class="count__field" value="1" maxlength="3">

								<span class="count__btn count__btn--plus"></span>
							</div>

							<a id="a_23290" data-element="23287" data-parent="23290" data-name="Запеченный с лососем и креветкой"
								data-category="/menu/rollyi/goryachie-rolly/" data-price="" href="javascript://"
								class="dish__btn button button--small addtobasket">
								<span class="button__ico button__ico--cart-small"></span>
								<span class="button__text">В корзину</span>
							</a>
						</div>
				</footer>
			</div>
		</div>
	</div> 
</section>