
<div class="b-lunch-container js-b-lunch-dbrief-toggle-delegate">
	<div class="combo-phone combo-phone--b-lunch">
		<a href="tel:83432980044" class="combo-phone-button">
			<span class="combo-phone-button__title">Заказать по телефону</span>
			<span class="combo-phone-button__number">+7 (343) 298 00 44</span>
		</a>
	</div>

	<div class="b-lunch-grid">
		<div class="b-lunch-row">
			<div class="b-lunch-col">
				<div class="b-lunch">
					<span class="b-lunch__title">Салат и роллы</span>
					<div class="b-lunch__dishes">
						<div class="b-lunch-dish-list">
							<div class="b-lunch-dish">
								<div class="b-lunch-dish__name-box">
									<div class="b-lunch-dish__header">
										<div class="b-lunch-dish__h-row">
											<div class="b-lunch-dish__h-col b-lunch-dish__h-col--name">
												<div class="b-lunch-dish__name-wrapper">
													<span class="b-lunch-dish__name">С копченой курицей и имбирной заправкой</span>
												</div>
											</div>
											<div class="b-lunch-dish__h-col b-lunch-dish__h-col--price">
												<span class="b-lunch-dish__price"><span class="b-lunch-dish__price-num">69</span><span class="b-lunch-dish__price-rub c-rub">₽</span></span>
											</div>
										</div>
									</div>
									<div class="b-lunch-dish-ibar">
										<div class="b-lunch-dish-ibar__row">
											<div class="b-lunch-dish-ibar__col">
												<span class="b-lunch-dish__weight">140 гр.</span>
											</div>
											<div class="b-lunch-dish-ibar__col">
												<button type="button" class="b-lunch-dish-brief-toggle">Состав</button>
											</div>
										</div>
									</div>
									<div class="b-lunch-dish-brief b-lunch-dish-brief--hidden">
										Копченая курица, морковь, огурец, томаты, салат айсберг, имбирь, чеснок, кунжут, рисовый уксус, масло, зелень (140 гр.).
									</div>
								</div>
							</div>
							<div class="b-lunch-dish">
								<div class="b-lunch-dish__name-box">
									<div class="b-lunch-dish__header">
										<div class="b-lunch-dish__h-row">
											<div class="b-lunch-dish__h-col b-lunch-dish__h-col--name">
												<div class="b-lunch-dish__name-wrapper">
													<span class="b-lunch-dish__name">Будапешт</span>
												</div>
											</div>
											<div class="b-lunch-dish__h-col b-lunch-dish__h-col--price">
												<span class="b-lunch-dish__price"><span class="b-lunch-dish__price-num">79</span><span class="b-lunch-dish__price-rub c-rub">₽</span></span>
											</div>
										</div>
									</div>
									<div class="b-lunch-dish-ibar">
										<div class="b-lunch-dish-ibar__row">
											<div class="b-lunch-dish-ibar__col">
												<span class="b-lunch-dish__weight">140 гр.</span>
											</div>
											<div class="b-lunch-dish-ibar__col">
												<button type="button" class="b-lunch-dish-brief-toggle">Состав</button>
											</div>
										</div>
									</div>
									<div class="b-lunch-dish-brief b-lunch-dish-brief--hidden">
										Копченая курица, морковь, огурец, томаты, салат айсберг, имбирь, чеснок, кунжут, рисовый уксус, масло, зелень (140 гр.).
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="b-lunch-col">
				<div class="b-lunch">
					<span class="b-lunch__title">Суп</span>
					<div class="b-lunch__dishes">
						<div class="b-lunch-dish-list">
							<div class="b-lunch-dish">
								<div class="b-lunch-dish__name-box">
									<div class="b-lunch-dish__header">
										<div class="b-lunch-dish__h-row">
											<div class="b-lunch-dish__h-col b-lunch-dish__h-col--name">
												<div class="b-lunch-dish__name-wrapper">
													<span class="b-lunch-dish__name">С копченой курицей и имбирной заправкой</span>
												</div>
											</div>
											<div class="b-lunch-dish__h-col b-lunch-dish__h-col--price">
												<span class="b-lunch-dish__price"><span class="b-lunch-dish__price-num">69</span><span class="b-lunch-dish__price-rub c-rub">₽</span></span>
											</div>
										</div>
									</div>
									<div class="b-lunch-dish-ibar">
										<div class="b-lunch-dish-ibar__row">
											<div class="b-lunch-dish-ibar__col">
												<span class="b-lunch-dish__weight">140 гр.</span>
											</div>
											<div class="b-lunch-dish-ibar__col">
												<button type="button" class="b-lunch-dish-brief-toggle">Состав</button>
											</div>
										</div>
									</div>
									<div class="b-lunch-dish-brief b-lunch-dish-brief--hidden">
										Копченая курица, морковь, огурец, томаты, салат айсберг, имбирь, чеснок, кунжут, рисовый уксус, масло, зелень (140 гр.).
									</div>
								</div>
							</div>
							<div class="b-lunch-dish">
								<div class="b-lunch-dish__name-box">
									<div class="b-lunch-dish__header">
										<div class="b-lunch-dish__h-row">
											<div class="b-lunch-dish__h-col b-lunch-dish__h-col--name">
												<div class="b-lunch-dish__name-wrapper">
													<span class="b-lunch-dish__name">Будапешт</span>
												</div>
											</div>
											<div class="b-lunch-dish__h-col b-lunch-dish__h-col--price">
												<span class="b-lunch-dish__price"><span class="b-lunch-dish__price-num">79</span><span class="b-lunch-dish__price-rub c-rub">₽</span></span>
											</div>
										</div>
									</div>
									<div class="b-lunch-dish-ibar">
										<div class="b-lunch-dish-ibar__row">
											<div class="b-lunch-dish-ibar__col">
												<span class="b-lunch-dish__weight">140 гр.</span>
											</div>
											<div class="b-lunch-dish-ibar__col">
												<button type="button" class="b-lunch-dish-brief-toggle">Состав</button>
											</div>
										</div>
									</div>
									<div class="b-lunch-dish-brief b-lunch-dish-brief--hidden">
										Копченая курица, морковь, огурец, томаты, салат айсберг, имбирь, чеснок, кунжут, рисовый уксус, масло, зелень (140 гр.).
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="b-lunch-col">
				<div class="b-lunch">
					<span class="b-lunch__title">Горячее</span>
					<div class="b-lunch__dishes">
						<div class="b-lunch-dish-list">
							<div class="b-lunch-dish">
								<div class="b-lunch-dish__name-box">
									<div class="b-lunch-dish__header">
										<div class="b-lunch-dish__h-row">
											<div class="b-lunch-dish__h-col b-lunch-dish__h-col--name">
												<div class="b-lunch-dish__name-wrapper">
													<span class="b-lunch-dish__name">С копченой курицей и имбирной заправкой</span>
												</div>
											</div>
											<div class="b-lunch-dish__h-col b-lunch-dish__h-col--price">
												<span class="b-lunch-dish__price"><span class="b-lunch-dish__price-num">69</span><span class="b-lunch-dish__price-rub c-rub">₽</span></span>
											</div>
										</div>
									</div>
									<div class="b-lunch-dish-ibar">
										<div class="b-lunch-dish-ibar__row">
											<div class="b-lunch-dish-ibar__col">
												<span class="b-lunch-dish__weight">140 гр.</span>
											</div>
											<div class="b-lunch-dish-ibar__col">
												<button type="button" class="b-lunch-dish-brief-toggle">Состав</button>
											</div>
										</div>
									</div>
									<div class="b-lunch-dish-brief b-lunch-dish-brief--hidden">
										Копченая курица, морковь, огурец, томаты, салат айсберг, имбирь, чеснок, кунжут, рисовый уксус, масло, зелень (140 гр.).
									</div>
								</div>
							</div>
							<div class="b-lunch-dish">
								<div class="b-lunch-dish__name-box">
									<div class="b-lunch-dish__header">
										<div class="b-lunch-dish__h-row">
											<div class="b-lunch-dish__h-col b-lunch-dish__h-col--name">
												<div class="b-lunch-dish__name-wrapper">
													<span class="b-lunch-dish__name">Будапешт</span>
												</div>
											</div>
											<div class="b-lunch-dish__h-col b-lunch-dish__h-col--price">
												<span class="b-lunch-dish__price"><span class="b-lunch-dish__price-num">79</span><span class="b-lunch-dish__price-rub c-rub">₽</span></span>
											</div>
										</div>
									</div>
									<div class="b-lunch-dish-ibar">
										<div class="b-lunch-dish-ibar__row">
											<div class="b-lunch-dish-ibar__col">
												<span class="b-lunch-dish__weight">140 гр.</span>
											</div>
											<div class="b-lunch-dish-ibar__col">
												<button type="button" class="b-lunch-dish-brief-toggle">Состав</button>
											</div>
										</div>
									</div>
									<div class="b-lunch-dish-brief b-lunch-dish-brief--hidden">
										Копченая курица, морковь, огурец, томаты, салат айсберг, имбирь, чеснок, кунжут, рисовый уксус, масло, зелень (140 гр.).
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>