
<div class="b-lunch-container js-b-lunch-dbrief-toggle-delegate js-b-lunch-gselect-delegate">
	<div class="combo-phone combo-phone--b-lunch">
		<a href="tel:83432980044" class="combo-phone-button">
			<span class="combo-phone-button__title">Заказать по телефону</span>
			<span class="combo-phone-button__number">+7 (343) 298 00 44</span>
		</a>
	</div>

	<div class="b-lunch-grid">
		<div class="b-lunch-row">
			<div class="b-lunch-col">
				<div class="b-lunch">
					<span class="b-lunch__title">Салат и роллы</span>
					<div class="b-lunch__main">
						<div class="b-lunch-dish-list">
							<div class="b-lunch-dish">
								<div class="b-lunch-dish__control-box">
									<span class="pretty-control pretty-control--default pretty-control--radio">
										<input type="radio" class="pretty-control__input" name="radio-salad" id="radio-salad-1">
										<span class="pretty-control__item"></span>
									</span>
								</div>
								<div class="b-lunch-dish__name-box">
									<div class="b-lunch-dish__header">
										<div class="b-lunch-dish__h-row">
											<div class="b-lunch-dish__h-col b-lunch-dish__h-col--name">
												<div class="b-lunch-dish__name-wrapper">
													<label class="b-lunch-dish__name-label" for="radio-salad-1">
														<span class="b-lunch-dish__name">С копченой курицей и имбирной заправкой</span>
													</label>
												</div>
											</div>
											<div class="b-lunch-dish__h-col b-lunch-dish__h-col--price">
												<span class="b-lunch-dish__price"><span class="b-lunch-dish__price-num">69</span><span class="b-lunch-dish__price-rub c-rub">₽</span></span>
											</div>
										</div>
									</div>
									<div class="b-lunch-dish-ibar">
										<div class="b-lunch-dish-ibar__row">
											<div class="b-lunch-dish-ibar__col">
												<span class="b-lunch-dish__weight">140 гр.</span>
											</div>
											<div class="b-lunch-dish-ibar__col">
												<button type="button" class="b-lunch-dish-brief-toggle">Состав</button>
											</div>
										</div>
									</div>
									<div class="b-lunch-dish-brief b-lunch-dish-brief--hidden">
										Копченая курица, морковь, огурец, томаты, салат айсберг, имбирь, чеснок, кунжут, рисовый уксус, масло, зелень (140 гр.).
									</div>
								</div>
							</div>
							<div class="b-lunch-dish">
								<div class="b-lunch-dish__control-box">
									<span class="pretty-control pretty-control--default pretty-control--radio">
										<input type="radio" class="pretty-control__input" name="radio-salad" id="radio-salad-2">
										<span class="pretty-control__item"></span>
									</span>
								</div>
								<div class="b-lunch-dish__name-box">
									<div class="b-lunch-dish__header">
										<div class="b-lunch-dish__h-row">
											<div class="b-lunch-dish__h-col b-lunch-dish__h-col--name">
												<div class="b-lunch-dish__name-wrapper">
													<label class="b-lunch-dish__name-label" for="radio-salad-2">
														<span class="b-lunch-dish__name">Будапешт</span>
													</label>
												</div>
											</div>
											<div class="b-lunch-dish__h-col b-lunch-dish__h-col--price">
												<span class="b-lunch-dish__price"><span class="b-lunch-dish__price-num">79</span><span class="b-lunch-dish__price-rub c-rub">₽</span></span>
											</div>
										</div>
									</div>
									<div class="b-lunch-dish-ibar">
										<div class="b-lunch-dish-ibar__row">
											<div class="b-lunch-dish-ibar__col">
												<span class="b-lunch-dish__weight">140 гр.</span>
											</div>
											<div class="b-lunch-dish-ibar__col">
												<button type="button" class="b-lunch-dish-brief-toggle">Состав</button>
											</div>
										</div>
									</div>
									<div class="b-lunch-dish-brief b-lunch-dish-brief--hidden">
										Копченая курица, морковь, огурец, томаты, салат айсберг, имбирь, чеснок, кунжут, рисовый уксус, масло, зелень (140 гр.).
									</div>
								</div>
							</div>
							<div class="b-lunch-dish">
								<div class="b-lunch-dish__control-box">
									<span class="pretty-control pretty-control--default pretty-control--radio">
										<input type="radio" class="pretty-control__input" name="radio-salad" id="radio-salad-0">
										<span class="pretty-control__item"></span>
									</span>
								</div>
								<div class="b-lunch-dish__name-box">
									<div class="b-lunch-dish__header">
										<div class="b-lunch-dish__h-row">
											<div class="b-lunch-dish__h-col b-lunch-dish__h-col--name">
												<div class="b-lunch-dish__name-wrapper">
													<label class="b-lunch-dish__name-label" for="radio-salad-0">
														<span class="b-lunch-dish__name">Нет</span>
													</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="b-lunch-col">
				<div class="b-lunch">
					<span class="b-lunch__title">Суп</span>
					<div class="b-lunch__main">
						<div class="b-lunch-dish-list">
							<div class="b-lunch-dish">
								<div class="b-lunch-dish__control-box">
									<span class="pretty-control pretty-control--default pretty-control--radio">
										<input type="radio" class="pretty-control__input" name="radio-soup" id="radio-soup-1">
										<span class="pretty-control__item"></span>
									</span>
								</div>
								<div class="b-lunch-dish__name-box">
									<div class="b-lunch-dish__header">
										<div class="b-lunch-dish__h-row">
											<div class="b-lunch-dish__h-col b-lunch-dish__h-col--name">
												<div class="b-lunch-dish__name-wrapper">
													<label class="b-lunch-dish__name-label" for="radio-soup-1">
														<span class="b-lunch-dish__name">С копченой курицей и имбирной заправкой</span>
													</label>
												</div>
											</div>
											<div class="b-lunch-dish__h-col b-lunch-dish__h-col--price">
												<span class="b-lunch-dish__price"><span class="b-lunch-dish__price-num">69</span><span class="b-lunch-dish__price-rub c-rub">₽</span></span>
											</div>
										</div>
									</div>
									<div class="b-lunch-dish-ibar">
										<div class="b-lunch-dish-ibar__row">
											<div class="b-lunch-dish-ibar__col">
												<span class="b-lunch-dish__weight">140 гр.</span>
											</div>
											<div class="b-lunch-dish-ibar__col">
												<button type="button" class="b-lunch-dish-brief-toggle">Состав</button>
											</div>
										</div>
									</div>
									<div class="b-lunch-dish-brief b-lunch-dish-brief--hidden">
										Копченая курица, морковь, огурец, томаты, салат айсберг, имбирь, чеснок, кунжут, рисовый уксус, масло, зелень (140 гр.).
									</div>
								</div>
							</div>
							<div class="b-lunch-dish">
								<div class="b-lunch-dish__control-box">
									<span class="pretty-control pretty-control--default pretty-control--radio">
										<input type="radio" class="pretty-control__input" name="radio-soup" id="radio-soup-2">
										<span class="pretty-control__item"></span>
									</span>
								</div>
								<div class="b-lunch-dish__name-box">
									<div class="b-lunch-dish__header">
										<div class="b-lunch-dish__h-row">
											<div class="b-lunch-dish__h-col b-lunch-dish__h-col--name">
												<div class="b-lunch-dish__name-wrapper">
													<label class="b-lunch-dish__name-label" for="radio-soup-2">
														<span class="b-lunch-dish__name">Будапешт</span>
													</label>
												</div>
											</div>
											<div class="b-lunch-dish__h-col b-lunch-dish__h-col--price">
												<span class="b-lunch-dish__price"><span class="b-lunch-dish__price-num">79</span><span class="b-lunch-dish__price-rub c-rub">₽</span></span>
											</div>
										</div>
									</div>
									<div class="b-lunch-dish-ibar">
										<div class="b-lunch-dish-ibar__row">
											<div class="b-lunch-dish-ibar__col">
												<span class="b-lunch-dish__weight">140 гр.</span>
											</div>
											<div class="b-lunch-dish-ibar__col">
												<button type="button" class="b-lunch-dish-brief-toggle">Состав</button>
											</div>
										</div>
									</div>
									<div class="b-lunch-dish-brief b-lunch-dish-brief--hidden">
										Копченая курица, морковь, огурец, томаты, салат айсберг, имбирь, чеснок, кунжут, рисовый уксус, масло, зелень (140 гр.).
									</div>
								</div>
							</div>
							<div class="b-lunch-dish">
								<div class="b-lunch-dish__control-box">
									<span class="pretty-control pretty-control--default pretty-control--radio">
										<input type="radio" class="pretty-control__input" name="radio-soup" id="radio-soup-0">
										<span class="pretty-control__item"></span>
									</span>
								</div>
								<div class="b-lunch-dish__name-box">
									<div class="b-lunch-dish__header">
										<div class="b-lunch-dish__h-row">
											<div class="b-lunch-dish__h-col b-lunch-dish__h-col--name">
												<div class="b-lunch-dish__name-wrapper">
													<label class="b-lunch-dish__name-label" for="radio-soup-0">
														<span class="b-lunch-dish__name">Нет</span>
													</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="b-lunch-col">
				<div class="b-lunch b-lunch-gselect">
					<span class="b-lunch__title">Горячее</span>
					<div class="b-lunch__main">
						<div class="b-lunch-dishes">
							<div class="b-lunch-dish-list">
								
								<!-- Блюдо 1 -->
								<div class="b-lunch-dish">
									<div class="b-lunch-dish__control-box">
										<span class="pretty-control pretty-control--default pretty-control--radio">
											<input data-dish-name="s-kopchenoy-kuricey" type="radio" class="pretty-control__input b-lunch-gselect__dish-switch" name="radio-hot" id="radio-hot-1">
											<span class="pretty-control__item"></span>
										</span>
									</div>
									<div class="b-lunch-dish__name-box">
										<div class="b-lunch-dish__header">
											<div class="b-lunch-dish__h-row">
												<div class="b-lunch-dish__h-col b-lunch-dish__h-col--name">
													<div class="b-lunch-dish__name-wrapper">
														<label class="b-lunch-dish__name-label" for="radio-hot-1">
															<span class="b-lunch-dish__name">С копченой курицей и имбирной заправкой</span>
														</label>
													</div>
												</div>
												<div class="b-lunch-dish__h-col b-lunch-dish__h-col--price">
													<span class="b-lunch-dish__price"><span class="b-lunch-dish__price-num">69</span><span class="b-lunch-dish__price-rub c-rub">₽</span></span>
												</div>
											</div>
										</div>
										<div class="b-lunch-has-garnish-container">
											<span class="b-lunch-has-garnish">Гарнир на выбор</span>
										</div>
										<div class="b-lunch-dish-ibar">
											<div class="b-lunch-dish-ibar__row">
												<div class="b-lunch-dish-ibar__col">
													<span class="b-lunch-dish__weight">140 гр.</span>
												</div>
												<div class="b-lunch-dish-ibar__col">
													<button type="button" class="b-lunch-dish-brief-toggle">Состав</button>
												</div>
											</div>
										</div>
										<div class="b-lunch-dish-brief b-lunch-dish-brief--hidden">
											Копченая курица, морковь, огурец, томаты, салат айсберг, имбирь, чеснок, кунжут, рисовый уксус, масло, зелень (140 гр.).
										</div>
									</div>
								</div>
								
								<!-- Блюдо 2 -->
								<div class="b-lunch-dish">
									<div class="b-lunch-dish__control-box">
										<span class="pretty-control pretty-control--default pretty-control--radio">
											<input data-dish-name="budapesht" type="radio" class="pretty-control__input b-lunch-gselect__dish-switch" name="radio-hot" id="radio-hot-2">
											<span class="pretty-control__item"></span>
										</span>
									</div>
									<div class="b-lunch-dish__name-box">
										<div class="b-lunch-dish__header">
											<div class="b-lunch-dish__h-row">
												<div class="b-lunch-dish__h-col b-lunch-dish__h-col--name">
													<div class="b-lunch-dish__name-wrapper">
														<label class="b-lunch-dish__name-label" for="radio-hot-2">
															<span class="b-lunch-dish__name">Будапешт</span>
														</label>
													</div>
												</div>
												<div class="b-lunch-dish__h-col b-lunch-dish__h-col--price">
													<span class="b-lunch-dish__price"><span class="b-lunch-dish__price-num">79</span><span class="b-lunch-dish__price-rub c-rub">₽</span></span>
												</div>
											</div>
										</div>
										<div class="b-lunch-has-garnish-container">
											<span class="b-lunch-has-garnish">Гарнир на выбор</span>
										</div>
										<div class="b-lunch-dish-ibar">
											<div class="b-lunch-dish-ibar__row">
												<div class="b-lunch-dish-ibar__col">
													<span class="b-lunch-dish__weight">140 гр.</span>
												</div>
												<div class="b-lunch-dish-ibar__col">
													<button type="button" class="b-lunch-dish-brief-toggle">Состав</button>
												</div>
											</div>
										</div>
										<div class="b-lunch-dish-brief b-lunch-dish-brief--hidden">
											Копченая курица, морковь, огурец, томаты, салат айсберг, имбирь, чеснок, кунжут, рисовый уксус, масло, зелень (140 гр.).
										</div>
									</div>
								</div>
								
								<!-- Блюдо 3 -->
								<div class="b-lunch-dish b-lunch-gselect__dish">
									<div class="b-lunch-dish__control-box">
										<span class="pretty-control pretty-control--default pretty-control--radio">
											<input type="radio" class="pretty-control__input b-lunch-gselect__dish-switch" name="radio-hot" id="radio-hot-0">
											<span class="pretty-control__item"></span>
										</span>
									</div>
									<div class="b-lunch-dish__name-box">
										<div class="b-lunch-dish__header">
											<div class="b-lunch-dish__h-row">
												<div class="b-lunch-dish__h-col b-lunch-dish__h-col--name">
													<div class="b-lunch-dish__name-wrapper">
														<label class="b-lunch-dish__name-label" for="radio-hot-0">
															<span class="b-lunch-dish__name">Нет</span>
														</label>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="b-lunch-garnishes-container">
							<div class="b-lunch-garnishes-list">
								
								<!-- Блюдо 1 - Гарниры  -->
								<div data-dish-name="s-kopchenoy-kuricey" class="b-lunch-garnishes b-lunch-gselect__garnishes">
									<span class="b-lunch-garnishes-title">Гарнир на выбор</span>
									<div class="b-lunch-garnish-list">
										
										<!-- Блюдо 1 - Гарнир 1 -->
										<div class="b-lunch-garnish">
											<div class="b-lunch-garnish__control-box">
												<span class="pretty-control pretty-control--default pretty-control--radio">
													<input type="radio" class="pretty-control__input b-lunch-gselect__garnish-switch" name="radio-hot-garnish" id="radio-hot-garnish-0">
													<span class="pretty-control__item"></span>
												</span>
											</div>
											<div class="b-lunch-garnish__name-box">
												<div class="b-lunch-garnish__name-wrapper">
													<label class="b-lunch-garnish__name-label" for="radio-hot-garnish-0">
														<span class="b-lunch-garnish__name">Картофельное пюре</span>
													</label>
												</div>
												<div class="b-lunch-garnish-ibar">
													<div class="b-lunch-garnish-ibar__item">
														<span class="b-lunch-garnish__weight">250 гр.</span>
													</div>
													<div class="b-lunch-garnish-ibar__item">
														<button type="button" class="b-lunch-garnish-brief-toggle">Состав</button>
													</div>
												</div>
												<div class="b-lunch-garnish-brief">
													Копченая курица, морковь, огурец, томаты, салат айсберг, имбирь, чеснок, кунжут, рисовый уксус, масло, зелень.
												</div>
											</div>
										</div>
										
										<!-- Блюдо 1 - Гарнир 2 -->
										<div class="b-lunch-garnish">
											<div class="b-lunch-garnish__control-box">
												<span class="pretty-control pretty-control--default pretty-control--radio">
													<input type="radio" class="pretty-control__input b-lunch-gselect__garnish-switch" name="radio-hot-garnish" id="radio-hot-garnish-1">
													<span class="pretty-control__item"></span>
												</span>
											</div>
											<div class="b-lunch-garnish__name-box">
												<div class="b-lunch-garnish__name-wrapper">
													<label class="b-lunch-garnish__name-label" for="radio-hot-garnish-1">
														<span class="b-lunch-garnish__name">Рис по-тайски 250 гр.</span>
													</label>
												</div>
												<div class="b-lunch-garnish-ibar">
													<div class="b-lunch-garnish-ibar__item">
														<span class="b-lunch-garnish__weight">250 гр.</span>
													</div>
													<div class="b-lunch-garnish-ibar__item">
														<button type="button" class="b-lunch-garnish-brief-toggle">Состав</button>
													</div>
												</div>
												<div class="b-lunch-garnish-brief">
													Копченая курица, морковь, огурец, томаты, салат айсберг, имбирь, чеснок, кунжут, рисовый уксус, масло, зелень.
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<!-- Блюдо 2 - Гарниры  -->
								<div data-dish-name="budapesht" class="b-lunch-garnishes b-lunch-gselect__garnishes">
									<span class="b-lunch-garnishes-title">Гарнир на выбор</span>
									<div class="b-lunch-garnish-list">
										
										<!-- Блюдо 2 - Гарнир 1 -->
										<div class="b-lunch-garnish">
											<div class="b-lunch-garnish__control-box">
												<span class="pretty-control pretty-control--default pretty-control--radio">
													<input type="radio" class="pretty-control__input b-lunch-gselect__garnish-switch" name="radio-hot-garnish" id="radio-hot-garnish-0">
													<span class="pretty-control__item"></span>
												</span>
											</div>
											<div class="b-lunch-garnish__name-box">
												<div class="b-lunch-garnish__name-wrapper">
													<label class="b-lunch-garnish__name-label" for="radio-hot-garnish-0">
														<span class="b-lunch-garnish__name">Печеный картофель</span>
													</label>
												</div>
												<div class="b-lunch-garnish-ibar">
													<div class="b-lunch-garnish-ibar__item">
														<span class="b-lunch-garnish__weight">150 гр.</span>
													</div>
													<div class="b-lunch-garnish-ibar__item">
														<button type="button" class="b-lunch-garnish-brief-toggle">Состав</button>
													</div>
												</div>
												<div class="b-lunch-garnish-brief">
													Копченая курица, морковь, огурец, томаты, салат айсберг, имбирь.
												</div>
											</div>
										</div>
										
										<!-- Блюдо 2 - Гарнир 2 -->
										<div class="b-lunch-garnish">
											<div class="b-lunch-garnish__control-box">
												<span class="pretty-control pretty-control--default pretty-control--radio">
													<input type="radio" class="pretty-control__input b-lunch-gselect__garnish-switch" name="radio-hot-garnish" id="radio-hot-garnish-1">
													<span class="pretty-control__item"></span>
												</span>
											</div>
											<div class="b-lunch-garnish__name-box">
												<div class="b-lunch-garnish__name-wrapper">
													<label class="b-lunch-garnish__name-label" for="radio-hot-garnish-1">
														<span class="b-lunch-garnish__name">Отварной рис</span>
													</label>
												</div>
												<div class="b-lunch-garnish-ibar">
													<div class="b-lunch-garnish-ibar__item">
														<span class="b-lunch-garnish__weight">200 гр.</span>
													</div>
													<div class="b-lunch-garnish-ibar__item">
														<button type="button" class="b-lunch-garnish-brief-toggle">Состав</button>
													</div>
												</div>
												<div class="b-lunch-garnish-brief">
													Копченая курица, морковь, огурец, томаты, салат айсберг.
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<div class="b-lunch-col">
				<div class="b-lunch">
					<span class="b-lunch__title">Напитки</span>
					<div class="b-lunch__main">
						<div class="b-lunch-dishes">
							<div class="b-lunch-dish-list">
								<div class="b-lunch-dish">
									<div class="b-lunch-dish__control-box">
										<span class="pretty-control pretty-control--default pretty-control--radio">
											<input type="radio" class="pretty-control__input" name="radio-drinks" id="radio-drinks-1">
											<span class="pretty-control__item"></span>
										</span>
									</div>
									<div class="b-lunch-dish__name-box">
										<div class="b-lunch-dish__header">
											<div class="b-lunch-dish__h-row">
												<div class="b-lunch-dish__h-col b-lunch-dish__h-col--name">
													<div class="b-lunch-dish__name-wrapper">
														<label class="b-lunch-dish__name-label" for="radio-drinks-1">
															<span class="b-lunch-dish__name">Эспрессо</span>
														</label>
													</div>
												</div>
												<div class="b-lunch-dish__h-col b-lunch-dish__h-col--price">
													<span class="b-lunch-dish__price"><span class="b-lunch-dish__price-num">29</span><span class="b-lunch-dish__price-rub c-rub">₽</span></span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="b-lunch-dish">
									<div class="b-lunch-dish__control-box">
										<span class="pretty-control pretty-control--default pretty-control--radio">
											<input type="radio" class="pretty-control__input" name="radio-drinks" id="radio-drinks-2">
											<span class="pretty-control__item"></span>
										</span>
									</div>
									<div class="b-lunch-dish__name-box">
										<div class="b-lunch-dish__header">
											<div class="b-lunch-dish__h-row">
												<div class="b-lunch-dish__h-col b-lunch-dish__h-col--name">
													<div class="b-lunch-dish__name-wrapper">
														<label class="b-lunch-dish__name-label" for="radio-drinks-2">
															<span class="b-lunch-dish__name">Американо с молоком</span>
														</label>
													</div>
												</div>
												<div class="b-lunch-dish__h-col b-lunch-dish__h-col--price">
													<span class="b-lunch-dish__price"><span class="b-lunch-dish__price-num">29</span><span class="b-lunch-dish__price-rub c-rub">₽</span></span>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- -->
								<div class="b-lunch-dish">
									<div class="b-lunch-dish__control-box">
										<span class="pretty-control pretty-control--default pretty-control--radio">
											<input type="radio" class="pretty-control__input" name="radio-drinks" id="radio-drinks-2">
											<span class="pretty-control__item"></span>
										</span>
									</div>
									<div class="b-lunch-dish__name-box">
										<div class="b-lunch-dish__header">
											<div class="b-lunch-dish__h-row">
												<div class="b-lunch-dish__h-col b-lunch-dish__h-col--name">
													<div class="b-lunch-dish__name-wrapper">
														<label class="b-lunch-dish__name-label" for="radio-drinks-2">
															<span class="b-lunch-dish__name">Какао</span>
														</label>
													</div>
												</div>
												<div class="b-lunch-dish__h-col b-lunch-dish__h-col--price">
													<span class="b-lunch-dish__price"><span class="b-lunch-dish__price-num">29</span><span class="b-lunch-dish__price-rub c-rub">₽</span></span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="b-lunch-dish">
									<div class="b-lunch-dish__control-box">
										<span class="pretty-control pretty-control--default pretty-control--radio">
											<input type="radio" class="pretty-control__input" name="radio-drinks" id="radio-drinks-2">
											<span class="pretty-control__item"></span>
										</span>
									</div>
									<div class="b-lunch-dish__name-box">
										<div class="b-lunch-dish__header">
											<div class="b-lunch-dish__h-row">
												<div class="b-lunch-dish__h-col b-lunch-dish__h-col--name">
													<div class="b-lunch-dish__name-wrapper">
														<label class="b-lunch-dish__name-label" for="radio-drinks-2">
															<span class="b-lunch-dish__name">Черный чай</span>
														</label>
													</div>
												</div>
												<div class="b-lunch-dish__h-col b-lunch-dish__h-col--price">
													<span class="b-lunch-dish__price"><span class="b-lunch-dish__price-num">29</span><span class="b-lunch-dish__price-rub c-rub">₽</span></span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="b-lunch-dish">
									<div class="b-lunch-dish__control-box">
										<span class="pretty-control pretty-control--default pretty-control--radio">
											<input type="radio" class="pretty-control__input" name="radio-drinks" id="radio-drinks-2">
											<span class="pretty-control__item"></span>
										</span>
									</div>
									<div class="b-lunch-dish__name-box">
										<div class="b-lunch-dish__header">
											<div class="b-lunch-dish__h-row">
												<div class="b-lunch-dish__h-col b-lunch-dish__h-col--name">
													<div class="b-lunch-dish__name-wrapper">
														<label class="b-lunch-dish__name-label" for="radio-drinks-2">
															<span class="b-lunch-dish__name">Зеленый чай</span>
														</label>
													</div>
												</div>
												<div class="b-lunch-dish__h-col b-lunch-dish__h-col--price">
													<span class="b-lunch-dish__price"><span class="b-lunch-dish__price-num">29</span><span class="b-lunch-dish__price-rub c-rub">₽</span></span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="b-lunch-dish">
									<div class="b-lunch-dish__control-box">
										<span class="pretty-control pretty-control--default pretty-control--radio">
											<input type="radio" class="pretty-control__input" name="radio-drinks" id="radio-drinks-2">
											<span class="pretty-control__item"></span>
										</span>
									</div>
									<div class="b-lunch-dish__name-box">
										<div class="b-lunch-dish__header">
											<div class="b-lunch-dish__h-row">
												<div class="b-lunch-dish__h-col b-lunch-dish__h-col--name">
													<div class="b-lunch-dish__name-wrapper">
														<label class="b-lunch-dish__name-label" for="radio-drinks-2">
															<span class="b-lunch-dish__name">Фруктовый чай</span>
														</label>
													</div>
												</div>
												<div class="b-lunch-dish__h-col b-lunch-dish__h-col--price">
													<span class="b-lunch-dish__price"><span class="b-lunch-dish__price-num">29</span><span class="b-lunch-dish__price-rub c-rub">₽</span></span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="b-lunch-dish">
									<div class="b-lunch-dish__control-box">
										<span class="pretty-control pretty-control--default pretty-control--radio">
											<input type="radio" class="pretty-control__input" name="radio-drinks" id="radio-drinks-2">
											<span class="pretty-control__item"></span>
										</span>
									</div>
									<div class="b-lunch-dish__name-box">
										<div class="b-lunch-dish__header">
											<div class="b-lunch-dish__h-row">
												<div class="b-lunch-dish__h-col b-lunch-dish__h-col--name">
													<div class="b-lunch-dish__name-wrapper">
														<label class="b-lunch-dish__name-label" for="radio-drinks-2">
															<span class="b-lunch-dish__name">Морс натуральный</span>
														</label>
													</div>
												</div>
												<div class="b-lunch-dish__h-col b-lunch-dish__h-col--price">
													<span class="b-lunch-dish__price"><span class="b-lunch-dish__price-num">29</span><span class="b-lunch-dish__price-rub c-rub">₽</span></span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- -->

								<div class="b-lunch-dish">
									<div class="b-lunch-dish__control-box">
										<span class="pretty-control pretty-control--default pretty-control--radio">
											<input type="radio" class="pretty-control__input" name="radio-drinks" id="radio-drinks-0">
											<span class="pretty-control__item"></span>
										</span>
									</div>
									<div class="b-lunch-dish__name-box">
										<div class="b-lunch-dish__header">
											<div class="b-lunch-dish__h-row">
												<div class="b-lunch-dish__h-col b-lunch-dish__h-col--name">
													<div class="b-lunch-dish__name-wrapper">
														<label class="b-lunch-dish__name-label" for="radio-drinks-0">
															<span class="b-lunch-dish__name">Нет</span>
														</label>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="b-lunch-summary">
		<div class="b-lunch-summary__content">
			<div class="b-lunch-s-total">
				<span class="b-lunch-s-total__label">Итого:</span> <span class="b-lunch-s-total__price"><span class="b-lunch-s-total__price-num">1500</span> <span class="b-lunch-s-total__price-rub c-rub">₽</span></span>
			</div>
			
			<div class="b-lunch-s-buy">
				<div class="b-lunch-s-buy__row">
					<div class="b-lunch-s-buy__col b-lunch-s-buy__col--count">
						<span class="count count--default count--lite count--joint b-lunch-s-buy__count">
							<button class="count__minus" type="button">-</button>
							<input type="text" value="1" class="count__field">
							<button class="count__plus" type="button">+</button>
						</span>
					</div>
					<div class="b-lunch-s-buy__col b-lunch-s-buy__col--add-to-cart">
						<button type="button" class="button button--default button--l">
							<span class="button__icon button__icon--cart-white"></span><span class="button__text">Заказать</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>