<div class="b-lunch-dish">
	<div class="b-lunch-dish__control-box">
		<span class="pretty-control pretty-control--default pretty-control--radio">
			<input type="radio" class="pretty-control__input">
			<span class="pretty-control__item"></span>
		</span>
	</div>
	<div class="b-lunch-dish__name-box">
		<div class="b-lunch-dish__header">
			<div class="b-lunch-dish__h-row">
				<div class="b-lunch-dish__h-col b-lunch-dish__h-col--name">
					<div class="b-lunch-dish__name-container">
						<label class="b-lunch-dish__name-label">
							<span class="b-lunch-dish__name">С копченой курицей и имбирной заправкой</span>
						</label>
					</div>
				</div>
				<div class="b-lunch-dish__h-col b-lunch-dish__h-col--price">
					<span class="b-lunch-dish__price"><span class="b-lunch-dish__price-num">69</span><span class="b-lunch-dish__price-rub c-rub">₽</span></span>
				</div>
			</div>
		</div>
		<div class="b-lunch-dish-ibar">
			<div class="b-lunch-dish-ibar__row">
				<div class="b-lunch-dish-ibar__col">
					<span class="b-lunch-dish__weight">140 гр.</span>
				</div>
				<div class="b-lunch-dish-ibar__col">
					<button type="button" class="b-lunch-dish-brief-toggle">Состав</button>
				</div>
			</div>
		</div>
		<div class="b-lunch-dish-brief">
			Копченая курица, морковь, огурец, томаты, салат айсберг, имбирь, чеснок, кунжут, рисовый уксус, масло, зелень (140 гр.).
		</div>
	</div>
</div>