<div class="combo-container js-combo-dbrief-toggle-delegate js-combo-select-delegate">
	<div class="combo-tab js-combo-tab">
		<div class="combo-tab-nav-c">
			<div class="combo-tab-nav-c__wrapper">
				<div class="combo-tab-nav-c__scroll">
					<ul class="combo-tab-nav">
						<li class="combo-tab-nav__item combo-tab-nav__item--active">
							<button type="button" class="combo-tab-nav__button">
								<span class="combo-tab-nav__button-text">Сегодня</span>
							</button>
						</li>
						<li class="combo-tab-nav__item">
							<button type="button" class="combo-tab-nav__button">
								<span class="combo-tab-nav__button-text">Вт, 29</span>
							</button>
						</li>
						<li class="combo-tab-nav__item">
							<button type="button" class="combo-tab-nav__button">
								<span class="combo-tab-nav__button-text">Ср, 30</span>
							</button>
						</li>
						<li class="combo-tab-nav__item">
							<button type="button" class="combo-tab-nav__button">
								<span class="combo-tab-nav__button-text">Чт, 31</span>
							</button>
						</li>
						<li class="combo-tab-nav__item">
							<button type="button" class="combo-tab-nav__button">
								<span class="combo-tab-nav__button-text">Пт, 1</span>
							</button>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="combo-phone">
			<a href="tel:83432980044" class="combo-phone-button">
				<span class="combo-phone-button__title">Заказать по телефону</span>
				<span class="combo-phone-button__number">+7 (343) 298 00 44</span>
			</a>
		</div>
		
		<div class="combo-tab-content">
			<!-- Понедельник -->
			<div class="combo-tab-content__item combo-tab-content__item--active">
				<div class="combo-grid combo-grid--complex">
					<div class="combo-row">

						<!-- Понедельник. Полный обед -->
						<div class="combo-col">
							<div class="combo combo--complex combo--h-auto">
								<div class="combo__title">
									<span class="combo__title-text">Полный обед</span>
								</div>
								
								<!-- Понедельник. Список блюд - Полный -->
								<div class="combo-group-list">
									<div class="combo-group">
										<div class="combo-dish">
											<div class="combo-dish__image-box">
												<img src="images/combo-hot-karbonara-170x124.jpg" class="combo-dish__image" alt="">
											</div>
											<div class="combo-dish__name-box">
												<div class="combo-dish__name-wrapper">
													<span class="combo-dish__name">Карбонара</span>
												</div>
												<div class="combo-dish-ibar">
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__weight">280 гр.</span>
													</div>
													<div class="combo-dish-ibar__item">
														<button type="button" class="combo-dish-brief-toggle">Состав</button>
													</div>
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__type">Горячее</span>
													</div>
												</div>
												<div class="combo-dish-brief combo-dish-brief--hidden">
													Лингвини, бекон, репчатый лук, сливки, сыр пармезан, базилик, итальянские травы.
												</div>
											</div>
										</div>
									</div>
									<div class="combo-group">
										<div class="combo-dish">
											<div class="combo-dish__image-box">
												<img src="images/combo-salad-polyanka-navsegda-170x124.jpg" class="combo-dish__image" alt="">
											</div>
											<div class="combo-dish__name-box">
												<div class="combo-dish__name-wrapper">
													<span class="combo-dish__name">Полянка навсегда</span>
												</div>
												<div class="combo-dish-ibar">
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__weight">175/10 гр.</span>
													</div>
													<div class="combo-dish-ibar__item">
														<button type="button" class="combo-dish-brief-toggle">Состав</button>
													</div>
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__type">Салат</span>
													</div>
												</div>
												<div class="combo-dish-brief combo-dish-brief--hidden">
													Копченая куриная грудка, шампиньоны, репчатый лук, отварной картофель, сыр, помидорки черри, микс салата, майонезный соус, оливковое масло, чиабатта, тимьян, дробленый перец, перепелиное яйцо.
												</div>
											</div>
										</div>
									</div>

									<!-- Понедельник. Супы -->
									<div class="combo-group combo-select">
										<span class="combo-group-title">Суп на выбор</span>
										<div class="combo-dish-list">
											
											<!-- Понедельник. Суп 1 -->
											<div class="combo-dish combo-select__option">
												<div class="combo-dish__image-box">
													<img src="images/combo-soup-krem-sup-iz-shpinata-170x124.jpg" class="combo-dish__image" alt="">
												</div>
												<div class="combo-dish__name-box">
													<label class="combo-dish__name-label" for="c-soup-d0-0">
														<span class="combo-dish__name">Крем суп из шпината</span>
													</label>
													<div class="combo-dish-ibar">
														<div class="combo-dish-ibar__item">
															<span class="combo-dish__weight">250 гр.</span>
														</div>
														<div class="combo-dish-ibar__item">
															<button type="button" class="combo-dish-brief-toggle">Состав</button>
														</div>
														<div class="combo-dish-ibar__item">
															<span class="combo-dish__type">Суп</span>
														</div>
													</div>
													<div class="combo-dish-brief combo-dish-brief--hidden">
														Шпинат, картофель, репчатый лук, сливки, оливковое масло.
													</div>
												</div>
												<div class="combo-dish__select-switch-box">
													<span class="pretty-control pretty-control--default pretty-control--radio">
														<input type="radio" class="pretty-control__input combo-select__switch" name="c-soup-d0" id="c-soup-d0-0">
														<span class="pretty-control__item"></span>
													</span>
												</div>
											</div>

											<!-- Понедельник. Суп 2 -->
											<div class="combo-dish combo-select__option">
												<div class="combo-dish__image-box">
													<img src="images/combo-soup-borsh-170x124.jpg" class="combo-dish__image" alt="">
												</div>
												<div class="combo-dish__name-box">
													<label class="combo-dish__name-label" for="c-soup-d0-1">
														<span class="combo-dish__name">Борщ</span>
													</label>
													<div class="combo-dish-ibar">
														<div class="combo-dish-ibar__item">
															<span class="combo-dish__weight">250 гр.</span>
														</div>
														<div class="combo-dish-ibar__item">
															<button type="button" class="combo-dish-brief-toggle">Состав</button>
														</div>
														<div class="combo-dish-ibar__item">
															<span class="combo-dish__type">Суп</span>
														</div>
													</div>
													<div class="combo-dish-brief combo-dish-brief--hidden">
														Говядина, белокочанная капуста, свекла, морковь, картофель, репчатый лук, чеснок, зелень, томатная паста.
													</div>
												</div>
												<div class="combo-dish__select-switch-box">
													<span class="pretty-control pretty-control--default pretty-control--radio">
														<input type="radio" class="pretty-control__input combo-select__switch" name="c-soup-d0" id="c-soup-d0-1">
														<span class="pretty-control__item"></span>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="combo__footer">
									<div class="combo__f-row">
										<div class="combo__f-col">
											<span class="count count--default count--lite count--joint count--block count--inherit-font crt2-dish__count">
												<button class="count__minus" type="button">-</button>
												<input type="text" value="1" class="count__field">
												<button class="count__plus" type="button">+</button>
											</span>
										</div>
										<div class="combo__f-col combo__f-col--price">
											<span class="combo__f-price"><span class="combo__f-price-num">400</span> <span class="c-rub">₽</span></span>
										</div>
										<div class="combo__f-col">
											<button type="button" class="button button--default button--m combo__f-add-to-basket">
												<span class="button__icon button__icon--cart-white"></span>
												<span class="button__text">Купить</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Понедельник. Легкий обед -->
						<div class="combo-col">
							<div class="combo combo--complex combo--h-auto">
								<div class="combo__title">
									<span class="combo__title-text">Легкий обед</span>
								</div>
								
								<!-- Понедельник. Список блюд - Легкий -->
								<div class="combo-group-list">
									<div class="combo-group">
										<div class="combo-dish">
											<div class="combo-dish__image-box">
												<img src="images/combo-hot-karbonara-170x124.jpg" class="combo-dish__image" alt="">
											</div>
											<div class="combo-dish__name-box">
												<div class="combo-dish__name-wrapper">
													<span class="combo-dish__name">Карбонара</span>
												</div>
												<div class="combo-dish-ibar">
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__weight">280 гр.</span>
													</div>
													<div class="combo-dish-ibar__item">
														<button type="button" class="combo-dish-brief-toggle">Состав</button>
													</div>
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__type">Горячее</span>
													</div>
												</div>
												<div class="combo-dish-brief combo-dish-brief--hidden">
													Лингвини, бекон, репчатый лук, сливки, сыр пармезан, базилик, итальянские травы.
												</div>
											</div>
										</div>
									</div>
									<div class="combo-group">
										<div class="combo-dish">
											<div class="combo-dish__image-box">
												<img src="images/combo-salad-polyanka-navsegda-170x124.jpg" class="combo-dish__image" alt="">
											</div>
											<div class="combo-dish__name-box">
												<div class="combo-dish__name-wrapper">
													<span class="combo-dish__name">Полянка навсегда</span>
												</div>
												<div class="combo-dish-ibar">
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__weight">175/10 гр.</span>
													</div>
													<div class="combo-dish-ibar__item">
														<button type="button" class="combo-dish-brief-toggle">Состав</button>
													</div>
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__type">Салат</span>
													</div>
												</div>
												<div class="combo-dish-brief combo-dish-brief--hidden">
													Копченая куриная грудка, шампиньоны, репчатый лук, отварной картофель, сыр, помидорки черри, микс салата, майонезный соус, оливковое масло, чиабатта, тимьян, дробленый перец, перепелиное яйцо.
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="combo__footer">
									<div class="combo__f-row">
										<div class="combo__f-col">
											<span class="count count--default count--lite count--joint count--block count--inherit-font crt2-dish__count">
												<button class="count__minus" type="button">-</button>
												<input type="text" value="1" class="count__field">
												<button class="count__plus" type="button">+</button>
											</span>
										</div>
										<div class="combo__f-col combo__f-col--price">
											<span class="combo__f-price"><span class="combo__f-price-num">340</span> <span class="c-rub">₽</span></span>
										</div>
										<div class="combo__f-col">
											<button type="button" class="button button--default button--m combo__f-add-to-basket">
												<span class="button__icon button__icon--cart-white"></span>
												<span class="button__text">Купить</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Вторник -->
			<div class="combo-tab-content__item">
				<div class="combo-grid combo-grid--complex">
					<div class="combo-row">
						
						<!-- Вторник. Полный обед -->
						<div class="combo-col">
							<div class="combo combo--complex combo--h-auto">
								<div class="combo__title">
									<span class="combo__title-text">Полный обед</span>
								</div>
								
								<!-- Вторник. Список блюд - Полный -->
								<div class="combo-group-list">
									<div class="combo-group">
										<div class="combo-dish">
											<div class="combo-dish__image-box">
												<img src="images/combo-hot-pasta-s-kuroy-i-gribami-170x124.jpg" class="combo-dish__image" alt="">
											</div>
											<div class="combo-dish__name-box">
												<div class="combo-dish__name-wrapper">
													<span class="combo-dish__name">Паста с курой и грибами</span>
												</div>
												<div class="combo-dish-ibar">
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__weight">290 гр.</span>
													</div>
													<div class="combo-dish-ibar__item">
														<button type="button" class="combo-dish-brief-toggle">Состав</button>
													</div>
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__type">Горячее</span>
													</div>
												</div>
												<div class="combo-dish-brief combo-dish-brief--hidden">
													Феттуччине, копченая куриная грудка, сыр пармезан, шампиньоны, репчатый лук, сливки.
												</div>
											</div>
										</div>
									</div>
									<div class="combo-group">
										<div class="combo-dish">
											<div class="combo-dish__image-box">
												<img src="images/combo-salad-salat-gribnoy-s-ovoshami-170x124.jpg" class="combo-dish__image" alt="">
											</div>
											<div class="combo-dish__name-box">
												<div class="combo-dish__name-wrapper">
													<span class="combo-dish__name">Салат грибной с овощами</span>
												</div>
												<div class="combo-dish-ibar">
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__weight">230 гр.</span>
													</div>
													<div class="combo-dish-ibar__item">
														<button type="button" class="combo-dish-brief-toggle">Состав</button>
													</div>
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__type">Салат</span>
													</div>
												</div>
												<div class="combo-dish-brief combo-dish-brief--hidden">
													Копченая куриная грудка, шампиньоны, томаты, огурец, болгарский перец, майонезный соус, базилик, маринованный болгарский перец, дробленый перец.
												</div>
											</div>
										</div>
									</div>
									
									<!-- Вторник. Супы -->
									<div class="combo-group combo-select">
										<span class="combo-group-title">Суп на выбор</span>
										<div class="combo-dish-list">
											
											<!-- Вторник. Суп 1 -->
											<div class="combo-dish combo-select__option">
												<div class="combo-dish__image-box">
													<img src="images/combo-soup-sirniy-sup-170x124.jpg" class="combo-dish__image" alt="">
												</div>
												<div class="combo-dish__name-box">
													<label class="combo-dish__name-label" for="c-soup-d1-0">
														<span class="combo-dish__name">Сырный</span>
													</label>
													<div class="combo-dish-ibar">
														<div class="combo-dish-ibar__item">
															<span class="combo-dish__weight">250 гр.</span>
														</div>
														<div class="combo-dish-ibar__item">
															<button type="button" class="combo-dish-brief-toggle">Состав</button>
														</div>
														<div class="combo-dish-ibar__item">
															<span class="combo-dish__type">Суп</span>
														</div>
													</div>
													<div class="combo-dish-brief combo-dish-brief--hidden">
														Плавленый сыр, картофель, репчатый лук, оливковое масло .
													</div>
												</div>
												<div class="combo-dish__select-switch-box">
													<span class="pretty-control pretty-control--default pretty-control--radio">
														<input type="radio" class="pretty-control__input combo-select__switch" name="c-soup-d1" id="c-soup-d1-0">
														<span class="pretty-control__item"></span>
													</span>
												</div>
											</div>
											
											<!-- Вторник. Суп 2 -->
											<div class="combo-dish combo-select__option">
												<div class="combo-dish__image-box">
													<img src="images/combo-soup-sup-lapsha-170x124.jpg" class="combo-dish__image" alt="">
												</div>
												<div class="combo-dish__name-box">
													<label class="combo-dish__name-label" for="c-soup-d1-1">
														<span class="combo-dish__name">Суп-лапша</span>
													</label>
													<div class="combo-dish-ibar">
														<div class="combo-dish-ibar__item">
															<span class="combo-dish__weight">250 гр.</span>
														</div>
														<div class="combo-dish-ibar__item">
															<button type="button" class="combo-dish-brief-toggle">Состав</button>
														</div>
														<div class="combo-dish-ibar__item">
															<span class="combo-dish__type">Суп</span>
														</div>
													</div>
													<div class="combo-dish-brief combo-dish-brief--hidden">
														Курица, домашняя лапша, перепелиное яйцо, зелень.
													</div>
												</div>
												<div class="combo-dish__select-switch-box">
													<span class="pretty-control pretty-control--default pretty-control--radio">
														<input type="radio" class="pretty-control__input combo-select__switch" name="c-soup-d1" id="c-soup-d1-1">
														<span class="pretty-control__item"></span>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="combo__footer">
									<div class="combo__f-row">
										<div class="combo__f-col">
											<span class="count count--default count--lite count--joint count--block count--inherit-font crt2-dish__count">
												<button class="count__minus" type="button">-</button>
												<input type="text" value="1" class="count__field">
												<button class="count__plus" type="button">+</button>
											</span>
										</div>
										<div class="combo__f-col combo__f-col--price">
											<span class="combo__f-price"><span class="combo__f-price-num">400</span> <span class="c-rub">₽</span></span>
										</div>
										<div class="combo__f-col">
											<button type="button" class="button button--default button--m combo__f-add-to-basket">
												<span class="button__icon button__icon--cart-white"></span>
												<span class="button__text">Купить</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Вторник. Легкий обед -->
						<div class="combo-col">
							<div class="combo combo--complex combo--h-auto">
								<div class="combo__title">
									<span class="combo__title-text">Легкий обед</span>
								</div>
								
								<!-- Вторник. Список блюд - Легкий -->
								<div class="combo-group-list">
									<div class="combo-group">
										<div class="combo-dish">
											<div class="combo-dish__image-box">
												<img src="images/combo-hot-pasta-s-kuroy-i-gribami-170x124.jpg" class="combo-dish__image" alt="">
											</div>
											<div class="combo-dish__name-box">
												<div class="combo-dish__name-wrapper">
													<span class="combo-dish__name">Паста с курой и грибами</span>
												</div>
												<div class="combo-dish-ibar">
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__weight">290 гр.</span>
													</div>
													<div class="combo-dish-ibar__item">
														<button type="button" class="combo-dish-brief-toggle">Состав</button>
													</div>
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__type">Горячее</span>
													</div>
												</div>
												<div class="combo-dish-brief combo-dish-brief--hidden">
													Феттуччине, копченая куриная грудка, сыр пармезан, шампиньоны, репчатый лук, сливки.
												</div>
											</div>
										</div>
									</div>
									<div class="combo-group">
										<div class="combo-dish">
											<div class="combo-dish__image-box">
												<img src="images/combo-salad-salat-gribnoy-s-ovoshami-170x124.jpg" class="combo-dish__image" alt="">
											</div>
											<div class="combo-dish__name-box">
												<div class="combo-dish__name-wrapper">
													<span class="combo-dish__name">Салат грибной с овощами</span>
												</div>
												<div class="combo-dish-ibar">
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__weight">230 гр.</span>
													</div>
													<div class="combo-dish-ibar__item">
														<button type="button" class="combo-dish-brief-toggle">Состав</button>
													</div>
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__type">Салат</span>
													</div>
												</div>
												<div class="combo-dish-brief combo-dish-brief--hidden">
													Копченая куриная грудка, шампиньоны, томаты, огурец, болгарский перец, майонезный соус, базилик, маринованный болгарский перец, дробленый перец.
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="combo__footer">
									<div class="combo__f-row">
										<div class="combo__f-col">
											<span class="count count--default count--lite count--joint count--block count--inherit-font crt2-dish__count">
												<button class="count__minus" type="button">-</button>
												<input type="text" value="1" class="count__field">
												<button class="count__plus" type="button">+</button>
											</span>
										</div>
										<div class="combo__f-col combo__f-col--price">
											<span class="combo__f-price"><span class="combo__f-price-num">340</span> <span class="c-rub">₽</span></span>
										</div>
										<div class="combo__f-col">
											<button type="button" class="button button--default button--m combo__f-add-to-basket">
												<span class="button__icon button__icon--cart-white"></span>
												<span class="button__text">Купить</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Среда -->
			<div class="combo-tab-content__item">
				<div class="combo-grid combo-grid--complex">
					<div class="combo-row">

						<!-- Среда. Полный обед -->
						<div class="combo-col">
							<div class="combo combo--complex combo--h-auto">
								<div class="combo__title">
									<span class="combo__title-text">Полный обед</span>
								</div>
								
								<!-- Среда. Список блюд - Полный -->
								<div class="combo-group-list">
									<div class="combo-group">
										<div class="combo-dish">
											<div class="combo-dish__image-box">
												<img src="images/combo-hot-kuriniy-rulet-s-sirom-170x124.jpg" class="combo-dish__image" alt="">
											</div>
											<div class="combo-dish__name-box">
												<div class="combo-dish__name-wrapper">
													<span class="combo-dish__name">Куриный рулет со сливочным сыром</span>
												</div>
												<div class="combo-dish-ibar">
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__weight">350 гр.</span>
													</div>
													<div class="combo-dish-ibar__item">
														<button type="button" class="combo-dish-brief-toggle">Состав</button>
													</div>
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__type">Горячее</span>
													</div>
												</div>
												<div class="combo-dish-brief combo-dish-brief--hidden">
													Сливочный сыр с зеленью и чесноком в курином филе, слоеное тесто, картофельное пюре. Подается с салатом из маринованных томатов, огурцов и красного лука, с тимьяном и дробленым перцем.
												</div>
											</div>
										</div>
									</div>
									<div class="combo-group">
										<div class="combo-dish">
											<div class="combo-dish__image-box">
												<img src="images/combo-salad-grecheskiy-170x124.jpg" class="combo-dish__image" alt="">
											</div>
											<div class="combo-dish__name-box">
												<div class="combo-dish__name-wrapper">
													<span class="combo-dish__name">Греческий салат</span>
												</div>
												<div class="combo-dish-ibar">
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__weight">250 гр.</span>
													</div>
													<div class="combo-dish-ibar__item">
														<button type="button" class="combo-dish-brief-toggle">Состав</button>
													</div>
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__type">Салат</span>
													</div>
												</div>
												<div class="combo-dish-brief combo-dish-brief--hidden">
													Сыр фета, томаты, огурец, болгарский перец, чеснок, зелень, микс салата, маслины, красный лук, оливковое масло, базилик, итальянские травы.
												</div>
											</div>
										</div>
									</div>

									<!-- Среда. Супы -->
									<div class="combo-group combo-select">
										<span class="combo-group-title">Суп на выбор</span>
										<div class="combo-dish-list">
											
											<!-- Среда. Суп 1 -->
											<div class="combo-dish combo-select__option">
												<div class="combo-dish__image-box">
													<img src="images/combo-soup-krem-sup-iz-shpinata-170x124.jpg" class="combo-dish__image" alt="">
												</div>
												<div class="combo-dish__name-box">
													<label class="combo-dish__name-label" for="c-soup-d2-0">
														<span class="combo-dish__name">Крем-суп из шпината</span>
													</label>
													<div class="combo-dish-ibar">
														<div class="combo-dish-ibar__item">
															<span class="combo-dish__weight">250 гр.</span>
														</div>
														<div class="combo-dish-ibar__item">
															<button type="button" class="combo-dish-brief-toggle">Состав</button>
														</div>
														<div class="combo-dish-ibar__item">
															<span class="combo-dish__type">Суп</span>
														</div>
													</div>
													<div class="combo-dish-brief combo-dish-brief--hidden">
														Шпинат, картофель, репчатый лук, сливки, оливковое масло.
													</div>
												</div>
												<div class="combo-dish__select-switch-box">
													<span class="pretty-control pretty-control--default pretty-control--radio">
														<input type="radio" class="pretty-control__input combo-select__switch" name="c-soup-d2" id="c-soup-d2-0">
														<span class="pretty-control__item"></span>
													</span>
												</div>
											</div>

											<!-- Среда. Суп 2 -->
											<div class="combo-dish combo-select__option">
												<div class="combo-dish__image-box">
													<img src="images/combo-soup-sup-lapsha-170x124.jpg" class="combo-dish__image" alt="">
												</div>
												<div class="combo-dish__name-box">
													<label class="combo-dish__name-label" for="c-soup-d2-1">
														<span class="combo-dish__name">Суп-лапша</span>
													</label>
													<div class="combo-dish-ibar">
														<div class="combo-dish-ibar__item">
															<span class="combo-dish__weight">250 гр.</span>
														</div>
														<div class="combo-dish-ibar__item">
															<button type="button" class="combo-dish-brief-toggle">Состав</button>
														</div>
														<div class="combo-dish-ibar__item">
															<span class="combo-dish__type">Суп</span>
														</div>
													</div>
													<div class="combo-dish-brief combo-dish-brief--hidden">
														Курица, домашняя лапша, перепелиное яйцо, зелень.
													</div>
												</div>
												<div class="combo-dish__select-switch-box">
													<span class="pretty-control pretty-control--default pretty-control--radio">
														<input type="radio" class="pretty-control__input combo-select__switch" name="c-soup-d2" id="c-soup-d2-1">
														<span class="pretty-control__item"></span>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="combo__footer">
									<div class="combo__f-row">
										<div class="combo__f-col">
											<span class="count count--default count--lite count--joint count--block count--inherit-font crt2-dish__count">
												<button class="count__minus" type="button">-</button>
												<input type="text" value="1" class="count__field">
												<button class="count__plus" type="button">+</button>
											</span>
										</div>
										<div class="combo__f-col combo__f-col--price">
											<span class="combo__f-price"><span class="combo__f-price-num">400</span> <span class="c-rub">₽</span></span>
										</div>
										<div class="combo__f-col">
											<button type="button" class="button button--default button--m combo__f-add-to-basket">
												<span class="button__icon button__icon--cart-white"></span>
												<span class="button__text">Купить</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Среда. Легкий обед -->
						<div class="combo-col">
							<div class="combo combo--complex combo--h-auto">
								<div class="combo__title">
									<span class="combo__title-text">Легкий обед</span>
								</div>

								<!-- Среда. Список блюд - Легкий -->
								<div class="combo-group-list">
									<div class="combo-group">
										<div class="combo-dish">
											<div class="combo-dish__image-box">
												<img src="images/combo-hot-kuriniy-rulet-s-sirom-170x124.jpg" class="combo-dish__image" alt="">
											</div>
											<div class="combo-dish__name-box">
												<div class="combo-dish__name-wrapper">
													<span class="combo-dish__name">Куриный рулет со сливочным сыром</span>
												</div>
												<div class="combo-dish-ibar">
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__weight">350 гр.</span>
													</div>
													<div class="combo-dish-ibar__item">
														<button type="button" class="combo-dish-brief-toggle">Состав</button>
													</div>
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__type">Горячее</span>
													</div>
												</div>
												<div class="combo-dish-brief combo-dish-brief--hidden">
													Сливочный сыр с зеленью и чесноком в курином филе, слоеное тесто, картофельное пюре. Подается с салатом из маринованных томатов, огурцов и красного лука, с тимьяном и дробленым перцем.
												</div>
											</div>
										</div>
									</div>
									<div class="combo-group">
										<div class="combo-dish">
											<div class="combo-dish__image-box">
												<img src="images/combo-salad-grecheskiy-170x124.jpg" class="combo-dish__image" alt="">
											</div>
											<div class="combo-dish__name-box">
												<div class="combo-dish__name-wrapper">
													<span class="combo-dish__name">Греческий салат</span>
												</div>
												<div class="combo-dish-ibar">
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__weight">250 гр.</span>
													</div>
													<div class="combo-dish-ibar__item">
														<button type="button" class="combo-dish-brief-toggle">Состав</button>
													</div>
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__type">Салат</span>
													</div>
												</div>
												<div class="combo-dish-brief combo-dish-brief--hidden">
													Сыр фета, томаты, огурец, болгарский перец, чеснок, зелень, микс салата, маслины, красный лук, оливковое масло, базилик, итальянские травы.
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="combo__footer">
									<div class="combo__f-row">
										<div class="combo__f-col">
											<span class="count count--default count--lite count--joint count--block count--inherit-font crt2-dish__count">
												<button class="count__minus" type="button">-</button>
												<input type="text" value="1" class="count__field">
												<button class="count__plus" type="button">+</button>
											</span>
										</div>
										<div class="combo__f-col combo__f-col--price">
											<span class="combo__f-price"><span class="combo__f-price-num">340</span> <span class="c-rub">₽</span></span>
										</div>
										<div class="combo__f-col">
											<button type="button" class="button button--default button--m combo__f-add-to-basket">
												<span class="button__icon button__icon--cart-white"></span>
												<span class="button__text">Купить</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Четверг -->
			<div class="combo-tab-content__item">
				<div class="combo-grid combo-grid--complex">
					<div class="combo-row">
						
						<!-- Четверг. Полный обед -->
						<div class="combo-col">
							<div class="combo combo--complex combo--h-auto">
								<div class="combo__title">
									<span class="combo__title-text">Полный обед</span>
								</div>
								
								<!-- Четверг. Список блюд - Полный -->
								<div class="combo-group-list">
									<div class="combo-group">
										<div class="combo-dish">
											<div class="combo-dish__image-box">
												<img src="images/combo-hot-kesadiliya-s-kuricey-170x124.jpg" class="combo-dish__image" alt="">
											</div>
											<div class="combo-dish__name-box">
												<div class="combo-dish__name-wrapper">
													<span class="combo-dish__name">Кесадилья с курицей</span>
												</div>
												<div class="combo-dish-ibar">
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__weight">230/30/40 гр.</span>
													</div>
													<div class="combo-dish-ibar__item">
														<button type="button" class="combo-dish-brief-toggle">Состав</button>
													</div>
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__type">Горячее</span>
													</div>
												</div>
												<div class="combo-dish-brief combo-dish-brief--hidden">
													Куриное филе, тортилья, томаты, болгарский перец, зелень, перчик халапеньо, мраморный сыр, чеснок, репчатый лук, соус ворчестер, кинза. Подается со сметаной и томатным соусом.
												</div>
											</div>
										</div>
									</div>
									<div class="combo-group">
										<div class="combo-dish">
											<div class="combo-dish__image-box">
												<img src="images/combo-salad-salat-gribnoy-s-ovoshami-170x124.jpg" class="combo-dish__image" alt="">
											</div>
											<div class="combo-dish__name-box">
												<div class="combo-dish__name-wrapper">
													<span class="combo-dish__name">Салат грибной с овощами</span>
												</div>
												<div class="combo-dish-ibar">
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__weight">230 гр.</span>
													</div>
													<div class="combo-dish-ibar__item">
														<button type="button" class="combo-dish-brief-toggle">Состав</button>
													</div>
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__type">Салат</span>
													</div>
												</div>
												<div class="combo-dish-brief combo-dish-brief--hidden">
													Копченая куриная грудка, шампиньоны, томаты, огурец, болгарский перец, майонезный соус, базилик, маринованный болгарский перец, дробленый перец.
												</div>
											</div>
										</div>
									</div>

									<!-- Четверг. Супы -->
									<div class="combo-group combo-select">
										<span class="combo-group-title">Суп на выбор</span>
										<div class="combo-dish-list">

											<!-- Четверг. Суп 1 -->
											<div class="combo-dish combo-select__option">
												<div class="combo-dish__image-box">
													<img src="images/combo-soup-sirniy-sup-170x124.jpg" class="combo-dish__image" alt="">
												</div>
												<div class="combo-dish__name-box">
													<label class="combo-dish__name-label" for="c-soup-d3-0">
														<span class="combo-dish__name">Сырный</span>
													</label>
													<div class="combo-dish-ibar">
														<div class="combo-dish-ibar__item">
															<span class="combo-dish__weight">250 гр.</span>
														</div>
														<div class="combo-dish-ibar__item">
															<button type="button" class="combo-dish-brief-toggle">Состав</button>
														</div>
														<div class="combo-dish-ibar__item">
															<span class="combo-dish__type">Суп</span>
														</div>
													</div>
													<div class="combo-dish-brief combo-dish-brief--hidden">
														Плавленый сыр, картофель, репчатый лук, оливковое масло.
													</div>
												</div>
												<div class="combo-dish__select-switch-box">
													<span class="pretty-control pretty-control--default pretty-control--radio">
														<input type="radio" class="pretty-control__input combo-select__switch" name="c-soup-d3" id="c-soup-d3-0">
														<span class="pretty-control__item"></span>
													</span>
												</div>
											</div>

											<!-- Четверг. Суп 2 -->
											<div class="combo-dish combo-select__option">
												<div class="combo-dish__image-box">
													<img src="images/combo-soup-borsh-170x124.jpg" class="combo-dish__image" alt="">
												</div>
												<div class="combo-dish__name-box">
													<label class="combo-dish__name-label" for="c-soup-d3-1">
														<span class="combo-dish__name">Борщ</span>
													</label>
													<div class="combo-dish-ibar">
														<div class="combo-dish-ibar__item">
															<span class="combo-dish__weight">250 гр.</span>
														</div>
														<div class="combo-dish-ibar__item">
															<button type="button" class="combo-dish-brief-toggle">Состав</button>
														</div>
														<div class="combo-dish-ibar__item">
															<span class="combo-dish__type">Суп</span>
														</div>
													</div>
													<div class="combo-dish-brief combo-dish-brief--hidden">
														Говядина, белокочанная капуста, свекла, морковь, картофель, репчатый лук, чеснок, зелень, томатная паста.
													</div>
												</div>
												<div class="combo-dish__select-switch-box">
													<span class="pretty-control pretty-control--default pretty-control--radio">
														<input type="radio" class="pretty-control__input combo-select__switch" name="c-soup-d3" id="c-soup-d3-1">
														<span class="pretty-control__item"></span>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="combo__footer">
									<div class="combo__f-row">
										<div class="combo__f-col">
											<span class="count count--default count--lite count--joint count--block count--inherit-font crt2-dish__count">
												<button class="count__minus" type="button">-</button>
												<input type="text" value="1" class="count__field">
												<button class="count__plus" type="button">+</button>
											</span>
										</div>
										<div class="combo__f-col combo__f-col--price">
											<span class="combo__f-price"><span class="combo__f-price-num">400</span> <span class="c-rub">₽</span></span>
										</div>
										<div class="combo__f-col">
											<button type="button" class="button button--default button--m combo__f-add-to-basket">
												<span class="button__icon button__icon--cart-white"></span>
												<span class="button__text">Купить</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Четверг. Легкий обед -->
						<div class="combo-col">
							<div class="combo combo--complex combo--h-auto">
								<div class="combo__title">
									<span class="combo__title-text">Легкий обед</span>
								</div>

								<!-- Четверг. Список блюд - Легкий -->
								<div class="combo-group-list">
									<div class="combo-group">
										<div class="combo-dish">
											<div class="combo-dish__image-box">
												<img src="images/combo-hot-kesadiliya-s-kuricey-170x124.jpg" class="combo-dish__image" alt="">
											</div>
											<div class="combo-dish__name-box">
												<div class="combo-dish__name-wrapper">
													<span class="combo-dish__name">Кесадилья с курицей</span>
												</div>
												<div class="combo-dish-ibar">
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__weight">230/30/40 гр.</span>
													</div>
													<div class="combo-dish-ibar__item">
														<button type="button" class="combo-dish-brief-toggle">Состав</button>
													</div>
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__type">Горячее</span>
													</div>
												</div>
												<div class="combo-dish-brief combo-dish-brief--hidden">
													Куриное филе, тортилья, томаты, болгарский перец, зелень, перчик халапеньо, мраморный сыр, чеснок, репчатый лук, соус ворчестер, кинза. Подается со сметаной и томатным соусом.
												</div>
											</div>
										</div>
									</div>
									<div class="combo-group">
										<div class="combo-dish">
											<div class="combo-dish__image-box">
												<img src="images/combo-salad-salat-gribnoy-s-ovoshami-170x124.jpg" class="combo-dish__image" alt="">
											</div>
											<div class="combo-dish__name-box">
												<div class="combo-dish__name-wrapper">
													<span class="combo-dish__name">Салат грибной с овощами</span>
												</div>
												<div class="combo-dish-ibar">
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__weight">230 гр.</span>
													</div>
													<div class="combo-dish-ibar__item">
														<button type="button" class="combo-dish-brief-toggle">Состав</button>
													</div>
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__type">Салат</span>
													</div>
												</div>
												<div class="combo-dish-brief combo-dish-brief--hidden">
													Копченая куриная грудка, шампиньоны, томаты, огурец, болгарский перец, майонезный соус, базилик, маринованный болгарский перец, дробленый перец.
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="combo__footer">
									<div class="combo__f-row">
										<div class="combo__f-col">
											<span class="count count--default count--lite count--joint count--block count--inherit-font crt2-dish__count">
												<button class="count__minus" type="button">-</button>
												<input type="text" value="1" class="count__field">
												<button class="count__plus" type="button">+</button>
											</span>
										</div>
										<div class="combo__f-col combo__f-col--price">
											<span class="combo__f-price"><span class="combo__f-price-num">340</span> <span class="c-rub">₽</span></span>
										</div>
										<div class="combo__f-col">
											<button type="button" class="button button--default button--m combo__f-add-to-basket">
												<span class="button__icon button__icon--cart-white"></span>
												<span class="button__text">Купить</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Пятница -->
			<div class="combo-tab-content__item">
				<div class="combo-grid combo-grid--complex">
					<div class="combo-row">

						<!-- Пятница. Полный обед -->
						<div class="combo-col">
							<div class="combo combo--complex combo--h-auto">
								<div class="combo__title">
									<span class="combo__title-text">Полный обед</span>
								</div>
								
								<!-- Пятница. Список блюд - Полный -->
								<div class="combo-group-list">
									<div class="combo-group">
										<div class="combo-dish">
											<div class="combo-dish__image-box">
												<img src="images/combo-hot-gedza-so-svininoy-170x124.jpg" class="combo-dish__image" alt="">
											</div>
											<div class="combo-dish__name-box">
												<div class="combo-dish__name-wrapper">
													<span class="combo-dish__name">Гедза</span>
												</div>
												<div class="combo-dish-ibar">
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__weight">220/40 гр.</span>
													</div>
													<div class="combo-dish-ibar__item">
														<button type="button" class="combo-dish-brief-toggle">Состав</button>
													</div>
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__type">Горячее</span>
													</div>
												</div>
												<div class="combo-dish-brief combo-dish-brief--hidden">
													Гедза с рубленной свининой и томатами. Подается с соусом пондзу, зеленым луком и кунжутом.
												</div>
											</div>
										</div>
									</div>
									<div class="combo-group">
										<div class="combo-dish">
											<div class="combo-dish__image-box">
												<img src="images/combo-salad-provanskiy-170x124.jpg" class="combo-dish__image" alt="">
											</div>
											<div class="combo-dish__name-box">
												<div class="combo-dish__name-wrapper">
													<span class="combo-dish__name">Салат Прованский</span>
												</div>
												<div class="combo-dish-ibar">
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__weight">240 гр.</span>
													</div>
													<div class="combo-dish-ibar__item">
														<button type="button" class="combo-dish-brief-toggle">Состав</button>
													</div>
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__type">Салат</span>
													</div>
												</div>
												<div class="combo-dish-brief combo-dish-brief--hidden">
													Куриное филе, болгарский перец, томаты, репчатый лук, кабачок, соевый соус, розмарин, микс салата, соус песто, крем-бальзамик, базилик, соус ранч, итальянские травы.
												</div>
											</div>
										</div>
									</div>

									<!-- Пятница. Супы -->
									<div class="combo-group combo-select">
										<span class="combo-group-title">Суп на выбор</span>
										<div class="combo-dish-list">
											
											<!-- Пятница. Суп 1 -->
											<div class="combo-dish combo-select__option">
												<div class="combo-dish__image-box">
													<img src="images/combo-soup-krem-sup-iz-shpinata-170x124.jpg" class="combo-dish__image" alt="">
												</div>
												<div class="combo-dish__name-box">
													<label class="combo-dish__name-label" for="c-soup-d4-0">
														<span class="combo-dish__name">Крем-суп из шпината</span>
													</label>
													<div class="combo-dish-ibar">
														<div class="combo-dish-ibar__item">
															<span class="combo-dish__weight">250 гр.</span>
														</div>
														<div class="combo-dish-ibar__item">
															<button type="button" class="combo-dish-brief-toggle">Состав</button>
														</div>
														<div class="combo-dish-ibar__item">
															<span class="combo-dish__type">Суп</span>
														</div>
													</div>
													<div class="combo-dish-brief combo-dish-brief--hidden">
														Шпинат, картофель, репчатый лук, сливки, оливковое масло.
													</div>
												</div>
												<div class="combo-dish__select-switch-box">
													<span class="pretty-control pretty-control--default pretty-control--radio">
														<input type="radio" class="pretty-control__input combo-select__switch" name="c-soup-d4" id="c-soup-d4-0">
														<span class="pretty-control__item"></span>
													</span>
												</div>
											</div>

											<!-- Пятница. Суп 2 -->
											<div class="combo-dish combo-select__option">
												<div class="combo-dish__image-box">
													<img src="images/combo-soup-sup-lapsha-170x124.jpg" class="combo-dish__image" alt="">
												</div>
												<div class="combo-dish__name-box">
													<label class="combo-dish__name-label" for="c-soup-d4-1">
														<span class="combo-dish__name">Суп-лапша</span>
													</label>
													<div class="combo-dish-ibar">
														<div class="combo-dish-ibar__item">
															<span class="combo-dish__weight">250 гр.</span>
														</div>
														<div class="combo-dish-ibar__item">
															<button type="button" class="combo-dish-brief-toggle">Состав</button>
														</div>
														<div class="combo-dish-ibar__item">
															<span class="combo-dish__type">Суп</span>
														</div>
													</div>
													<div class="combo-dish-brief combo-dish-brief--hidden">
														Курица, домашняя лапша, перепелиное яйцо, зелень.
													</div>
												</div>
												<div class="combo-dish__select-switch-box">
													<span class="pretty-control pretty-control--default pretty-control--radio">
														<input type="radio" class="pretty-control__input combo-select__switch" name="c-soup-d4" id="c-soup-d4-1">
														<span class="pretty-control__item"></span>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="combo__footer">
									<div class="combo__f-row">
										<div class="combo__f-col">
											<span class="count count--default count--lite count--joint count--block count--inherit-font crt2-dish__count">
												<button class="count__minus" type="button">-</button>
												<input type="text" value="1" class="count__field">
												<button class="count__plus" type="button">+</button>
											</span>
										</div>
										<div class="combo__f-col combo__f-col--price">
											<span class="combo__f-price"><span class="combo__f-price-num">400</span> <span class="c-rub">₽</span></span>
										</div>
										<div class="combo__f-col">
											<button type="button" class="button button--default button--m combo__f-add-to-basket">
												<span class="button__icon button__icon--cart-white"></span>
												<span class="button__text">Купить</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Пятница. Легкий обед -->
						<div class="combo-col">
							<div class="combo combo--complex combo--h-auto">
								<div class="combo__title">
									<span class="combo__title-text">Легкий обед</span>
								</div>
								
								<!-- Пятница. Список блюд - Легкий -->
								<div class="combo-group-list">
									<div class="combo-group">
										<div class="combo-dish">
											<div class="combo-dish__image-box">
												<img src="images/combo-hot-gedza-so-svininoy-170x124.jpg" class="combo-dish__image" alt="">
											</div>
											<div class="combo-dish__name-box">
												<div class="combo-dish__name-wrapper">
													<span class="combo-dish__name">Гедза</span>
												</div>
												<div class="combo-dish-ibar">
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__weight">220/40 гр.</span>
													</div>
													<div class="combo-dish-ibar__item">
														<button type="button" class="combo-dish-brief-toggle">Состав</button>
													</div>
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__type">Горячее</span>
													</div>
												</div>
												<div class="combo-dish-brief combo-dish-brief--hidden">
													Гедза с рубленной свининой и томатами. Подается с соусом пондзу, зеленым луком и кунжутом.
												</div>
											</div>
										</div>
									</div>
									<div class="combo-group">
										<div class="combo-dish">
											<div class="combo-dish__image-box">
												<img src="images/combo-salad-provanskiy-170x124.jpg" class="combo-dish__image" alt="">
											</div>
											<div class="combo-dish__name-box">
												<div class="combo-dish__name-wrapper">
													<span class="combo-dish__name">Салат Прованский</span>
												</div>
												<div class="combo-dish-ibar">
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__weight">240 гр.</span>
													</div>
													<div class="combo-dish-ibar__item">
														<button type="button" class="combo-dish-brief-toggle">Состав</button>
													</div>
													<div class="combo-dish-ibar__item">
														<span class="combo-dish__type">Салат</span>
													</div>
												</div>
												<div class="combo-dish-brief combo-dish-brief--hidden">
													Куриное филе, болгарский перец, томаты, репчатый лук, кабачок, соевый соус, розмарин, микс салата, соус песто, крем-бальзамик, базилик, соус ранч, итальянские травы.
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="combo__footer">
									<div class="combo__f-row">
										<div class="combo__f-col">
											<span class="count count--default count--lite count--joint count--block count--inherit-font crt2-dish__count">
												<button class="count__minus" type="button">-</button>
												<input type="text" value="1" class="count__field">
												<button class="count__plus" type="button">+</button>
											</span>
										</div>
										<div class="combo__f-col combo__f-col--price">
											<span class="combo__f-price"><span class="combo__f-price-num">340</span> <span class="c-rub">₽</span></span>
										</div>
										<div class="combo__f-col">
											<button type="button" class="button button--default button--m combo__f-add-to-basket">
												<span class="button__icon button__icon--cart-white"></span>
												<span class="button__text">Купить</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>