<div class="combo-container js-combo-dbrief-toggle-delegate">
	<div class="combo-row">
		<div class="combo-col">
			<div class="combo">
				<div class="combo__title">
					<span class="combo__title-text">Полный обед</span>
					<span class="combo__title-price">400 <span class="c-rub">₽</span></span>
				</div>
				
				<div class="combo-group-list">
					<div class="combo-group">
						<div class="combo-dish">
							<div class="combo-dish__image-box">
								<a href="" class="combo-dish__image-button">
									<img src="images/dev-hot-karbonara.jpg" class="combo-dish__image" alt="">
								</a>
							</div>
							<div class="combo-dish__name-box">
								<div class="combo-dish__name-wrapper">
									<a href="" class="combo-dish__name">Карбонара</a>
								</div>
								<div class="combo-dish-ibar">
									<div class="combo-dish-ibar__item">
										<span class="combo-dish__weight">280 гр.</span>
									</div>
									<div class="combo-dish-ibar__item">
										<button type="button" class="combo-dish-brief-toggle">Состав</button>
									</div>
									<div class="combo-dish-ibar__item">
										<span class="combo-dish__type">Горячее</span>
									</div>
								</div>
								<div class="combo-dish-brief combo-dish-brief--isHidden">
									Лингвини, бекон, репчатый лук, сливки, сыр пармезан, базилик, итальянские травы.
								</div>
							</div>
						</div>
					</div>
					<div class="combo-group">
						<div class="combo-dish">
							<div class="combo-dish__image-box">
								<a href="" class="combo-dish__image-button">
									<img src="images/dev-salad-polyanka-navsegda.jpg" class="combo-dish__image" alt="">
								</a>
							</div>
							<div class="combo-dish__name-box">
								<div class="combo-dish__name-wrapper">
									<a href="" class="combo-dish__name">Полянка навсегда</a>
								</div>
								<div class="combo-dish-ibar">
									<div class="combo-dish-ibar__item">
										<span class="combo-dish__weight">175/10 гр.</span>
									</div>
									<div class="combo-dish-ibar__item">
										<button type="button" class="combo-dish-brief-toggle">Состав</button>
									</div>
									<div class="combo-dish-ibar__item">
										<span class="combo-dish__type">Салат</span>
									</div>
								</div>
								<div class="combo-dish-brief combo-dish-brief--isHidden">
									Копченая куриная грудка, шампиньоны, репчатый лук, отварной картофель, сыр, помидорки черри, микс салата, майонезный соус, оливковое масло, чиабатта, тимьян, дробленый перец, перепелиное яйцо.
								</div>
							</div>
						</div>
					</div>
					<div class="combo-group">
						<span class="combo-group-title">Суп на выбор</span>
						<div class="combo-dish-list">
							<div class="combo-dish">
								<div class="combo-dish__image-box">
									<a href="" class="combo-dish__image-button">
										<img src="images/dev-soup-krem-sup-iz-shpinata.jpg" class="combo-dish__image" alt="">
									</a>
								</div>
								<div class="combo-dish__name-box">
									<div class="combo-dish__name-wrapper">
										<a href="" class="combo-dish__name">Крем суп из шпината</a>
									</div>
									<div class="combo-dish-ibar">
										<div class="combo-dish-ibar__item">
											<span class="combo-dish__weight">270 гр.</span>
										</div>
										<div class="combo-dish-ibar__item">
											<button type="button" class="combo-dish-brief-toggle">Состав</button>
										</div>
										<div class="combo-dish-ibar__item">
											<span class="combo-dish__type">Суп</span>
										</div>
									</div>
									<div class="combo-dish-brief combo-dish-brief--isHidden">
										Шпинат, картофель, репчатый лук, сливки, оливковое масло.
									</div>
								</div>
							</div>
							<div class="combo-or">
								<span class="combo-or__text">Или</span>
							</div>
							<div class="combo-dish">
								<div class="combo-dish__image-box">
									<a href="" class="combo-dish__image-button">
										<img src="images/dev-soup-borsh.jpg" class="combo-dish__image" alt="">
									</a>
								</div>
								<div class="combo-dish__name-box">
									<div class="combo-dish__name-wrapper">
										<a href="" class="combo-dish__name">Борщ</a>
									</div>
									<div class="combo-dish-ibar">
										<div class="combo-dish-ibar__item">
											<span class="combo-dish__weight">270 гр.</span>
										</div>
										<div class="combo-dish-ibar__item">
											<button type="button" class="combo-dish-brief-toggle">Состав</button>
										</div>
										<div class="combo-dish-ibar__item">
											<span class="combo-dish__type">Суп</span>
										</div>
									</div>
									<div class="combo-dish-brief combo-dish-brief--isHidden">
										Говядина, белокочанная капуста, свекла, морковь, картофель, репчатый лук, чеснок, зелень, томатная паста.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="combo-col">
			<div class="combo">
				<div class="combo__title">
					<span class="combo__title-text">Легкий обед</span>
					<span class="combo__title-price">340 <span class="c-rub">₽</span></span>
				</div>
				<div class="combo-group-list">
					<div class="combo-group">
						<div class="combo-dish">
							<div class="combo-dish__image-box">
								<a href="" class="combo-dish__image-button">
									<img src="images/dev-hot-karbonara.jpg" class="combo-dish__image" alt="">
								</a>
							</div>
							<div class="combo-dish__name-box">
								<div class="combo-dish__name-wrapper">
									<a href="" class="combo-dish__name">Карбонара</a>
								</div>
								<div class="combo-dish-ibar">
									<div class="combo-dish-ibar__item">
										<span class="combo-dish__weight">280 гр.</span>
									</div>
									<div class="combo-dish-ibar__item">
										<button type="button" class="combo-dish-brief-toggle">Состав</button>
									</div>
									<div class="combo-dish-ibar__item">
										<span class="combo-dish__type">Горячее</span>
									</div>
								</div>
								<div class="combo-dish-brief combo-dish-brief--isHidden">
									Лингвини, бекон, репчатый лук, сливки, сыр пармезан, базилик, итальянские травы.
								</div>
							</div>
						</div>
					</div>
					<div class="combo-group">
						<div class="combo-dish">
							<div class="combo-dish__image-box">
								<a href="" class="combo-dish__image-button">
									<img src="images/dev-salad-polyanka-navsegda.jpg" class="combo-dish__image" alt="">
								</a>
							</div>
							<div class="combo-dish__name-box">
								<div class="combo-dish__name-wrapper">
									<a href="" class="combo-dish__name">Полянка навсегда</a>
								</div>
								<div class="combo-dish-ibar">
									<div class="combo-dish-ibar__item">
										<span class="combo-dish__weight">175/10 гр.</span>
									</div>
									<div class="combo-dish-ibar__item">
										<button type="button" class="combo-dish-brief-toggle">Состав</button>
									</div>
									<div class="combo-dish-ibar__item">
										<span class="combo-dish__type">Салат</span>
									</div>
								</div>
								<div class="combo-dish-brief combo-dish-brief--isHidden">
									Копченая куриная грудка, шампиньоны, репчатый лук, отварной картофель, сыр, помидорки черри, микс салата, майонезный соус, оливковое масло, чиабатта, тимьян, дробленый перец, перепелиное яйцо.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>