<div class="combo-c-info combo-c-info--short js-combo-c-info">
	<div class="combo-c-info__content combo-c-info__content--short">
		<h3>Дорогие гости!</h3>
		<p>Мы открываем доставку вкусных обедов – комплекс блюд из основного меню по специальной цене.</p>
		<p>Каждый будний день с 12:00 до 16:00.</p>
	</div>
	<div class="combo-c-info__content combo-c-info__content--full">
		<h3>Дорогие гости!</h3>
		<p>Мы открываем доставку вкусных обедов – комплекс блюд из основного меню по специальной цене.</p>
		<p>Каждый будний день с 12:00 до 16:00.</p>
		<p>Заказы на вкусные обеды принимаются по телефону <a href="tel:83432980044">+7 (343) 298 00 44</a></p>

		<p>
			*Обратите внимание, что меню обедов на доставку и меню ланчей в ресторанах отличается.<br>
			Посмотреть ланч-меню, действующее в ресторанах, вы можете <a href="">тут</a>.<br>
			Ланч-меню в ресторанах доступно для самовывоза.<br>
		</p>
	</div>
	<div class="combo-c-info__buttons">
		<button class="combo-c-info__button combo-c-info__button--full">Читать полностью</button>
		<button class="combo-c-info__button combo-c-info__button--short">Скрыть</button>
	</div>
</div>