<div class="combo-c-info combo-c-info--short js-combo-c-info">
	<div class="combo-c-info__content combo-c-info__content--short">
		<h3>Дорогие гости!</h3>
		<p>Мы открываем доставку вкусных обедов – комплекс блюд из основного меню по специальной цене.</p>
	</div>
	<div class="combo-c-info__content combo-c-info__content--full">
		<h3>Дорогие гости!</h3>
		<p>Мы открываем доставку вкусных обедов – комплекс блюд из основного меню по специальной цене.</p>
		<p>Банкетный зал сети мягких ресторанов "Своя Компания" может выполнять функции зала для свадеб, юбилеев, выпускных, конференций, корпоративов, частных вечеринок, деловых встреч и семинаров.</p>
		<p>Превосходная японская, русская или европейская кухня, масса любимых блюд, великолепный интерьер, квалифицированный персонал и высокий уровень сервиса – это основополагающие характеристики нашего банкетного зала.</p>
	</div>
	<div class="combo-c-info__buttons">
		<button class="combo-c-info__button combo-c-info__button--full">Читать полностью</button>
		<button class="combo-c-info__button combo-c-info__button--short">Скрыть</button>
	</div>
</div>