
<div class="crt2-row crt2-row--default">
	<div class="crt2-col crt2-col--main">
		<h1>Корзина</h1>

		<div class="crt2-action">
			<h2 class="ttl ttl--2 crt2-ttl crt2-ttl--special">
				<span class="crt2-ttl__icon crt2-ttl__icon--megaphone"></span> Акция
			</h2>
			<div class="crt2-action__content crt2-action__content--default">
				<img src="images/dev-001-фреш-ролл.jpg" alt="" class="crt2-action__image crt2-action__image--main" />
				<p>Дорогой гость! Оформите заказ <b>на сумму от 800 руб.</b> и получите 🎁 в подарок 🍇 фирменный морс 0.5 л.</p>
			</div>
		</div>
	</div>
</div>