
<!-- Корзина [new_content] -->
<div class="crt2-steps">
	<h1>Корзина</h1>

	<ol class="order-steps order-steps--default crt2-steps__steps">
		<li class="order-steps__item order-steps__item--active">Корзина</li>
		<li class="order-steps__item">Оформление заказа</li>
	</ol>
</div>

<div class="crt2-content-wrapper crt2-content-wrapper--main">

	<div class="crt2-action">
		<h2 class="ttl ttl--2 crt2-ttl crt2-ttl--special">
			<span class="crt2-ttl__icon crt2-ttl__icon--megaphone"></span>Акция
		</h2>
		<div class="crt2-action__content crt2-action__content--default">
			<img src="images/dev-001-fresh-roll.jpg" alt="" class="crt2-action__image crt2-action__image--main" />
			<div class="crt2-action__text">
				<p>Дорогой гость! Оформите заказ <b>на сумму от 800 руб.</b> и получите 🎁 в подарок 🍇 фирменный морс 0.5 л.</p>
			</div>
		</div>
	</div>

	<div class="crt2-gift">
		<h2 class="ttl ttl--2 crt2-ttl crt2-ttl--special">
			<span class="crt2-ttl__icon crt2-ttl__icon--present"></span>Подарок
		</h2>
		<p>Выберите один из трех подарков</p>
		<p>&nbsp;</p>
		<ul class="crt2-gift__list">
			<li class="crt2-gift__item">
				<div class="crt2-gift-one crt2-gift-one--default crt2-gift-one--style-gift">
					<input type="radio" name="crt2-gift" id="crt2-gift-0" class="crt2-gift-one__hidden-control">
					<label class="crt2-gift-one__label" for="crt2-gift-0">
						<div class="crt2-gift-one__fake-control-box">
							<span class="pretty-control pretty-control--gift">
								<span class="pretty-control__item"></span>
							</span>
						</div>
						<div class="crt2-gift-one__image-box">
							<img src="images/dev-001-fresh-roll.jpg" class="crt2-gift-one__image">
						</div>
						<div class="crt2-gift-one__content-box">
							<span class="crt2-gift-one__name">Фреш-ролл</span>
						</div>
					</label>
				</div>
			</li>
			<li class="crt2-gift__item">
				<div class="crt2-gift-one crt2-gift-one--default crt2-gift-one--style-gift">
					<input type="radio" name="crt2-gift" id="crt2-gift-1" class="crt2-gift-one__hidden-control">
					<label class="crt2-gift-one__label" for="crt2-gift-1">
						<div class="crt2-gift-one__fake-control-box">
							<span class="pretty-control pretty-control--gift">
								<span class="pretty-control__item"></span>
							</span>
						</div>
						<div class="crt2-gift-one__image-box">
							<img src="images/dev-002-tikvenniy-krem-sup.jpg" class="crt2-gift-one__image">
						</div>
						<div class="crt2-gift-one__content-box">
							<span class="crt2-gift-one__name">
								Тыквенный крем-суп с беконом и соусом песто
							</span>
						</div>
					</label>
				</div>
			</li>
			<li class="crt2-gift__item">
				<div class="crt2-gift-one crt2-gift-one--default crt2-gift-one--style-gift">
					<input type="radio" name="crt2-gift" id="crt2-gift-2" class="crt2-gift-one__hidden-control">
					<label class="crt2-gift-one__label" for="crt2-gift-2">
						<div class="crt2-gift-one__fake-control-box">
							<span class="pretty-control pretty-control--gift">
								<span class="pretty-control__item"></span>
							</span>
						</div>
						<div class="crt2-gift-one__image-box">
							<img src="images/dev-003-filadelfiya.jpg" class="crt2-gift-one__image">
						</div>
						<div class="crt2-gift-one__content-box">
							<span class="crt2-gift-one__name">
								Классическая филадельфия
							</span>
						</div>
					</label>
				</div>
			</li>
		</ul>
	</div>

	<div class="crt2-pcode">
		<h2 class="ttl ttl--2 crt2-ttl">
			<span class="crt2-ttl__icon crt2-ttl__icon--crown"></span>Блюдо по промокоду
		</h2>
		
		<div class="crt2-pcode-form crt2-pcode-form--default">
			<div class="crt2-pcode-form__row">
				<div class="crt2-pcode-form__col">
					<input type="text" placeholder="Ввести код" class="form-control form-control--default form-control--text">
				</div>
				<div class="crt2-pcode-form__col crt2-pcode-form__col--submit">
					<button type="button" class="button button--default button--m button--border-radius-m crt2-pcode__submit">
						<span class="button__text">Получить блюдо</span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="crt2-dishes">
		<h2 class="ttl ttl--2 crt2-ttl">
			Выбранные блюда
		</h2>

		<div class="crt2-dishes-list">
			<div class="crt2-dish">
				<div class="crt2-dish__image-box">
					<a href="" class="crt2-dish__image-wrapper">
						<img src="images/dev-001-fresh-roll.jpg" class="crt2-dish__image">
					</a>
				</div>
				<div class="crt2-dish__name-box">
					<a href="" class="crt2-dish__name">Фреш-ролл</a>
					<span class="crt2-dish__info">
						Васаби, имбирь, соус спайси
					</span>
				</div>
				<div class="crt2-dish__count-box">
					<span class="count count--default count--lite count--separate count--block count--inherit-font">
						<button class="count__minus" type="button">-</button>
						<input type="text" value="5" class="count__field">
						<button class="count__plus" type="button">+</button>
					</span>
				</div>
				<div class="crt2-dish__price-box">
					<span class="crt2-dish__price">1300 <span class="crt2-dish__price-rub">₽</span></span>
				</div>
				<div class="crt2-dish__button-box">
					<button type="button" class="crt2-dish__x">X</button>
				</div>
			</div>
			<div class="crt2-dish">
				<div class="crt2-dish__image-box">
					<a href="" class="crt2-dish__image-wrapper">
						<img src="images/dev-002-tikvenniy-krem-sup.jpg" class="crt2-dish__image">
					</a>
				</div>
				<div class="crt2-dish__name-box">
					<a href="" class="crt2-dish__name">Тыквенный крем-суп с беконом и соусом песто</a>
				</div>
				<div class="crt2-dish__count-box">
					<span class="count count--default count--lite count--separate count--block count--inherit-font">
						<button class="count__minus" type="button">-</button>
						<input type="text" value="1" class="count__field">
						<button class="count__plus" type="button">+</button>
					</span>
				</div>
				<div class="crt2-dish__price-box">
					<span class="crt2-dish__price">700 <span class="crt2-dish__price-rub">₽</span></span>
				</div>
				<div class="crt2-dish__button-box">
					<button type="button" class="crt2-dish__x">X</button>
				</div>
			</div>
			<div class="crt2-dish">
				<div class="crt2-dish__image-box">
					<a href="" class="crt2-dish__image-wrapper">
						<img src="images/dev-004-kioto.jpg" class="crt2-dish__image">
					</a>
				</div>
				<div class="crt2-dish__name-box">
					<a href="" class="crt2-dish__name">Киото</a>
					<span class="crt2-dish__info">
						Имбирь, соус унаги
					</span>
				</div>
				<div class="crt2-dish__count-box">
					<span class="count count--default count--lite count--separate count--block count--inherit-font">
						<button class="count__minus" type="button">-</button>
						<input type="text" value="7" class="count__field">
						<button class="count__plus" type="button">+</button>
					</span>
				</div>
				<div class="crt2-dish__price-box">
					<span class="crt2-dish__price">580 <span class="crt2-dish__price-rub">₽</span></span>
				</div>
				<div class="crt2-dish__button-box">
					<button type="button" class="crt2-dish__x">X</button>
				</div>
			</div>
		</div>
	</div>

	<div class="crt2-dishes crt2-dishes--additional">
		<h2 class="ttl ttl--2 crt2-ttl">
			Дополнительно
		</h2>

		<div class="crt2-dishes-list">
			<div class="crt2-dish">
				<div class="crt2-dish__image-box">
					<span class="crt2-dish__image-wrapper">
						<img src="images/dev-005-vasabi.jpg" class="crt2-dish__image">
					</span>
				</div>
				<div class="crt2-dish__name-box">
					<span class="crt2-dish__name">Васаби</span>
					<span class="crt2-dish__info">
						1 бесплатно, далее 15 руб. за шт.
					</span>
				</div>
				<div class="crt2-dish__count-box">
					<span class="count count--default count--lite count--separate count--block count--inherit-font">
						<button class="count__minus" type="button">-</button>
						<input type="text" value="1" class="count__field">
						<button class="count__plus" type="button">+</button>
					</span>
				</div>
				<div class="crt2-dish__price-box">
					<span class="crt2-dish__price">0 <span class="crt2-dish__price-rub">₽</span></span>
				</div>
				<div class="crt2-dish__button-box">
					<button type="button" class="crt2-dish__x">X</button>
				</div>
			</div>
			<div class="crt2-dish">
				<div class="crt2-dish__image-box">
					<span class="crt2-dish__image-wrapper">
						<img src="images/dev-006-imbir.jpg" class="crt2-dish__image">
					</span>
				</div>
				<div class="crt2-dish__name-box">
					<span class="crt2-dish__name">Имбирь</span>
					<span class="crt2-dish__info">
						1 бесплатно, далее 15 руб. за шт.
					</span>
				</div>
				<div class="crt2-dish__count-box">
					<span class="count count--default count--lite count--separate count--block count--inherit-font">
						<button class="count__minus" type="button">-</button>
						<input type="text" value="1" class="count__field">
						<button class="count__plus" type="button">+</button>
					</span>
				</div>
				<div class="crt2-dish__price-box">
					<span class="crt2-dish__price">0 <span class="crt2-dish__price-rub">₽</span></span>
				</div>
				<div class="crt2-dish__button-box">
					<button type="button" class="crt2-dish__x">X</button>
				</div>
			</div>
			<div class="crt2-dish">
				<div class="crt2-dish__image-box">
					<span class="crt2-dish__image-wrapper">
						<img src="images/dev-007-soeviy-sous.jpg" class="crt2-dish__image">
					</span>
				</div>
				<div class="crt2-dish__name-box">
					<span class="crt2-dish__name">Соевый соус</span>
					<span class="crt2-dish__info">
						1 бесплатно, далее 15 руб. за шт.
					</span>
				</div>
				<div class="crt2-dish__count-box">
					<span class="count count--default count--lite count--separate count--block count--inherit-font">
						<button class="count__minus" type="button">-</button>
						<input type="text" value="1" class="count__field">
						<button class="count__plus" type="button">+</button>
					</span>
				</div>
				<div class="crt2-dish__price-box">
					<span class="crt2-dish__price">0 <span class="crt2-dish__price-rub">₽</span></span>
				</div>
				<div class="crt2-dish__button-box">
					<button type="button" class="crt2-dish__x">X</button>
				</div>
			</div>
			<div class="crt2-dish">
				<div class="crt2-dish__image-box">
					<span class="crt2-dish__image-wrapper">
						<img src="images/dev-008-sous-sirniy.jpg" class="crt2-dish__image">
					</span>
				</div>
				<div class="crt2-dish__name-box">
					<span class="crt2-dish__name">Соус сырный</span>
				</div>
				<div class="crt2-dish__count-box">
					<span class="count count--default count--lite count--separate count--block count--inherit-font">
						<button class="count__minus" type="button">-</button>
						<input type="text" value="0" class="count__field">
						<button class="count__plus" type="button">+</button>
					</span>
				</div>
				<div class="crt2-dish__price-box">
					<span class="crt2-dish__price">35 <span class="crt2-dish__price-rub">₽</span></span>
				</div>
				<div class="crt2-dish__button-box">
					<button type="button" class="crt2-dish__x">X</button>
				</div>
			</div>
			<div class="crt2-dish">
				<div class="crt2-dish__image-box">
					<span class="crt2-dish__image-wrapper">
						<img src="images/dev-009-smetana.jpg" class="crt2-dish__image">
					</span>
				</div>
				<div class="crt2-dish__name-box">
					<span class="crt2-dish__name">Сметана</span>
				</div>
				<div class="crt2-dish__count-box">
					<span class="count count--default count--lite count--separate count--block count--inherit-font">
						<button class="count__minus" type="button">-</button>
						<input type="text" value="0" class="count__field">
						<button class="count__plus" type="button">+</button>
					</span>
				</div>
				<div class="crt2-dish__price-box">
					<span class="crt2-dish__price">25 <span class="crt2-dish__price-rub">₽</span></span>
				</div>
				<div class="crt2-dish__button-box">
					<button type="button" class="crt2-dish__x">X</button>
				</div>
			</div>
		</div>
	</div>

	<div class="crt2-cutlery">
		<h2 class="ttl ttl--2 crt2-ttl">
			Столовые приборы
		</h2>

		<div class="crt2-cutlery-form crt2-cutlery-form--default">
			<div class="crt2-cutlery-form__row">
				<div class="crt2-cutlery-form__col crt2-cutlery-form__col--label">
					<label>Кол-во персон</label>
				</div>
				<div class="crt2-cutlery-form__col crt2-cutlery-form__col--count">
					<span class="count count--default count--lite count--joint count--block count--inherit-font">
						<button class="count__minus" type="button">-</button>
						<input type="text" value="4" class="count__field">
						<button class="count__plus" type="button">+</button>
					</span>
				</div>
			</div>
			<div class="crt2-cutlery-form__row">
				<div class="crt2-cutlery-form__col crt2-cutlery-form__col--label">
					<label>Европейские</label>
				</div>
				<div class="crt2-cutlery-form__col crt2-cutlery-form__col--count">
					<span class="count count--default count--lite count--joint count--block count--inherit-font">
						<button class="count__minus" type="button">-</button>
						<input type="text" value="0" class="count__field">
						<button class="count__plus" type="button">+</button>
					</span>
				</div>
			</div>
			<div class="crt2-cutlery-form__row">
				<div class="crt2-cutlery-form__col crt2-cutlery-form__col--label">
					<label>Палочки</label>
				</div>
				<div class="crt2-cutlery-form__col crt2-cutlery-form__col--count">
					<span class="count count--default count--lite count--joint count--block count--inherit-font">
						<button class="count__minus" type="button">-</button>
						<input type="text" value="0" class="count__field">
						<button class="count__plus" type="button">+</button>
					</span>
				</div>
			</div>
		</div>
	
	</div>

	<div class="crt2-summary">
		<h2 class="ttl ttl--1 crt2-ttl">
			Сумма заказа: 5920 <span class="crt2-rub">₽</span>
		</h2>
		<div class="crt2-notify crt2-notify--info crt2-notify--default crt2-summary__notify">
			<p><b>Минимальная сумма</b> заказа на доставку составляет 500 руб.</p>
		</div>
		<button type="submit" class="button button--default button--order button--border-radius-m crt2-summary__button-order" disabled>
			<span class="button__text">Оформить заказ</span>
		</button>
	</div>
</div>
<!-- end Корзина -->