<style>
	.breadcrumbs a:after {
		top: 0;
	}

	@media (max-width: 930px) {
		.content {
			margin-right: 0;
			margin-left: 0;
		}
	}
</style>

<!-- Base Styles -->
<link href="css/fonts.css" type="text/css" rel="stylesheet">
<link href="css/content.css" type="text/css" rel="stylesheet">

<!-- Header Styles: -->
<link href="css/header-v2.1.css" type="text/css" rel="stylesheet">

<link href="css/h-acc.css" type="text/css" rel="stylesheet">
<link href="css/header-v2.2-add.css" type="text/css" rel="stylesheet">

<!-- Footer Styles -->
<link href="css/f-soc.css" type="text/css" rel="stylesheet">
<link href="css/footer-contact.css" type="text/css" rel="stylesheet">

<link href="css/footer-v2-add.css" type="text/css" rel="stylesheet">
<link href="css/f-nav.css" type="text/css" rel="stylesheet">
<link href="css/f-contact.css" type="text/css" rel="stylesheet">

<!-- Cart Styles [new_content] -->
<link href="css/pretty-control-gift.css" type="text/css" rel="stylesheet">
<link href="css/cart-v2.css" type="text/css" rel="stylesheet">
<!-- end Cart Styles -->

