@import '../../../helpers/helpers';
@import './helpers/helpers';

.bcards {
	display: block;
	padding: 0;
	margin: 0;
}

.bcard {
	$icon-size: 25px;
	$check-size: 20px;
	$right-space: 10px;
	$left-space: 10px;
	
	position: relative;
	display: block;
	max-width: 300px;
	padding: 0;
	margin: 0;
	
	&__hidden-control {
		position: absolute;
		top: 0;
		left: 0;
		width: 1px;
		height: 1px;
		opacity: 0;

		/* -- */

		&:checked {
			& + .bcard__label {
				&:after {
					opacity: 1;
				}
				
				&:hover {
					cursor: default;

					&:before {
						opacity: 0;
					}
				}
			}
		}
	}

	&__label {
		display: block;
		padding: 10px ($right-space + $check-size + 10px) 10px ($left-space + $icon-size + 15px);
		margin: 0;
		border-bottom: 1px solid #f1f1f1;
		cursor: pointer;

		&:hover {
			&:before {
				opacity: 1;
			}
		}

		&:before,
		&:after {
			content: '';
			box-sizing: border-box;
			position: absolute;
			top: 50%;
			right: $right-space;
			display: block;
			width: $check-size;
			height: $check-size;
			background-position: center;
			background-repeat: no-repeat;
			background-size: $check-size $check-size;
			transform: translateY(-50%);
		}

		&:before {
			right: $right-space + 1px;
			width: $check-size - 2px;
			height: $check-size - 2px;
			border: 2px solid $color-red;
			border-radius: 50%;
			background-size: ($check-size - 2px) ($check-size - 2px);
			opacity: 0;
		}

		&:after {
			background-image: url(../images/ico-check-circle-flat-red-20x20.svg);
			opacity: 0;
		}
	}

	&__icon {
		position: absolute;
		top: 50%;
		left: $left-space;
		display: block;
		width: $icon-size;
		height: $icon-size;
		background-position: center;
		background-repeat: no-repeat;
		background-size: $icon-size $icon-size;
		transform: translateY(-50%);
	}

	&__name {
		display: block;
		margin: 0 0 3px 0;
		font-size: 18px;
		transition-property: color;
		transition-duration: 200ms;
	}

	&__num {
		display: block;
		font-size: 14px;
		color: #bebebe;

		&:before {
			content: '';
			display: inline-block;
			width: 21px;
			height: 3px;
			margin: 0 5px 0 0;
			vertical-align: middle;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url(../images/ico-4dots-grey-21x3.svg);
		}
	}

	

	/* -- */

	&--mastercard {
		.bcard {
			&__icon {
				background-image: url(../images/ico-bcard-mastercard-60x60.png);
			}
		}
	}

	&--visa {
		.bcard {
			&__icon {
				background-image: url(../images/ico-bcard-visa-60x60.jpg);
			}
		}
	}
}

/* -- */

.bcard-add {
	position: relative;
	z-index: 1;
	width: $bcard-add-width + $bcard-add-back-width;
	height: $bcard-add-height + $bcard-add-back-height;

	&:before {
		content: '';
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		display: block;
		width: $bcard-add-width;
		height: $bcard-add-height;
		border-radius: 10px;
		box-shadow: 0 0 5px rgba(#000, 0.2);
		background-color: #fff;
	}

	&:after {
		content: '';
		position: absolute;
		z-index: 1;
		top: $bcard-add-back-height;
		right: 0;
		display: block;
		width: $bcard-add-width;
		height: $bcard-add-height;
		border-radius: 10px;
		background-color: #efefef;
		background-position: 0 (50px - $bcard-add-back-height + $bcard-add-space-v) ;
		background-repeat: repeat-x;
		background-size: 1px 42px;
		background-image: url("data:image/svg+xml,%3Csvg width='1' height='1' viewBox='0 0 1 1' fill='none' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1' height='1' fill='black' fill-opacity='0.1'/%3E%3C/svg%3E%0A");
	}

	/* -- */

	&__title {
		display: block;
		font-size: 18px;
	}
}

.bcard-add-form {
	position: absolute;
	z-index: 3;
	top: $bcard-add-space-v;
	left: $bcard-add-space-h;
	width: $bcard-add-width - $bcard-add-space-h * 2;
	height: $bcard-add-height - $bcard-add-space-v * 2;
}

.bcard-add-num {
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;

	.bcard-add-num__label {
		display: none;
	}
}

.bcard-add-vc {
	$vc-space-h: 15px;
	$code-width: $bcard-add-back-width - $bcard-add-space-h - $vc-space-h;
	

	position: absolute;
	top: 50px + $form-input-m-height + 15px;
	right: 0;
	width: 177px;

	/* -- */

	&__row {
	}

	&__col {

		/* -- */

		&--code {
			position: absolute;
			top: 0;
			left: 100%;
			width: $code-width;
			margin-left: $bcard-add-space-h + $vc-space-h;
		}
	}
}

.bcard-add-validity {
	
	.bcard-add-validity__label {
		display: none;
	}

	&__control {
		text-align: center;
	}
}

.bcard-add-code {
	&__control {
		&.form-control--default.form-control--text {
			text-align: center;
			background-color: #fff;
		}
	}

	&__label {
		position: absolute;
		top: $form-input-m-height + 10px;
		display: block;

		/* -- */

		&-text {
			display: block;

			&--1 {
				display: none;
			}

			&--2 {
				font-size: 13px;
				line-height: 1.2;
				color: #000;
			}
		}
	}
}

.bcard-add-remember {
	position: absolute;
	bottom: 0;
	left: 0;

	&__text {
		margin-left: 5px;
		font-size: 13px;
	}
}