<div class="cc-advantages">
	<div class="cc-advantages__content">
		<div class="cc-ttl cc-ttl--1 cc-advantages__ttl">«Своя компания»<br class="cc-advantages__ttl-br-mobile"> рядом<br class="cc-advantages__ttl-br-desktop"> даже на<br class="cc-advantages__ttl-br-mobile"> работе ❤️</div>
		
		<div class="cc-advantages-list">
			<div class="cc-advantages-list__row">
				<div class="cc-advantages-list__col">
					<div class="cc-advantage">
						<div class="cc-advantage__image cc-advantage__image--sk"></div>
						<div class="cc-advantage__title">
							<span class="cc-advantage__title-start">Любимый ресторан</span> <span class="cc-advantage__title-end">в вашем офисе</span>
						</div>
					</div>
				</div>
				<div class="cc-advantages-list__col">
					<div class="cc-advantage">
						<div class="cc-advantage__image cc-advantage__image--dish"></div>
						<div class="cc-advantage__title">
							<span class="cc-advantage__title-start">Порции больше<span class="cc-advantage__title-end-style">,</span></span> <span class="cc-advantage__title-end">чем на бизнес-ланче</span>
						</div>						
					</div>
				</div>
				<div class="cc-advantages-list__col">
					<div class="cc-advantage">
						<div class="cc-advantage__image cc-advantage__image--chef"></div>
						<div class="cc-advantage__title">
							<span class="cc-advantage__title-start">Готовим специально</span> <span class="cc-advantage__title-end">под ваш заказ</span>
						</div>
					</div>
				</div>
				<div class="cc-advantages-list__col">
					<div class="cc-advantage">
						<div class="cc-advantage__image cc-advantage__image--gift"></div>
						<div class="cc-advantage__title">
							<span class="cc-advantage__title-start">3 обеда бесплатно</span> <span class="cc-advantage__title-end">при первом заказе</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>