<div class="cc-contacts">
	<div class="cc-contacts__content">
			<div class="cc-ttl cc-ttl--1">Контакты</div>
			<div class="cc-subttl cc-subttl--1">
				Заказ обедов и вопросы сотрудничества
			</div>

			<div class="cc-contacts-list">
				<div class="cc-contacts-list__row">
					<div class="cc-contacts-list__col">
						<div class="cc-contacts-item">
							<span class="cc-contacts-item__icon cc-contacts-item__icon--phone"></span> <a href="tel:3822193" class="cc-contacts-item__text cc-contacts-item__link">382-21-93</a>
						</div>
					</div>
					<div class="cc-contacts-list__col">
						<div class="cc-contacts-item">
							<span class="cc-contacts-item__icon cc-contacts-item__icon--email"></span> <a href="mailto:skchaykovskogo@yandex.ru" class="cc-contacts-item__text cc-contacts-item__link">skchaykovskogo@yandex.ru</a>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>