<div class="cc-free">
	<div class="cc-free__content">
		<div class="cc-price__ttl cc-ttl cc-ttl--1 cc-ttl--red">Бесплатная дегустация</div>
		<div class="cc-price__subttl cc-subttl cc-subttl--1">
			Привезем для пробы три любых обеда!
		</div>

		<div class="cc-free-image-list">
			<div class="cc-free-image-list__row">
				<div class="cc-free-image-list__col">
					<div class="cc-free-image" style="background-image: url(images/corp-catering-free-hot-pasta-s-kuroy-i-gribami.jpg);"></div>
				</div>
				<div class="cc-free-image-list__col">
					<div class="cc-free-image" style="background-image: url(images/corp-catering-free-soup-borsh.jpg);"></div>
				</div>
				<div class="cc-free-image-list__col">
					<div class="cc-free-image" style="background-image: url(images/corp-catering-free-salad-s-rozovim-tuncom.jpg);"></div>
				</div>
			</div>
		</div>
	</div>
</div>