<div class="cc-free">
	<div class="cc-free__content">
		<div class="cc-ttl cc-ttl--1 cc-ttl--red">Бесплатная дегустация</div>
		<div class="cc-price__subttl cc-subttl cc-subttl--1">
			Привезем для пробы три любых обеда!
		</div>

		<div class="cc-free-list">
			<div class="cc-free-list__row">
				<div class="cc-free-list__col">
					<div class="cc-free-image" style="background-image: url(images/corp-catering-free-img2-720x520.jpg);"></div>
				</div>
				<div class="cc-free-list__col">
					<div class="cc-free-image" style="background-image: url(images/corp-catering-free-img3-720x520.jpg);"></div>
				</div>
				<div class="cc-free-list__col">
					<div class="cc-free-image" style="background-image: url(images/corp-catering-free-img1-720x520.jpg);"></div>
				</div>
			</div>
		</div>
	</div>
</div>