<div class="cc-hero">
	<div class="cc-hero__image" style="background-image: url(images/corp-catering-hero-1-5988-4000x2730.jpg)"></div>
	<div class="cc-hero__content">
		<div class="breadcrumbs cc-hero__breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
			<span itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem"><a itemprop="item" href="http://svoya-kompaniya.ru/" title="Своя компания"><span itemprop="name">Своя компания</span><meta itemprop="position" content="1"></a></span>
			<span itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem"><span itemprop="item"><span itemprop="name">Корзина</span><meta itemprop="position" content="3"></span></span>
		</div>
		
		<div class="cc-hero__main-content-wrapper">
			<div class="cc-hero__main-content">
				<h1 class="cc-hero__ttl">Доставка корпоративных обедов</h1>
				<div class="cc-hero__subttl">
					Полноценное питание ресторанного качества<br>для организаций
				</div>
				<div class="cc-hero__phone">
					<span class="cc-hero__phone-icon"></span><a href="tel:89506540064" class="cc-hero__phone-number">8 (950) 654-00-64</a> <span class="cc-hero__phone-name">(Иван Иванов)</span>
				</div>
			</div>
		</div>
	</div>	
</div>