<div class="cc-menu">
	<div class="cc-menu__content">
		<div class="cc-menu__ttl cc-ttl cc-ttl--1">Меню</div>

		<div class="cc-menu-week js-corp-catering-menu-week-switch">
			<div class="cc-menu-week-switch cc-menu-week-switch--0">
				<div class="cc-menu-week-switch__row">
					<div class="cc-menu-week-switch__col">
						<button type="button" class="cc-menu-week-switch-button cc-menu-week-switch-button--0"><span class="cc-menu-week-switch-button__text">Неделя 1</span></button>
					</div>
					<div class="cc-menu-week-switch__col">
						<button type="button" class="cc-menu-week-switch-toggle"></button>
					</div>
					<div class="cc-menu-week-switch__col">
						<button type="button" class="cc-menu-week-switch-button cc-menu-week-switch-button--1"><span class="cc-menu-week-switch-button__text">Неделя 2</span></button>
					</div>
				</div>
			</div>

			<div class="cc-menu-week-content">
				
				<!-- Неделя 1 -->
				<div class="cc-menu-week-content__item cc-menu-week-content__item--active">
					
					<div class="cc-menu-type js-corp-catering-menu-type-tab">
						<div class="cc-menu-type-tab-container">
							<ul class="cc-menu-type-tab">
								<li class="cc-menu-type-tab__item cc-menu-type-tab__item--active">
									<button type="button" class="cc-menu-type-tab__button"><span class="cc-menu-type-tab__button-text">Горячее</span></button>
								</li>
								<li class="cc-menu-type-tab__item">
									<button type="button" class="cc-menu-type-tab__button"><span class="cc-menu-type-tab__button-text">Суп</span></button>
								</li>
								<li class="cc-menu-type-tab__item">
									<button type="button" class="cc-menu-type-tab__button"><span class="cc-menu-type-tab__button-text">Салат</span></button>
								</li>
							</ul>
						</div>

						<div class="cc-menu-type-content">
							<div class="cc-menu-type-content__item cc-menu-type-content__item--active">
								
								<!-- Неделя 1. Горячее -->
								<div class="cc-menu-accordion js-corp-catering-menu-accordion">
									
									<!-- Неделя 1. Горячее 1 -->
									<div class="cc-menu-accordion__item">
										<button type="button" class="cc-menu-accordion__button cc-menu-accordion-button">
											<div class="cc-menu-accordion-button__content">
												<div class="cc-menu-accordion-button__icon-box">
													<span class="cc-menu-accordion-button__icon cc-menu-accordion-button__icon--hot"></span>
												</div>
												<div class="cc-menu-accordion-button__name-box">
													<span class="cc-menu-accordion-button__name">Паста с беконом и овощами</span>
												</div>
												<div class="cc-menu-accordion-button__weight-box">
													<span class="cc-menu-accordion-button__weight">230 гр.</span>
												</div>
												<div class="cc-menu-accordion-button__corner-box">
													<span class="cc-menu-accordion-button__corner"></span>
												</div>
											</div>
										</button>
										<div class="cc-menu-accordion__content">
											<ul class="cc-menu-accordion__nfacts">
												<li class="cc-menu-accordion__nfacts-item">
													БЖУ: 3,4/16,1/13,3
												</li>
												<li class="cc-menu-accordion__nfacts-item">
													215 кКал
												</li>
											</ul>
											<div class="cc-menu-accordion__brief">
												Бекон, спагетти, морковь, кабачок, болгарский перец, репчатый лук, сливки.
											</div>
										</div>
									</div>
									
									<!-- Неделя 1. Горячее 2 -->
									<div class="cc-menu-accordion__item">
										<button type="button" class="cc-menu-accordion__button cc-menu-accordion-button">
											<div class="cc-menu-accordion-button__content">
												<div class="cc-menu-accordion-button__icon-box">
													<span class="cc-menu-accordion-button__icon cc-menu-accordion-button__icon--hot"></span>
												</div>
												<div class="cc-menu-accordion-button__name-box">
													<span class="cc-menu-accordion-button__name">Жаркое по-таежному</span>
												</div>
												<div class="cc-menu-accordion-button__weight-box">
													<span class="cc-menu-accordion-button__weight">230 гр.</span>
												</div>
												<div class="cc-menu-accordion-button__corner-box">
													<span class="cc-menu-accordion-button__corner"></span>
												</div>
											</div>
										</button>
										<div class="cc-menu-accordion__content">
											<ul class="cc-menu-accordion__nfacts">
												<li class="cc-menu-accordion__nfacts-item">
													БЖУ: 6,6/10,7/9,4
												</li>
												<li class="cc-menu-accordion__nfacts-item">
													163 кКал
												</li>
											</ul>
											<div class="cc-menu-accordion__brief">
												Куриное филе, шампиньоны, картофель, репчатый лук, можжевеловая ягода, зеленый лук, сливки.
											</div>
										</div>
									</div>
									
									<!-- Неделя 1. Горячее 3 -->
									<div class="cc-menu-accordion__item">
										<button type="button" class="cc-menu-accordion__button cc-menu-accordion-button">
											<div class="cc-menu-accordion-button__content">
												<div class="cc-menu-accordion-button__icon-box">
													<span class="cc-menu-accordion-button__icon cc-menu-accordion-button__icon--hot"></span>
												</div>
												<div class="cc-menu-accordion-button__name-box">
													<span class="cc-menu-accordion-button__name">Бифштекс по-французски с пюре</span>
												</div>
												<div class="cc-menu-accordion-button__weight-box">
													<span class="cc-menu-accordion-button__weight">230 гр.</span>
												</div>
												<div class="cc-menu-accordion-button__corner-box">
													<span class="cc-menu-accordion-button__corner"></span>
												</div>
											</div>
										</button>
										<div class="cc-menu-accordion__content">
											<ul class="cc-menu-accordion__nfacts">
												<li class="cc-menu-accordion__nfacts-item">
													БЖУ: 8,4/18,4/10,8
												</li>
												<li class="cc-menu-accordion__nfacts-item">
													244 кКал
												</li>
											</ul>
											<div class="cc-menu-accordion__brief">
												Фарш из говядины и свинины, шампиньоны, сыр, томаты, репчатый лук, соус из петрушки, майонез, картофельное пюре.
											</div>
										</div>
									</div>
									
									<!-- Неделя 1. Горячее 4 -->
									<div class="cc-menu-accordion__item">
										<button type="button" class="cc-menu-accordion__button cc-menu-accordion-button">
											<div class="cc-menu-accordion-button__content">
												<div class="cc-menu-accordion-button__icon-box">
													<span class="cc-menu-accordion-button__icon cc-menu-accordion-button__icon--hot"></span>
												</div>
												<div class="cc-menu-accordion-button__name-box">
													<span class="cc-menu-accordion-button__name">Фрикадельки с гречотто</span>
												</div>
												<div class="cc-menu-accordion-button__weight-box">
													<span class="cc-menu-accordion-button__weight">230 гр.</span>
												</div>
												<div class="cc-menu-accordion-button__corner-box">
													<span class="cc-menu-accordion-button__corner"></span>
												</div>
											</div>
										</button>
										<div class="cc-menu-accordion__content">
											<ul class="cc-menu-accordion__nfacts">
												<li class="cc-menu-accordion__nfacts-item">
													БЖУ: 9,6/25,2/5,8
												</li>
												<li class="cc-menu-accordion__nfacts-item">
													289 кКал
												</li>
											</ul>
											<div class="cc-menu-accordion__brief">
												Фрикадельки из говядины и свинины, сливки, гречневая крупа, томаты, огурец, репчатый лук, морковь, грибной соус, крем-бальзамик.
											</div>
										</div>
									</div>
									
									<!-- Неделя 1. Горячее 5 -->
									<div class="cc-menu-accordion__item">
										<button type="button" class="cc-menu-accordion__button cc-menu-accordion-button">
											<div class="cc-menu-accordion-button__content">
												<div class="cc-menu-accordion-button__icon-box">
													<span class="cc-menu-accordion-button__icon cc-menu-accordion-button__icon--hot"></span>
												</div>
												<div class="cc-menu-accordion-button__name-box">
													<span class="cc-menu-accordion-button__name">Горбуша под сырной шапкой с пюре</span>
												</div>
												<div class="cc-menu-accordion-button__weight-box">
													<span class="cc-menu-accordion-button__weight">230 гр.</span>
												</div>
												<div class="cc-menu-accordion-button__corner-box">
													<span class="cc-menu-accordion-button__corner"></span>
												</div>
											</div>
										</button>
										<div class="cc-menu-accordion__content">
											<ul class="cc-menu-accordion__nfacts">
												<li class="cc-menu-accordion__nfacts-item">
													БЖУ: 23/39,1/16,5
												</li>
												<li class="cc-menu-accordion__nfacts-item">
													385 кКал
												</li>
											</ul>
											<div class="cc-menu-accordion__brief">
												Филе горбуши, плавленый сыр, соус бешамель, лук фри, сливки, рыбный бульон, картофельное пюре.
											</div>
										</div>
									</div>
								</div>

							</div>
							<div class="cc-menu-type-content__item">
								
								<!-- Неделя 1. Супы -->
								<div class="cc-menu-accordion js-corp-catering-menu-accordion">
									
									<!-- Неделя 1. Суп 1 -->
									<div class="cc-menu-accordion__item">
										<button type="button" class="cc-menu-accordion__button cc-menu-accordion-button">
											<div class="cc-menu-accordion-button__content">
												<div class="cc-menu-accordion-button__icon-box">
													<span class="cc-menu-accordion-button__icon cc-menu-accordion-button__icon--soup"></span>
												</div>
												<div class="cc-menu-accordion-button__name-box">
													<span class="cc-menu-accordion-button__name">Крем-суп из молодого горошка</span>
												</div>
												<div class="cc-menu-accordion-button__weight-box">
													<span class="cc-menu-accordion-button__weight">220 гр.</span>
												</div>
												<div class="cc-menu-accordion-button__corner-box">
													<span class="cc-menu-accordion-button__corner"></span>
												</div>
											</div>
										</button>
										<div class="cc-menu-accordion__content">
											<ul class="cc-menu-accordion__nfacts">
												<li class="cc-menu-accordion__nfacts-item">
													БЖУ: 4,6/9,1/18,1
												</li>
												<li class="cc-menu-accordion__nfacts-item">
													180 кКал
												</li>
											</ul>
											<div class="cc-menu-accordion__brief">
												Картофель, молодой зеленый горошек, репчатый лук, сливки, соус песто, гренки.
											</div>
										</div>
									</div>
									
									<!-- Неделя 1. Суп 2 -->
									<div class="cc-menu-accordion__item">
										<button type="button" class="cc-menu-accordion__button cc-menu-accordion-button">
											<div class="cc-menu-accordion-button__content">
												<div class="cc-menu-accordion-button__icon-box">
													<span class="cc-menu-accordion-button__icon cc-menu-accordion-button__icon--soup"></span>
												</div>
												<div class="cc-menu-accordion-button__name-box">
													<span class="cc-menu-accordion-button__name">Рассольник с курицей</span>
												</div>
												<div class="cc-menu-accordion-button__weight-box">
													<span class="cc-menu-accordion-button__weight">220 гр.</span>
												</div>
												<div class="cc-menu-accordion-button__corner-box">
													<span class="cc-menu-accordion-button__corner"></span>
												</div>
											</div>
										</button>
										<div class="cc-menu-accordion__content">
											<ul class="cc-menu-accordion__nfacts">
												<li class="cc-menu-accordion__nfacts-item">
													БЖУ: 4,4/10,4/6,8
												</li>
												<li class="cc-menu-accordion__nfacts-item">
													140 кКал
												</li>
											</ul>
											<div class="cc-menu-accordion__brief">
												Куриное филе, картофель, перловая крупа, морковь, маринованные огурцы, репчатый лук, сметана, зелень.
											</div>
										</div>
									</div>

									<!-- Неделя 1. Суп 3 -->
									<div class="cc-menu-accordion__item">
										<button type="button" class="cc-menu-accordion__button cc-menu-accordion-button">
											<div class="cc-menu-accordion-button__content">
												<div class="cc-menu-accordion-button__icon-box">
													<span class="cc-menu-accordion-button__icon cc-menu-accordion-button__icon--soup"></span>
												</div>
												<div class="cc-menu-accordion-button__name-box">
													<span class="cc-menu-accordion-button__name">Куриный с плавленым сыром</span>
												</div>
												<div class="cc-menu-accordion-button__weight-box">
													<span class="cc-menu-accordion-button__weight">220 гр.</span>
												</div>
												<div class="cc-menu-accordion-button__corner-box">
													<span class="cc-menu-accordion-button__corner"></span>
												</div>
											</div>
										</button>
										<div class="cc-menu-accordion__content">
											<ul class="cc-menu-accordion__nfacts">
												<li class="cc-menu-accordion__nfacts-item">
													БЖУ: 5,8/8,6/3,9
												</li>
												<li class="cc-menu-accordion__nfacts-item">
													117 кКал
												</li>
											</ul>
											<div class="cc-menu-accordion__brief">
												Куриное бедро, плавленый сыр, картофель, морковь, репчатый лук, зелень.
											</div>
										</div>
									</div>

									<!-- Неделя 1. Суп 4 -->
									<div class="cc-menu-accordion__item">
										<button type="button" class="cc-menu-accordion__button cc-menu-accordion-button">
											<div class="cc-menu-accordion-button__content">
												<div class="cc-menu-accordion-button__icon-box">
													<span class="cc-menu-accordion-button__icon cc-menu-accordion-button__icon--soup"></span>
												</div>
												<div class="cc-menu-accordion-button__name-box">
													<span class="cc-menu-accordion-button__name">Уха</span>
												</div>
												<div class="cc-menu-accordion-button__weight-box">
													<span class="cc-menu-accordion-button__weight">220 гр.</span>
												</div>
												<div class="cc-menu-accordion-button__corner-box">
													<span class="cc-menu-accordion-button__corner"></span>
												</div>
											</div>
										</button>
										<div class="cc-menu-accordion__content">
											<ul class="cc-menu-accordion__nfacts">
												<li class="cc-menu-accordion__nfacts-item">
													БЖУ: 4/4,3/6,4
												</li>
												<li class="cc-menu-accordion__nfacts-item">
													82 кКал
												</li>
											</ul>
											<div class="cc-menu-accordion__brief">
												Филе минтая, картофель, морковь, репчатый лук, лавровый лист, зелень.
											</div>
										</div>
									</div>

									<!-- Неделя 1. Суп 5 -->
									<div class="cc-menu-accordion__item">
										<button type="button" class="cc-menu-accordion__button cc-menu-accordion-button">
											<div class="cc-menu-accordion-button__content">
												<div class="cc-menu-accordion-button__icon-box">
													<span class="cc-menu-accordion-button__icon cc-menu-accordion-button__icon--soup"></span>
												</div>
												<div class="cc-menu-accordion-button__name-box">
													<span class="cc-menu-accordion-button__name">Борщ с говядиной</span>
												</div>
												<div class="cc-menu-accordion-button__weight-box">
													<span class="cc-menu-accordion-button__weight">220 гр.</span>
												</div>
												<div class="cc-menu-accordion-button__corner-box">
													<span class="cc-menu-accordion-button__corner"></span>
												</div>
											</div>
										</button>
										<div class="cc-menu-accordion__content">
											<ul class="cc-menu-accordion__nfacts">
												<li class="cc-menu-accordion__nfacts-item">
													БЖУ: 3,3/8,1/6,9
												</li>
												<li class="cc-menu-accordion__nfacts-item">
													115 кКал
												</li>
											</ul>
											<div class="cc-menu-accordion__brief">
												Говядина, картофель, капуста, свекла, морковь, репчатый лук, чеснок, томатная паста, сметана, зелень.
											</div>
										</div>
									</div>
								</div>
							
							</div>
							<div class="cc-menu-type-content__item">
								
								<!-- Неделя 1. Салаты -->
								<div class="cc-menu-accordion js-corp-catering-menu-accordion">
									
									<!-- Неделя 1. Салат 1 -->
									<div class="cc-menu-accordion__item">
										<button type="button" class="cc-menu-accordion__button cc-menu-accordion-button">
											<div class="cc-menu-accordion-button__content">
												<div class="cc-menu-accordion-button__icon-box">
													<span class="cc-menu-accordion-button__icon cc-menu-accordion-button__icon--salad"></span>
												</div>
												<div class="cc-menu-accordion-button__name-box">
													<span class="cc-menu-accordion-button__name">Охотничий</span>
												</div>
												<div class="cc-menu-accordion-button__weight-box">
													<span class="cc-menu-accordion-button__weight">120 гр.</span>
												</div>
												<div class="cc-menu-accordion-button__corner-box">
													<span class="cc-menu-accordion-button__corner"></span>
												</div>
											</div>
										</button>
										<div class="cc-menu-accordion__content">
											<ul class="cc-menu-accordion__nfacts">
												<li class="cc-menu-accordion__nfacts-item">
													БЖУ: 8,1/15,9/4,7
												</li>
												<li class="cc-menu-accordion__nfacts-item">
													196 кКал
												</li>
											</ul>
											<div class="cc-menu-accordion__brief">
												Полукопченая колбаса, голландский сыр, шампиньоны, картофель, маринованные огурцы, салат айсберг, сметана, горчица.
											</div>
										</div>
									</div>
									
									<!-- Неделя 1. Салат 2 -->
									<div class="cc-menu-accordion__item">
										<button type="button" class="cc-menu-accordion__button cc-menu-accordion-button">
											<div class="cc-menu-accordion-button__content">
												<div class="cc-menu-accordion-button__icon-box">
													<span class="cc-menu-accordion-button__icon cc-menu-accordion-button__icon--salad"></span>
												</div>
												<div class="cc-menu-accordion-button__name-box">
													<span class="cc-menu-accordion-button__name">Прага</span>
												</div>
												<div class="cc-menu-accordion-button__weight-box">
													<span class="cc-menu-accordion-button__weight">120 гр.</span>
												</div>
												<div class="cc-menu-accordion-button__corner-box">
													<span class="cc-menu-accordion-button__corner"></span>
												</div>
											</div>
										</button>
										<div class="cc-menu-accordion__content">
											<ul class="cc-menu-accordion__nfacts">
												<li class="cc-menu-accordion__nfacts-item">
													БЖУ: 4,9/19,4/6,6
												</li>
												<li class="cc-menu-accordion__nfacts-item">
													222 кКал
												</li>
											</ul>
											<div class="cc-menu-accordion__brief">
												Полукопченая колбаса, перепелиное яйцо, картофель, маринованные огурцы, красный лук, салат айсберг, чеснок, майонез, горчица, лук фри.
											</div>
										</div>
									</div>
									
									<!-- Неделя 1. Салат 3 -->
									<div class="cc-menu-accordion__item">
										<button type="button" class="cc-menu-accordion__button cc-menu-accordion-button">
											<div class="cc-menu-accordion-button__content">
												<div class="cc-menu-accordion-button__icon-box">
													<span class="cc-menu-accordion-button__icon cc-menu-accordion-button__icon--salad"></span>
												</div>
												<div class="cc-menu-accordion-button__name-box">
													<span class="cc-menu-accordion-button__name">Мимоза с тунцом</span>
												</div>
												<div class="cc-menu-accordion-button__weight-box">
													<span class="cc-menu-accordion-button__weight">120 гр.</span>
												</div>
												<div class="cc-menu-accordion-button__corner-box">
													<span class="cc-menu-accordion-button__corner"></span>
												</div>
											</div>
										</button>
										<div class="cc-menu-accordion__content">
											<ul class="cc-menu-accordion__nfacts">
												<li class="cc-menu-accordion__nfacts-item">
													БЖУ: 7,2/9,7/9,6
												</li>
												<li class="cc-menu-accordion__nfacts-item">
													158 кКал
												</li>
											</ul>
											<div class="cc-menu-accordion__brief">
												Тунец консервированный, яйцо, картофель, морковь, красный лук, майонез, крем-бальзамик.
											</div>
										</div>
									</div>
									
									<!-- Неделя 1. Салат 4 -->
									<div class="cc-menu-accordion__item">
										<button type="button" class="cc-menu-accordion__button cc-menu-accordion-button">
											<div class="cc-menu-accordion-button__content">
												<div class="cc-menu-accordion-button__icon-box">
													<span class="cc-menu-accordion-button__icon cc-menu-accordion-button__icon--salad"></span>
												</div>
												<div class="cc-menu-accordion-button__name-box">
													<span class="cc-menu-accordion-button__name">Сельдь под шубой</span>
												</div>
												<div class="cc-menu-accordion-button__weight-box">
													<span class="cc-menu-accordion-button__weight">120 гр.</span>
												</div>
												<div class="cc-menu-accordion-button__corner-box">
													<span class="cc-menu-accordion-button__corner"></span>
												</div>
											</div>
										</button>
										<div class="cc-menu-accordion__content">
											<ul class="cc-menu-accordion__nfacts">
												<li class="cc-menu-accordion__nfacts-item">
													БЖУ: 6,2/12,5/9,2
												</li>
												<li class="cc-menu-accordion__nfacts-item">
													177 кКал
												</li>
											</ul>
											<div class="cc-menu-accordion__brief">
												Сельдь слабосоленая, картофель, свекла, морковь, красный лук, майонез.
											</div>
										</div>
									</div>
									
									<!-- Неделя 1. Салат 5 -->
									<div class="cc-menu-accordion__item">
										<button type="button" class="cc-menu-accordion__button cc-menu-accordion-button">
											<div class="cc-menu-accordion-button__content">
												<div class="cc-menu-accordion-button__icon-box">
													<span class="cc-menu-accordion-button__icon cc-menu-accordion-button__icon--salad"></span>
												</div>
												<div class="cc-menu-accordion-button__name-box">
													<span class="cc-menu-accordion-button__name">Крабовый с крутонами</span>
												</div>
												<div class="cc-menu-accordion-button__weight-box">
													<span class="cc-menu-accordion-button__weight">120 гр.</span>
												</div>
												<div class="cc-menu-accordion-button__corner-box">
													<span class="cc-menu-accordion-button__corner"></span>
												</div>
											</div>
										</button>
										<div class="cc-menu-accordion__content">
											<ul class="cc-menu-accordion__nfacts">
												<li class="cc-menu-accordion__nfacts-item">
													БЖУ: 8,5/14,8/8,6
												</li>
												<li class="cc-menu-accordion__nfacts-item">
													203 кКал
												</li>
											</ul>
											<div class="cc-menu-accordion__brief">
												Крабовые палочки, яйцо, огурец, кукуруза, майонез, крутоны, икра тобико.
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

				<!-- Неделя 2 -->
				<div class="cc-menu-week-content__item">
					
					<div class="cc-menu-type js-corp-catering-menu-type-tab">
						<div class="cc-menu-type-tab-container">
							<ul class="cc-menu-type-tab">
								<li class="cc-menu-type-tab__item cc-menu-type-tab__item--active">
									<button type="button" class="cc-menu-type-tab__button"><span class="cc-menu-type-tab__button-text">Горячее</span></button>
								</li>
								<li class="cc-menu-type-tab__item">
									<button type="button" class="cc-menu-type-tab__button"><span class="cc-menu-type-tab__button-text">Суп</span></button>
								</li>
								<li class="cc-menu-type-tab__item">
									<button type="button" class="cc-menu-type-tab__button"><span class="cc-menu-type-tab__button-text">Салат</span></button>
								</li>
							</ul>
						</div>

						<div class="cc-menu-type-content">
							<div class="cc-menu-type-content__item cc-menu-type-content__item--active">
								
								<!-- Неделя 2. Горячее -->
								<div class="cc-menu-accordion js-corp-catering-menu-accordion">
									
									<!-- Неделя 2. Горячее 1 -->
									<div class="cc-menu-accordion__item">
										<button type="button" class="cc-menu-accordion__button cc-menu-accordion-button">
											<div class="cc-menu-accordion-button__content">
												<div class="cc-menu-accordion-button__icon-box">
													<span class="cc-menu-accordion-button__icon cc-menu-accordion-button__icon--hot"></span>
												</div>
												<div class="cc-menu-accordion-button__name-box">
													<span class="cc-menu-accordion-button__name">Тефтели с перлотто</span>
												</div>
												<div class="cc-menu-accordion-button__weight-box">
													<span class="cc-menu-accordion-button__weight">230 гр.</span>
												</div>
												<div class="cc-menu-accordion-button__corner-box">
													<span class="cc-menu-accordion-button__corner"></span>
												</div>
											</div>
										</button>
										<div class="cc-menu-accordion__content">
											<ul class="cc-menu-accordion__nfacts">
												<li class="cc-menu-accordion__nfacts-item">
													БЖУ: 7,5/21,1/24,8
												</li>
												<li class="cc-menu-accordion__nfacts-item">
													327 кКал
												</li>
											</ul>
											<div class="cc-menu-accordion__brief">
												Фарш из говядины и курицы, сливки, перловая крупа, морковь, болгарский перец, репчатый лук, панировочные сухари.
											</div>
										</div>
									</div>
									
									<!-- Неделя 2. Горячее 2 -->
									<div class="cc-menu-accordion__item">
										<button type="button" class="cc-menu-accordion__button cc-menu-accordion-button">
											<div class="cc-menu-accordion-button__content">
												<div class="cc-menu-accordion-button__icon-box">
													<span class="cc-menu-accordion-button__icon cc-menu-accordion-button__icon--hot"></span>
												</div>
												<div class="cc-menu-accordion-button__name-box">
													<span class="cc-menu-accordion-button__name">Курица в кислосладком соусе с рисом</span>
												</div>
												<div class="cc-menu-accordion-button__weight-box">
													<span class="cc-menu-accordion-button__weight">230 гр.</span>
												</div>
												<div class="cc-menu-accordion-button__corner-box">
													<span class="cc-menu-accordion-button__corner"></span>
												</div>
											</div>
										</button>
										<div class="cc-menu-accordion__content">
											<ul class="cc-menu-accordion__nfacts">
												<li class="cc-menu-accordion__nfacts-item">
													БЖУ: 7,5/2,4/23,8
												</li>
												<li class="cc-menu-accordion__nfacts-item">
													150 кКал
												</li>
											</ul>
											<div class="cc-menu-accordion__brief">
												Куриное филе, болгарский перец, рис, чеснок, красный лук, кунжут, имбирный сок, кетчуп, крахмал.
											</div>
										</div>
									</div>
									
									<!-- Неделя 2. Горячее 3 -->
									<div class="cc-menu-accordion__item">
										<button type="button" class="cc-menu-accordion__button cc-menu-accordion-button">
											<div class="cc-menu-accordion-button__content">
												<div class="cc-menu-accordion-button__icon-box">
													<span class="cc-menu-accordion-button__icon cc-menu-accordion-button__icon--hot"></span>
												</div>
												<div class="cc-menu-accordion-button__name-box">
													<span class="cc-menu-accordion-button__name">Котлета с картофелем и овощами под сливочногрибным соусом</span>
												</div>
												<div class="cc-menu-accordion-button__weight-box">
													<span class="cc-menu-accordion-button__weight">230 гр.</span>
												</div>
												<div class="cc-menu-accordion-button__corner-box">
													<span class="cc-menu-accordion-button__corner"></span>
												</div>
											</div>
										</button>
										<div class="cc-menu-accordion__content">
											<ul class="cc-menu-accordion__nfacts">
												<li class="cc-menu-accordion__nfacts-item">
													БЖУ: 9,2/17,1/10,2
												</li>
												<li class="cc-menu-accordion__nfacts-item">
													235 кКал
												</li>
											</ul>
											<div class="cc-menu-accordion__brief">
												Фарш из говядины и курицы, шампиньоны, картофель, красный лук, морковь, репчатый лук, чеснок.
											</div>
										</div>
									</div>
									
									<!-- Неделя 2. Горячее 4 -->
									<div class="cc-menu-accordion__item">
										<button type="button" class="cc-menu-accordion__button cc-menu-accordion-button">
											<div class="cc-menu-accordion-button__content">
												<div class="cc-menu-accordion-button__icon-box">
													<span class="cc-menu-accordion-button__icon cc-menu-accordion-button__icon--hot"></span>
												</div>
												<div class="cc-menu-accordion-button__name-box">
													<span class="cc-menu-accordion-button__name">Минтай с рисом по-португальски</span>
												</div>
												<div class="cc-menu-accordion-button__weight-box">
													<span class="cc-menu-accordion-button__weight">230 гр.</span>
												</div>
												<div class="cc-menu-accordion-button__corner-box">
													<span class="cc-menu-accordion-button__corner"></span>
												</div>
											</div>
										</button>
										<div class="cc-menu-accordion__content">
											<ul class="cc-menu-accordion__nfacts">
												<li class="cc-menu-accordion__nfacts-item">
													БЖУ: 8,7/9,3/24,4
												</li>
												<li class="cc-menu-accordion__nfacts-item">
													220 кКал
												</li>
											</ul>
											<div class="cc-menu-accordion__brief">
												Филе минтая, рис, кукурузная мука, зеленый соус из петрушки.
											</div>
										</div>
									</div>
									
									<!-- Неделя 2. Горячее 5 -->
									<div class="cc-menu-accordion__item">
										<button type="button" class="cc-menu-accordion__button cc-menu-accordion-button">
											<div class="cc-menu-accordion-button__content">
												<div class="cc-menu-accordion-button__icon-box">
													<span class="cc-menu-accordion-button__icon cc-menu-accordion-button__icon--hot"></span>
												</div>
												<div class="cc-menu-accordion-button__name-box">
													<span class="cc-menu-accordion-button__name">Курица карри с рисом</span>
												</div>
												<div class="cc-menu-accordion-button__weight-box">
													<span class="cc-menu-accordion-button__weight">230 гр.</span>
												</div>
												<div class="cc-menu-accordion-button__corner-box">
													<span class="cc-menu-accordion-button__corner"></span>
												</div>
											</div>
										</button>
										<div class="cc-menu-accordion__content">
											<ul class="cc-menu-accordion__nfacts">
												<li class="cc-menu-accordion__nfacts-item">
													БЖУ: 9,2/13,9/21,6
												</li>
												<li class="cc-menu-accordion__nfacts-item">
													252 кКал
												</li>
											</ul>
											<div class="cc-menu-accordion__brief">
												Куриное филе, репчатый лук, чеснок, карри, сливки, рис, кунжут, помидорки черри.
											</div>
										</div>
									</div>
								</div>

							</div>
							<div class="cc-menu-type-content__item">
								
								<!-- Неделя 2. Супы -->
								<div class="cc-menu-accordion js-corp-catering-menu-accordion">
									
									<!-- Неделя 2. Суп 1 -->
									<div class="cc-menu-accordion__item">
										<button type="button" class="cc-menu-accordion__button cc-menu-accordion-button">
											<div class="cc-menu-accordion-button__content">
												<div class="cc-menu-accordion-button__icon-box">
													<span class="cc-menu-accordion-button__icon cc-menu-accordion-button__icon--soup"></span>
												</div>
												<div class="cc-menu-accordion-button__name-box">
													<span class="cc-menu-accordion-button__name">Суп-пюре из кабачков</span>
												</div>
												<div class="cc-menu-accordion-button__weight-box">
													<span class="cc-menu-accordion-button__weight">220 гр.</span>
												</div>
												<div class="cc-menu-accordion-button__corner-box">
													<span class="cc-menu-accordion-button__corner"></span>
												</div>
											</div>
										</button>
										<div class="cc-menu-accordion__content">
											<ul class="cc-menu-accordion__nfacts">
												<li class="cc-menu-accordion__nfacts-item">
													БЖУ: 2,8/7,1/15,4
												</li>
												<li class="cc-menu-accordion__nfacts-item">
													142 кКал
												</li>
											</ul>
											<div class="cc-menu-accordion__brief">
												Картофель, репчатый лук, кабачок, сливки, соус песто, гренки.
											</div>
										</div>
									</div>
									
									<!-- Неделя 2. Суп 2 -->
									<div class="cc-menu-accordion__item">
										<button type="button" class="cc-menu-accordion__button cc-menu-accordion-button">
											<div class="cc-menu-accordion-button__content">
												<div class="cc-menu-accordion-button__icon-box">
													<span class="cc-menu-accordion-button__icon cc-menu-accordion-button__icon--soup"></span>
												</div>
												<div class="cc-menu-accordion-button__name-box">
													<span class="cc-menu-accordion-button__name">Уха</span>
												</div>
												<div class="cc-menu-accordion-button__weight-box">
													<span class="cc-menu-accordion-button__weight">220 гр.</span>
												</div>
												<div class="cc-menu-accordion-button__corner-box">
													<span class="cc-menu-accordion-button__corner"></span>
												</div>
											</div>
										</button>
										<div class="cc-menu-accordion__content">
											<ul class="cc-menu-accordion__nfacts">
												<li class="cc-menu-accordion__nfacts-item">
													БЖУ: 4,0/4,3/6,4
												</li>
												<li class="cc-menu-accordion__nfacts-item">
													82 кКал
												</li>
											</ul>
											<div class="cc-menu-accordion__brief">
												Филе минтая, картофель, морковь, репчатый лук, лавровый лист, зелень.
											</div>
										</div>
									</div>

									<!-- Неделя 2. Суп 3 -->
									<div class="cc-menu-accordion__item">
										<button type="button" class="cc-menu-accordion__button cc-menu-accordion-button">
											<div class="cc-menu-accordion-button__content">
												<div class="cc-menu-accordion-button__icon-box">
													<span class="cc-menu-accordion-button__icon cc-menu-accordion-button__icon--soup"></span>
												</div>
												<div class="cc-menu-accordion-button__name-box">
													<span class="cc-menu-accordion-button__name">Грибница</span>
												</div>
												<div class="cc-menu-accordion-button__weight-box">
													<span class="cc-menu-accordion-button__weight">220 гр.</span>
												</div>
												<div class="cc-menu-accordion-button__corner-box">
													<span class="cc-menu-accordion-button__corner"></span>
												</div>
											</div>
										</button>
										<div class="cc-menu-accordion__content">
											<ul class="cc-menu-accordion__nfacts">
												<li class="cc-menu-accordion__nfacts-item">
													БЖУ: 2/3,4/5,4
												</li>
												<li class="cc-menu-accordion__nfacts-item">
													63 кКал
												</li>
											</ul>
											<div class="cc-menu-accordion__brief">
												Шампиньоны, лесные грибы, грибной бульон, картофель, репчатый лук, сметана, зелень.
											</div>
										</div>
									</div>

									<!-- Неделя 2. Суп 4 -->
									<div class="cc-menu-accordion__item">
										<button type="button" class="cc-menu-accordion__button cc-menu-accordion-button">
											<div class="cc-menu-accordion-button__content">
												<div class="cc-menu-accordion-button__icon-box">
													<span class="cc-menu-accordion-button__icon cc-menu-accordion-button__icon--soup"></span>
												</div>
												<div class="cc-menu-accordion-button__name-box">
													<span class="cc-menu-accordion-button__name">Овощной крем-суп с беконом</span>
												</div>
												<div class="cc-menu-accordion-button__weight-box">
													<span class="cc-menu-accordion-button__weight">220 гр.</span>
												</div>
												<div class="cc-menu-accordion-button__corner-box">
													<span class="cc-menu-accordion-button__corner"></span>
												</div>
											</div>
										</button>
										<div class="cc-menu-accordion__content">
											<ul class="cc-menu-accordion__nfacts">
												<li class="cc-menu-accordion__nfacts-item">
													БЖУ: 2/13,9/6,8
												</li>
												<li class="cc-menu-accordion__nfacts-item">
													162 кКал
												</li>
											</ul>
											<div class="cc-menu-accordion__brief">
												Бекон, картофель, репчатый лук, куриный бульон, сливки, сливочное масло, жареный лук.
											</div>
										</div>
									</div>

									<!-- Неделя 2. Суп 5 -->
									<div class="cc-menu-accordion__item">
										<button type="button" class="cc-menu-accordion__button cc-menu-accordion-button">
											<div class="cc-menu-accordion-button__content">
												<div class="cc-menu-accordion-button__icon-box">
													<span class="cc-menu-accordion-button__icon cc-menu-accordion-button__icon--soup"></span>
												</div>
												<div class="cc-menu-accordion-button__name-box">
													<span class="cc-menu-accordion-button__name">Борщ с говядиной</span>
												</div>
												<div class="cc-menu-accordion-button__weight-box">
													<span class="cc-menu-accordion-button__weight">220 гр.</span>
												</div>
												<div class="cc-menu-accordion-button__corner-box">
													<span class="cc-menu-accordion-button__corner"></span>
												</div>
											</div>
										</button>
										<div class="cc-menu-accordion__content">
											<ul class="cc-menu-accordion__nfacts">
												<li class="cc-menu-accordion__nfacts-item">
													БЖУ: 3,3/8,1/6,9
												</li>
												<li class="cc-menu-accordion__nfacts-item">
													115 кКал
												</li>
											</ul>
											<div class="cc-menu-accordion__brief">
												Говядина, картофель, капуста, свекла, морковь, репчатый лук, чеснок, томатная паста, сметана, зелень.
											</div>
										</div>
									</div>
								</div>
							
							</div>
							<div class="cc-menu-type-content__item">
								
								<!-- Неделя 2. Салаты -->
								<div class="cc-menu-accordion js-corp-catering-menu-accordion">
									
									<!-- Неделя 2. Салат 1 -->
									<div class="cc-menu-accordion__item">
										<button type="button" class="cc-menu-accordion__button cc-menu-accordion-button">
											<div class="cc-menu-accordion-button__content">
												<div class="cc-menu-accordion-button__icon-box">
													<span class="cc-menu-accordion-button__icon cc-menu-accordion-button__icon--salad"></span>
												</div>
												<div class="cc-menu-accordion-button__name-box">
													<span class="cc-menu-accordion-button__name">Будапешт</span>
												</div>
												<div class="cc-menu-accordion-button__weight-box">
													<span class="cc-menu-accordion-button__weight">120 гр.</span>
												</div>
												<div class="cc-menu-accordion-button__corner-box">
													<span class="cc-menu-accordion-button__corner"></span>
												</div>
											</div>
										</button>
										<div class="cc-menu-accordion__content">
											<ul class="cc-menu-accordion__nfacts">
												<li class="cc-menu-accordion__nfacts-item">
													БЖУ: 5,0/18,2/3,9
												</li>
												<li class="cc-menu-accordion__nfacts-item">
													202 кКал
												</li>
											</ul>
											<div class="cc-menu-accordion__brief">
												Варено-копченый окорок, стручковая фасоль, болгарский перец, салат айсберг, огурец, репчатый лук, соус песто, крем-бальзамик.
											</div>
										</div>
									</div>
									
									<!-- Неделя 2. Салат 2 -->
									<div class="cc-menu-accordion__item">
										<button type="button" class="cc-menu-accordion__button cc-menu-accordion-button">
											<div class="cc-menu-accordion-button__content">
												<div class="cc-menu-accordion-button__icon-box">
													<span class="cc-menu-accordion-button__icon cc-menu-accordion-button__icon--salad"></span>
												</div>
												<div class="cc-menu-accordion-button__name-box">
													<span class="cc-menu-accordion-button__name">С куриной печенью терияки</span>
												</div>
												<div class="cc-menu-accordion-button__weight-box">
													<span class="cc-menu-accordion-button__weight">120 гр.</span>
												</div>
												<div class="cc-menu-accordion-button__corner-box">
													<span class="cc-menu-accordion-button__corner"></span>
												</div>
											</div>
										</button>
										<div class="cc-menu-accordion__content">
											<ul class="cc-menu-accordion__nfacts">
												<li class="cc-menu-accordion__nfacts-item">
													БЖУ: 11,3/14,2/12,1
												</li>
												<li class="cc-menu-accordion__nfacts-item">
													223 кКал
												</li>
											</ul>
											<div class="cc-menu-accordion__brief">
												Куриная печень, микс салата, огурец, морковь, болгарский перец, редис, соус терияки, кунжут.
											</div>
										</div>
									</div>
									
									<!-- Неделя 2. Салат 3 -->
									<div class="cc-menu-accordion__item">
										<button type="button" class="cc-menu-accordion__button cc-menu-accordion-button">
											<div class="cc-menu-accordion-button__content">
												<div class="cc-menu-accordion-button__icon-box">
													<span class="cc-menu-accordion-button__icon cc-menu-accordion-button__icon--salad"></span>
												</div>
												<div class="cc-menu-accordion-button__name-box">
													<span class="cc-menu-accordion-button__name">Овощной со скандинавским песто</span>
												</div>
												<div class="cc-menu-accordion-button__weight-box">
													<span class="cc-menu-accordion-button__weight">120 гр.</span>
												</div>
												<div class="cc-menu-accordion-button__corner-box">
													<span class="cc-menu-accordion-button__corner"></span>
												</div>
											</div>
										</button>
										<div class="cc-menu-accordion__content">
											<ul class="cc-menu-accordion__nfacts">
												<li class="cc-menu-accordion__nfacts-item">
													БЖУ: 2,5/8,7/4,2
												</li>
												<li class="cc-menu-accordion__nfacts-item">
													108 кКал
												</li>
											</ul>
											<div class="cc-menu-accordion__brief">
												Огурцы, сливочный сыр, томаты, болгарский перец, салат айсберг, зеленый соус из петрушки, семечки.
											</div>
										</div>
									</div>
									
									<!-- Неделя 2. Салат 4 -->
									<div class="cc-menu-accordion__item">
										<button type="button" class="cc-menu-accordion__button cc-menu-accordion-button">
											<div class="cc-menu-accordion-button__content">
												<div class="cc-menu-accordion-button__icon-box">
													<span class="cc-menu-accordion-button__icon cc-menu-accordion-button__icon--salad"></span>
												</div>
												<div class="cc-menu-accordion-button__name-box">
													<span class="cc-menu-accordion-button__name">С ветчиной и фасолью</span>
												</div>
												<div class="cc-menu-accordion-button__weight-box">
													<span class="cc-menu-accordion-button__weight">120 гр.</span>
												</div>
												<div class="cc-menu-accordion-button__corner-box">
													<span class="cc-menu-accordion-button__corner"></span>
												</div>
											</div>
										</button>
										<div class="cc-menu-accordion__content">
											<ul class="cc-menu-accordion__nfacts">
												<li class="cc-menu-accordion__nfacts-item">
													БЖУ: 9/10,6/4,1
												</li>
												<li class="cc-menu-accordion__nfacts-item">
													149 кКал
												</li>
											</ul>
											<div class="cc-menu-accordion__brief">
												Ветчина, яйцо, консервированная фасоль, огурец, салат айсберг, сметана, горчица, укроп.
											</div>
										</div>
									</div>
									
									<!-- Неделя 2. Салат 5 -->
									<div class="cc-menu-accordion__item">
										<button type="button" class="cc-menu-accordion__button cc-menu-accordion-button">
											<div class="cc-menu-accordion-button__content">
												<div class="cc-menu-accordion-button__icon-box">
													<span class="cc-menu-accordion-button__icon cc-menu-accordion-button__icon--salad"></span>
												</div>
												<div class="cc-menu-accordion-button__name-box">
													<span class="cc-menu-accordion-button__name">Блинный с ветчиной</span>
												</div>
												<div class="cc-menu-accordion-button__weight-box">
													<span class="cc-menu-accordion-button__weight">120 гр.</span>
												</div>
												<div class="cc-menu-accordion-button__corner-box">
													<span class="cc-menu-accordion-button__corner"></span>
												</div>
											</div>
										</button>
										<div class="cc-menu-accordion__content">
											<ul class="cc-menu-accordion__nfacts">
												<li class="cc-menu-accordion__nfacts-item">
													БЖУ: 7,1/10,9/14,3
												</li>
												<li class="cc-menu-accordion__nfacts-item">
													187 кКал
												</li>
											</ul>
											<div class="cc-menu-accordion__brief">
												Копченая курица, яйцо, блины, плавленный сыр, картофель, консервированная кукуруза, огурец, соус цезарь, жареный лук.
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cc-info-container cc-info-container--center">
			<div class="cc-info cc-info--inline-block cc-menu__info">
				<p>Недельные меню чередуются.</p>
				<p>Минимальный срок договора - <b>1 месяц</b>.</p>
			</div>
		</div>

	</div>
</div>