<div class="cc-order">
	<div class="cc-order__content">
		<div class="cc-order-form">
			<div class="cc-order__ttl cc-ttl cc-ttl--1">Заказать доставку обедов</div>
			<div class="cc-order__subttl cc-subttl cc-subttl--1">
				Оставьте заявку и наш менеджер сможет<br>проконсультировать вас и сделать уникальное предложение
			</div>

			<div class="cc-order-form__row cc-order-form__row--form-group">
				<div class="cc-order-form__col">
					<div class="form-group cc-order-form__form-group">
						<div class="form-control-group cc-order-form__control-group">
							<input type="text" placeholder="Имя Фамилия" class="form-control form-control--text cc-order-form__input">
						</div>
						<!-- <div class="form-message form-message--default form-message--control form-message--error">
							Ошибка
						</div> -->
					</div>
				</div>
				<div class="cc-order-form__col">
					<div class="form-group cc-order-form__form-group">
						<div class="form-control-group cc-order-form__control-group">
							<input type="text" placeholder="Телефон" class="form-control form-control--text cc-order-form__input">
						</div>
					</div>
				</div>
			</div>

			<div class="cc-order-form__row cc-order-form__row--form-group">
				<div class="cc-order-form__col">
					<div class="form-group cc-order-form__form-group">
						<div class="form-control-group cc-order-form__control-group">
							<input type="text" placeholder="Email" class="form-control form-control--text cc-order-form__input">
						</div>
					</div>
				</div>
				<div class="cc-order-form__col">
					<div class="form-group cc-order-form__form-group">
						<div class="form-control-group cc-order-form__control-group">
							<input type="text" placeholder="Наименование организации" class="form-control form-control--text cc-order-form__input">
						</div>
					</div>
				</div>
			</div>
			
			<div class="cc-order-form-comment js-cc-order-form-comment-toggle">
				<div class="cc-order-form-comment__toggle-container">
					<button type="button" class="cc-order-form-comment__toggle">Добавить комментарий</button>
				</div>
				<div class="form-group cc-order-form__form-group cc-order-form-comment__form-group">
					<label class="form-label cc-order-form__label">Комментарий</label>
					<div class="form-control-group cc-order-form__control-group">
						<textarea class="cc-order-form-comment__textarea"></textarea>
					</div>
				</div>
			</div>

			<div class="cc-order-form__submit-container">
				<button type="button" class="cc-order-form__submit">
					Отправить заявку
				</button>
			</div>

		</div>
	</div>
</div>