<div class="cc-price">
	<div class="cc-price__content">
		<div class="cc-price__ttl cc-ttl cc-ttl--1">Стоимость обедов</div>

		<div class="cc-price-list">
			<div class="cc-price-list__wrapper">
				<div class="cc-price-list__scroll">
					<div class="cc-price-list__scroll-content">
						<div class="cc-price-list__row">
							<div class="cc-price-list__col">
								<div class="cc-price-item">
									<div class="cc-price-item__price">
										<span class="cc-price-item__price-num">230</span> <span class="cc-price-item__price-rub">₽</span>
									</div>

									<div class="cc-price-item__dish-list">
										<div class="cc-price-item__dish cc-price-item__dish--hot">Горячее</div>
										<div class="cc-price-item__dish cc-price-item__dish--soup">Суп</div>
									</div>
								</div>
							</div>

							<div class="cc-price-list__col">
								<div class="cc-price-item">
									<div class="cc-price-item__price">
										<span class="cc-price-item__price-num">230</span> <span class="cc-price-item__price-rub">₽</span>
									</div>

									<div class="cc-price-item__dish-list">
										<div class="cc-price-item__dish cc-price-item__dish--hot">Горячее</div>
										<div class="cc-price-item__dish cc-price-item__dish--salad">Салат</div>
									</div>
								</div>
							</div>

							<div class="cc-price-list__col">
								<div class="cc-price-item">
									<div class="cc-price-item__price">
										<span class="cc-price-item__price-num">270</span> <span class="cc-price-item__price-rub">₽</span>
									</div>

									<div class="cc-price-item__dish-list">
										<div class="cc-price-item__dish cc-price-item__dish--hot">Горячее</div>
										<div class="cc-price-item__dish cc-price-item__dish--soup">Суп</div>
										<div class="cc-price-item__dish cc-price-item__dish--salad">Салат</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cc-info-container cc-info-container--center">
			<div class="cc-info cc-info--inline-block cc-price__info">
				<p>На одну доставку - <b>от 10 обедов</b>.</p>
			</div>
		</div>
	</div>
</div>