<div class="cc-use-case">
	<div class="cc-use-case__content">
		<div class="cc-ttl cc-ttl--1 cc-use-case__ttl">Дорогие гости!</div>
		<div class="cc-subttl cc-subttl--1 cc-use-case__subttl">
			Чтобы оформить корпоративную доставку для сотрудников компании, Вы:
		</div>

		<ol class="cc-use-case-steps">
			<li class="cc-use-case-steps__item">Связывайтесь с нами по номеру: 382-21-93 или оставляете заявку на нашем сайте</li>
			<li class="cc-use-case-steps__item">Вместе с Вами мы формируем меню на неделю, исходя из предпочтений сотрудников вашей компании и количества порций</li>
			<li class="cc-use-case-steps__item">Обсуждаем и договариваемся об удобных для Вас времени и условиях доставки</li>
			<li class="cc-use-case-steps__item">Ежедневно по будням наш курьер будет привозить обеды к Вам в офис</li>
		</ol>
	</div>
</div>