<div class="cc-use-case">
	<div class="cc-use-case__content">
		<div class="cc-ttl cc-ttl--1 cc-use-case__ttl">Дорогие гости!</div>
		<div class="cc-subttl cc-subttl--1 cc-use-case__subttl">
			Чтобы оформить корпоративную доставку для сотрудников компании, Вы:
		</div>

		<ol class="cc-use-case-steps">
			<li class="cc-use-case-steps__item">
				<div class="cc-use-case-steps__num-box">
					<div class="cc-use-case-steps__num"></div>
				</div>
				<div class="cc-use-case-steps__text-box">
					<div class="cc-use-case-steps__title">Связывайтесь с нами</div>
					<div class="cc-use-case-steps__text">
						По номеру: <a href="tel:3822193" class="cc-use-case-steps__phone">382-21-93</a> или оставляете заявку на нашем сайте
					</div>
				</div>
			</li>
			<li class="cc-use-case-steps__item">
				<div class="cc-use-case-steps__num-box">
					<div class="cc-use-case-steps__num"></div>
				</div>
				<div class="cc-use-case-steps__text-box">
					<div class="cc-use-case-steps__title">Формируем меню</div>
					<div class="cc-use-case-steps__text">
						Вместе с Вами мы формируем меню на неделю, исходя из предпочтений сотрудников вашей компании и количества порций
					</div>
				</div>
			</li>
			<li class="cc-use-case-steps__item">
				<div class="cc-use-case-steps__num-box">
					<div class="cc-use-case-steps__num"></div>
				</div>
				<div class="cc-use-case-steps__text-box">
					<div class="cc-use-case-steps__title">Договариваемся об условиях доставки</div>
					<div class="cc-use-case-steps__text">
						Обсуждаем и договариваемся об удобных для Вас времени и условиях доставки
					</div>
				</div>
			</li>
			<li class="cc-use-case-steps__item">
				<div class="cc-use-case-steps__num-box">
					<div class="cc-use-case-steps__num"></div>
				</div>
				<div class="cc-use-case-steps__text-box">
					<div class="cc-use-case-steps__title">Приятного аппетита!</div>
					<div class="cc-use-case-steps__text">
						Ежедневно по будням наш курьер будет привозить обеды к Вам в офис
					</div>
				</div>
			</li>
		</ol>
	</div>
</div>