$phone-sms-width: 95px;

@mixin phone-sms-button() {
	position: absolute;
	z-index: 2;
	top: 4px;
	right: 4px;
	display: none;
	width: $phone-sms-width;
	height: 34px;
	line-height: 34px;
	padding: 0;
	font-size: 13px;
	text-align: center;
	border-radius: 5px;
	color: #fff;
}

.phone-sms {
	position: relative;

	/* -- */

	&--button {
		.phone-sms-button {
			display: block;
		}
	}

	&--counter {
		.phone-sms-counter {
			display: block;
		}
	}
}

.phone-sms-button {
	@include phone-sms-button();
	
	z-index: 3;
	background-color: #bb1018;
	cursor: pointer;
	transition-duration: 200ms;
	transition-property: background-color;

	&:hover {
		background-color: #d00711;
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;

		/* -- */

		.phone-sms-button__text {
			opacity: 0.5;
		}
	}

	/* -- */

	&__text {}
}

.phone-sms-counter {
	@include phone-sms-button();

	z-index: 1;
	width: auto;
	right: 15px;
	text-align: right;
	color: #a5a5a5;
	background-color: #fff;
}

.phone-sms-input {
	z-index: 2;

	&.form-control--default.form-control--text {
		padding-right: $phone-sms-width + 5px + 4px;
	}
}

.phone-sms-counter {
	&__icon {
		$icon-width: 15px;
		$icon-height: 13px;

		display: inline-block;
		width: $icon-width;
		height: $icon-height;
		margin: 0 5px 0 0;
		vertical-align: middle;
		background-size: $icon-width $icon-height;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../images/ico-check-green-15x13.svg);
	}

	&__number {
		display: inline-block;
		vertical-align: middle;
	}
}