.pretty-control {
	&--gift {
		.pretty-control__item {
			$item-width: 18px;
			$item-height: 18px;

			position: relative;
			display: block;
			width: $item-width;
			height: $item-height;

			&:before,
			&:after {
				content: '';
				box-sizing: border-box;
				position: absolute;
				top: 50%;
				left: 50%;
				display: block;
				width: $item-width;
				height: $item-height;
				border-radius: 100%;
				transform: translate(-50%, -50%);
			}

			&:before {
				border: 1px solid #ba131a;
				opacity: 1;
			}

			&:after {
				background-color: $color-red;
				opacity: 0;
				transform: translate(-50%, -50%) scale(0.6);
			}
		}
	}
}