.pretty-control {
	&--gift {
		.pretty-control__item {
			$item-width: 21px;
			$item-height: 21px;

			position: relative;
			display: block;
			width: $item-width;
			height: $item-height;

			&:before,
			&:after {
				content: '';
				box-sizing: border-box;
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: $item-width;
				height: $item-height;
				transition-property: opacity;
				transition-duration: 200ms;
			}

			&:before {
				top: 1px;
				left: 1px;
				width: $item-width - 2px;
				height: $item-height - 2px;
				border-radius: 100%;
				border: 2px solid #ba131a;
				opacity: 1;
			}

			&:after {
				background-position: center;
				background-repeat: no-repeat;
				background-size: $item-width $item-height;
				background-image: url(../images/ico-check-circle-flat-red-20x20.svg);
				opacity: 0;
			}
		}
	}
}