<div class="delivery-geography js-delivery-geography-map-switch">
	<div class="dg-map">
		<div class="dg-map-switch dg-map-switch--0">
			<div class="dg-map-switch__row">
				<div class="dg-map-switch__col">
					<button type="button" class="dg-map-switch-button dg-map-switch-button--0"><span class="dg-map-switch-button__text">Днем</span></button>
				</div>
				<div class="dg-map-switch__col">
					<button type="button" class="dg-map-switch-toggle"></button>
				</div>
				<div class="dg-map-switch__col">
					<button type="button" class="dg-map-switch-button dg-map-switch-button--1"><span class="dg-map-switch-button__text">Ночью</span></button>
				</div>
			</div>
		</div>

		<div class="dg-map-content">
			<div class="dg-map-content__item dg-map-content__item--active">
				<img src="images/dev-delivery-geography-map-day.jpg" style="display: block; max-width: 100%;">
			</div>
			<div class="dg-map-content__item">
				<img src="images/dev-delivery-geography-map-night.jpg" style="display: block; max-width: 100%;">
			</div>
		</div>
	</div>
</div>