<footer class="footer footer--light-shadow">
	<div class="footer__container">
		<div class="footer__middle footer__middle--block">
			<div class="footer__row footer__row--col2-nc">
				<div class="footer__col footer__col--nav">
					<div class="f-nav f-nav--box-m1-1-2">
						<div class="f-nav__box f-nav__box--m1">
							<ul class="f-nav__list">
								<li class="f-nav__item">
									<a href="" class="f-nav__button">Рестораны</a>
								</li>
								<li class="f-nav__item">
									<a href="" class="f-nav__button">Условия бронирования</a>
								</li>
								<li class="f-nav__item">
									<a href="" class="f-nav__button">Вакансии</a>
								</li>
								<li class="f-nav__item">
									<a href="" class="f-nav__button">Банкетный зал</a>
								</li>
							</ul>
						</div>
						<div class="f-nav__box f-nav__box--m1">
							<ul class="f-nav__list">
								<li class="f-nav__item">
									<a href="" class="f-nav__button">Условия доставки</a>
								</li>
								<li class="f-nav__item">
									<a href="" class="f-nav__button">Бонусный клуб</a>
								</li>
								<li class="f-nav__item">
									<a href="" class="f-nav__button">Отзывы</a>
								</li>
								<li class="f-nav__item">
									<a href="" class="f-nav__button">Контакты</a>
								</li>
							</ul>
						</div>
						<div class="f-nav__box f-nav__box--m2">
							<ul class="f-nav__list f-nav__list--m2">
								<li class="f-nav__item">
									<a href="" class="f-nav__button">Франшиза</a>
								</li>
								<li class="f-nav__item">
									<a href="" class="f-nav__button">CloudPayments</a>
								</li>
								<li class="f-nav__item">
									<a href="" class="f-nav__button">Процессинговый центр</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footer__col footer__col--contact">
					<div class="f-contact">
						<div class="f-contact-phone" x-ms-format-detection="none">
							<span class="f-contact-phone__title">Доставка</span>
							<span class="f-contact-phone__num">+7 (343) 298 00 44</span>
						</div>
						<ul class="f-contact-time">
							<li class="f-contact-time__item">вс-чт с 10:00 до 23:00</li>
							<li class="f-contact-time__item">пт-сб с 10:00 до 24:00</li>
						</ul>
						<div class="f-contact-soc">
							<div class="f-soc">
								<a href="https://www.instagram.com/svoya_kompaniya_official/" class="f-soc__button f-soc__button--i"></a>
								<a href="https://www.facebook.com/SvoyaKompaniyaOfficial/" class="f-soc__button f-soc__button--f"></a>
								<a href="https://vk.com/sk_withlove" class="f-soc__button f-soc__button--v"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer__bottom footer__bottom--full">
			<div class="footer__info">
				<div class="footer__copy">
					© Своя компания, 2006−2017
				</div>
			</div>
		</div>
	</div>
</footer>