<style>
	.breadcrumbs a:after {
		top: 0;
	}
</style>

<!-- Шрифты -->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&amp;subset=cyrillic,latin-ext" rel="stylesheet">

<!-- Plugins Original Styles -->
<link href="css/vendor/photoswipe.css" type="text/css" rel="stylesheet">
<link href="css/vendor/photoswipe-default-skin/default-skin.css" type="text/css" rel="stylesheet">

<!-- Plugins Additional Styles -->
<link href="css/plugins.css" type="text/css" rel="stylesheet">

<!-- Layout Styles -->
<link href="css/layout.css" type="text/css" rel="stylesheet">
<link href="css/content.css" type="text/css" rel="stylesheet">
<link href="css/base.css" type="text/css" rel="stylesheet">
<link href="css/button.css" type="text/css" rel="stylesheet">
<link href="css/sktab.css" type="text/css" rel="stylesheet">
<link href="css/paginator-lt.css" type="text/css" rel="stylesheet">
<link href="css/bcards.css" type="text/css" rel="stylesheet">
<link href="css/count.css" type="text/css" rel="stylesheet">

<!-- Typography Styles -->
<link href="css/fonts.css" type="text/css" rel="stylesheet">
<link href="css/typography.css" type="text/css" rel="stylesheet">

<!-- Form Styles -->
<link href="css/form.css" type="text/css" rel="stylesheet">

<!-- Header Styles -->
<link href="css/header-v2.1.css" type="text/css" rel="stylesheet">

<link href="css/h-acc.css" type="text/css" rel="stylesheet">
<link href="css/header-v2.2-add.css" type="text/css" rel="stylesheet">

<!-- Footer Styles -->
<link href="css/f-soc.css" type="text/css" rel="stylesheet">
<link href="css/footer-contact.css" type="text/css" rel="stylesheet">

<link href="css/footer-v2-add.css" type="text/css" rel="stylesheet">
<link href="css/f-nav.css" type="text/css" rel="stylesheet">
<link href="css/f-contact.css" type="text/css" rel="stylesheet">