.crt2-action {
	&__content {
		&--default {
			&:after {
				content: '';
				display: block;
				clear: both;
				font-size: 1px;
			}

			& > p {
				line-height: 1.5;
				font-size: 17px;
			}
			
			.crt2-action__image {
				&--main {
					float: left;
					display: block;
					width: 120px;
					margin: 0 15px 15px 0;
					border-radius: 5px;
				}
			}
		}
	}
}