<form class="form form--lite c-login-form">
	<h1 class="c-login-title">Вход на сайт</h1>

	<div class="c-login-subtitle">
		<p>Если вы не зарегистрированы на сайте,<br>
			учетная запись будет создана автоматически</p>
	</div>

	<div class="c-login-group">
		<div class="c-login-group__row">
			<div class="c-login-group__col">
				<div class="form-group form-group--default">
					<label class="form-label form-label--default">Ваш телефон</label>
					<div class="form-control-group form-control-group--default phone-sms phone-sms--counter">
						<button type="button" class="phone-sms-button" disabled>
							<span class="phone-sms-button__text">Получить код</span>
						</button>
						<div class="phone-sms-counter">
							<span class="phone-sms-counter__icon"></span>
							<span class="phone-sms-counter__number">0:53</span>
						</div>
						<input type="text" class="form-control form-control--default form-control--text phone-sms-input">
					</div>
				</div>
			</div>

			<div class="c-login-group__col">
				<div class="form-group form-group--default">
					<label class="form-label form-label--default">Код из СМС</label>
					<div class="form-control-group form-control-group--default">
						<input type="text" class="form-control form-control--default form-control--text">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="c-login-group">
		<div class="c-login-group__row">
			<div class="c-login-group__col">
				<div class="form-group form-group--default">
					<label class="form-label form-label--default">Как вас зовут</label>
					<div class="form-control-group form-control-group--default">
						<input type="text" class="form-control form-control--default form-control--text">
					</div>
				</div>
			</div>

			<div class="c-login-group__col">
				<div class="form-group form-group--default">
					<label class="form-label form-label--default">Email</label>
					<div class="form-control-group form-control-group--default">
						<input type="text" class="form-control form-control--default form-control--text">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="c-login-action">
		<button type="submit" class="button button--default button--l c-login-action-btn" disabled>
			<span class="button__text">Войти</span>
		</button>
	</div>

	<div class="c-login-rules">
		<p>Нажимая кнопку "Войти", вы принимаете условия <a href="" class="c-login-rules-button">пользовательского соглашения</a></p>
	</div>
</form>

<div class="c-advantage c-advantage--c-login">
	<ul class="c-advantage__list">
		<li class="c-advantage__item c-advantage__item--bonuses">
			<div class="c-advantage__item-content">
				Копите бонусы и оплачивайте ими до 100% заказа
			</div>
		</li>
		<li class="c-advantage__item c-advantage__item--delivery">
			<div class="c-advantage__item-content">
				Сохраните адрес доставки, чтобы не указывать каждый раз
			</div>
		</li>
		<li class="c-advantage__item c-advantage__item--card">
			<div class="c-advantage__item-content">
				Добавьте банковскую карту для быстрой оплаты
			</div>			
		</li>
		<li class="c-advantage__item c-advantage__item--review">
			<div class="c-advantage__item-content">
				Оставляйте отзывы о доставке
			</div>			
		</li>
	</ul>
</div>