<div class="c-advantage c-advantage--c-login">
	<ul class="c-advantage__list">
		<li class="c-advantage__item c-advantage__item--bonuses">
			<div class="c-advantage__item-content">
				Копите бонусы и оплачивайте ими до 100% заказа
			</div>
		</li>
		<li class="c-advantage__item c-advantage__item--delivery">
			<div class="c-advantage__item-content">
				Сохраните адрес доставки, чтобы не указывать каждый раз
			</div>
		</li>
		<li class="c-advantage__item c-advantage__item--card">
			<div class="c-advantage__item-content">
				Добавьте банковскую карту для быстрой оплаты
			</div>			
		</li>
		<li class="c-advantage__item c-advantage__item--review">
			<div class="c-advantage__item-content">
				Оставляйте отзывы о доставке
			</div>			
		</li>
	</ul>
</div>