<div class="cht2-success">
	<div class="cht2-success__content">
		<span class="cht2-success__title">Большое спасибо за заказ!</span>
		<p>Номер вашего заказа № 711863.</p>
		<p>Звонок оператора или СМС-сообщение являются подтверждением того,
			что ваш заказ начали готовить.</p>
		<p>Если оператор не позвонил вам в течение 15 минут,
			свяжитесь с нами по телефону: 298 00 44.</p>
		<div class="cht2-success__redirect">
			Вы будете перенаправлены на главную страницу через 15 сек.
		</div>
		<div class="cht2-success__button-container">
			<button type="button" class="button button--default button--m button--border-radius-m">
				<span class="button__text">Перейти на главную</span>
			</button>
		</div>
	</div>
</div>