<!-- Корзина [new_content] -->
<div class="cht2-steps">
	<h1>Оформление заказа</h1>

	<ol class="order-steps order-steps--default cht2-steps__steps">
		<li class="order-steps__item">Корзина</li>
		<li class="order-steps__item order-steps__item--active">Оформление заказа</li>
	</ol>
</div>

<div class="crt2-content-wrapper crt2-content-wrapper--main">
	<div class="cht2-sections">
		<div class="cht2-section cht2-auth">
			<div class="cht2-section__header">
				<h2 class="ttl ttl--2 cht2-ttl cht2-section__ttl">1. Контактная информация</h2>
			</div>
			<div class="cht2-section__content">
				<div class="cht2-auth-subttl">
					Если вы не зарегистрированы на сайте,<br>
					учетная запись будет создана автоматически
				</div>

				<div class="form form--lite cht2-auth-form">
					<div class="cht2-auth-form__row">
						<div class="cht2-auth-form__col">
							<div class="form-group form-group--default form-group--margin-bottom">
								<label class="form-label form-label--default">Ваш телефон</label>
								<div class="form-control-group form-control-group--default">
									<button class="form-"></button>
									<input type="text" class="form-control form-control--default form-control--text">
								</div>
							</div>
						</div>
						<div class="cht2-auth-form__col">
							<div class="form-group form-group--default">
								<label class="form-label form-label--default">Код из СМС</label>
								<div class="form-control-group form-control-group--default">
									<input type="text" class="form-control form-control--default form-control--text">
								</div>
							</div>
						</div>
					</div>
					<div class="cht2-auth-form__row">
						<div class="cht2-auth-form__col">
							<div class="form-group form-group--default form-group--margin-bottom">
								<label class="form-label form-label--default">Как вас зовут</label>
								<div class="form-control-group form-control-group--default">
									<input type="text" class="form-control form-control--default form-control--text">
								</div>
							</div>
						</div>
						<div class="cht2-auth-form__col">
							<div class="form-group form-group--default">
								<label class="form-label form-label--default">Email</label>
								<div class="form-control-group form-control-group--default">
									<input type="text" class="form-control form-control--default form-control--text">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cht2-section cht2-shipping cht2-section--disable">
			<div class="cht2-section__header">
				<h2 class="ttl ttl--2 cht2-ttl cht2-section__ttl">2. Способ получения</h2>
			</div>
			<div class="cht2-section__content">
				
				<div class="sktab cht2-shipping-tab">
					<ul class="sktab-nav">
						<li class="sktab-nav__item">
							<button class="sktab-nav__button">Доставка</button>
						</li>
						<li class="sktab-nav__item">
							<button class="sktab-nav__button">Самовывоз</button>
						</li>
					</ul>

					<div class="sktab-content">
						<div class="sktab-content__item">
							<div class="form form--lite cht2-delivery-form">
								<div class="cht2-delivery-address-list">
									<div class="cht2-delivery-address-list__row">
										<div class="cht2-delivery-address-list__col cht2-delivery-address-list__col--list">
											<select>
												<option>Option 1</option>
												<option>Option 2</option>
												<option>Option 3</option>
											</select>
										</div>
										<div class="cht2-delivery-address-list__col">
											<button type="button">+</button>
										</div>
									</div>
								</div>
								
								<div class="cht2-delivery-address">
									<div class="cht2-delivery-address__row">
										<div class="cht2-delivery-address__col">
											<div class="form-group form-group--default">
												<label class="form-label form-label--default">Улица</label>
												<div class="form-control-group form-control-group--default">
													<input type="text" class="form-control form-control--default form-control--text">
												</div>
											</div>
										</div>

										<div class="cht2-delivery-address__col">
											<div class="form-group form-group--default">
												<label class="form-label form-label--default">Дом</label>
												<div class="form-control-group form-control-group--default">
													<input type="text" class="form-control form-control--default form-control--text">
												</div>
											</div>
										</div>

										<div class="cht2-delivery-address__col">
											<div class="form-group form-group--default">
												<label class="form-label form-label--default">Подъезд</label>
												<div class="form-control-group form-control-group--default">
													<input type="text" class="form-control form-control--default form-control--text">
												</div>
											</div>
										</div>

										<div class="cht2-delivery-address__col">
											<div class="form-group form-group--default">
												<label class="form-label form-label--default">Квартира</label>
												<div class="form-control-group form-control-group--default">
													<input type="text" class="form-control form-control--default form-control--text">
												</div>
											</div>
										</div>

										<div class="cht2-delivery-address__col">
											<div class="form-group form-group--default">
												<label class="form-label form-label--default">Этаж</label>
												<div class="form-control-group form-control-group--default">
													<input type="text" class="form-control form-control--default form-control--text">
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="cht2-delivery-date">
									<div class="cht2-delivery-date__row">
										<div class="cht2-delivery-date__col">
											<div class="form-group form-group--default">
												<label class="form-label form-label--default">Date</label>
												<div class="form-control-group form-control-group--default">
													<input type="text" class="control control--text control--default">
												</div>
											</div>
										</div>
										<div class="cht2-delivery-date__col">
											<div class="form-group form-group--default">
												<label class="form-label form-label--default">Time</label>
												<div class="form-control-group form-control-group--default">
													<input type="text" class="control control--text control--default">
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="cht2-delivery-comment">
									<div class="form-group form-group--default">
										<label class="form-label form-label--default"></label>
										<div class="form-control-group form-control-group--default">
											<input type="text" class="control control--text control--default">
										</div>
									</div>
								</div>
							</div>							
						</div>
						<div class="sktab-content__item">
							<div class="form form--lite cht2-pickup-form">
								<div class="cht2-pickup-address-list">
									<div class="cht2-pickup-address-list__row">
										<div class="cht2-pickup-address-list__col">
											<select>
												<option>Option 1</option>
												<option>Option 2</option>
												<option>Option 3</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cht2-section cht2-payment cht2-section--disable">
			<div class="cht2-section__header">
				<h2 class="ttl ttl--2 cht2-ttl cht2-section__ttl">3. Оплата и бонусы</h2>
			</div>
			<div class="cht2-section__content">
				<div class="cht2-bonus">
					<div class="cht2-bonus-info">
						<div class="cht2-bonus-info__title">
							Для вас будет создан виртуальный бонусный счет с начислениями 3% от заказа.
						</div>
						<p>Бонусы будут доступны на следующем заказе.</p>
					</div>
					<div class="cht2-bonus-stat">
						<div class="cht2-bonus-total">
							<div class="cht2-bonus-total__row">
								<div class="cht2-bonus-total__col">
									Сумма заказа: 3400 ₽
								</div>
								<div class="cht2-bonus-total__col">
									Мои бонусы: 540
									<span class="cht2-bonus-total__info-rate">(1 бонус = 1 рубль)</span>
								</div>
							</div>
						</div>
						
						<div class="form form--lite cht2-bonus-form">
							<div class="form-group form-group--default">
								<label class="form-label form-label--default">Использовать бонусы:</label>
								<div class="form-control-group form-control-group--default">
									<input type="text" class="form-control form-control--text form-control--default">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cht2-summary">
					<div class="cht2-summary-total">
						К оплате: 2860 ₽
					</div>
					<div class="cht2-summary-bonus">
						Бонусы: <span class="cht2-summary-bonus__number">+50</span>
					</div>
				</div>

				<div class="sktab">
					<ul class="sktab-nav">
						<li class="sktab-nav__item">
							<button class="sktab-nav__button">При получении</button>
						</li>
						<li class="sktab-nav__item">
							<button class="sktab-nav__button">Оплата картой</button>
						</li>
						<li class="sktab-nav__item">
							<button class="sktab-nav__button">G Pay</button>
						</li>
					</ul>
					<div class="sktab-content">
						<div class="sktab-content__item">
							<div class="form form--lite cht2-cod-form">
								
								<div class="cht2-cod-types">
									<label>Картой или наличными</label>
									<select>
										<option>Картой</option>
										<option selected>Наличными</option>
									</select>
								</div>

								<div class="cht2-cod-cash">
									<label>Сдача с</label>
									<div class="form-control-group form-control-group--default">
										<input type="text">
									</div>
								</div>
							</div>
						</div>
						<div class="sktab-content__item">
							<div class="cht2-card">

							</div>
						</div>
						<div class="sktab-content__item">
							<div class="cht2-googlepay">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>