<header class="header-v2">
	<div class="header-v2__container">
		<div class="h-main">
			<div class="h-main__content">
				<button class="h-menu-toggle">
						<span></span>
						<span></span>
						<span></span>
				</button>
				<a href="#" class="h-logo">
					<img class="h-logo__img" src="images/logo-sk-100x100.svg" width="100" height="100" alt="Своя Компания" >
				</a>
				<div class="h-main-c">
					<div class="h-main-c__top">
						<div class="h-city">
							<div class="h-city__toggle">Екатеринбург</div>
							<ul class="h-city__list">
								<li class="h-city__item">
									<span class="h-city__text">Екатеринбург</span>
								</li>
								<li class="h-city__item">
									<a href="#" class="h-city__button">Верхняя Пышма</a>
								</li>
								<li class="h-city__item">
									<a href="#" class="h-city__button">Уфа</a>
								</li>
								<li class="h-city__item">
									<a href="#" class="h-city__button">Нижний Тагил</a>
								</li>
								<li class="h-city__item">
									<a href="#" class="h-city__button">Челябинск</a>
								</li>
								<li class="h-city__item">
									<a href="#" class="h-city__button">Тюмень</a>
								</li>
								<li class="h-city__item">
									<a href="#" class="h-city__button">Новосибирск</a>
								</li>
								<li class="h-city__item">
									<a href="#" class="h-city__button">Москва</a>
								</li>
							</ul>
						</div>
						<div class="h-phone">
							<span class="h-phone__title">доставка</span>
							<span class="h-phone__num"><span class="h-phone__num-code">+7 (343)</span>298-00-44</span>
						</div>
					</div>
					<div class="h-main-c__bottom">
						<div class="h-nav">

							<div class="h-nav__bonus">
								<button type="button" class="h-nav-bonus">
									<div class="h-nav-bonus__total">
										
										<!-- С прелоадером -->
										<!--
										<span class="h-nav-bonus__total-spinner"></span><span class="h-nav-bonus__total-text">бонусных рублей</span>
										-->
										
										<!-- С количеством -->
										<span class="h-nav-bonus__total-badge">375</span><span class="h-nav-bonus__total-text">бонусных рублей</span>

									</div>
									<span class="h-nav-bonus__qr">Показать QR-код карты</span>
								</button>
							</div>

							<div class="h-nav__phone">
								<a href="tel:8-343-298-00-44" class="h-nav-phone">
									<span class="h-nav-phone__title">Телефон доставки</span>
									<span class="h-nav-phone__num">+7 (343)298-00-44</span>
								</a>
							</div>
							
							<nav class="h-nav-l1__list">
								<li class="h-nav-l1__item">
									<a href="#" class="h-nav-l1__button">Меню</a>
								</li>
								<li class="h-nav-l1__item">
									<a href="#" class="h-nav-l1__button">Доставка</a>
								</li>
								<li class="h-nav-l1__item">
									<a href="#" class="h-nav-l1__button">Рестораны</a>
								</li>
								<li class="h-nav-l1__item">
									<a href="#" class="h-nav-l1__button">Банкеты</a>
								</li>
								<li class="h-nav-l1__item">
									<a href="#" class="h-nav-l1__button">Бронирование</a>
								</li>
								<li class="h-nav-l1__item">
									<a href="#" class="h-nav-l1__button">Контакты</a>
								</li>
								<li class="h-nav-l1__item">
									<a href="#" class="h-nav-l1__button">Франшиза</a>
								</li>
								<li class="h-nav-l1__item h-nav-l1__item--has-subnav">
									<a href="#" class="h-nav-l1__button">Информация</a>
									<div class="h-nav-l2">
										<span class="h-nav-l2__title">Информация</span>
										<ul class="h-nav-l2__list">
											<li class="h-nav-l2__item">
												<a href="#" class="h-nav-l2__button">Вакансии</a>
											</li>
											<li class="h-nav-l2__item">
												<a href="#" class="h-nav-l2__button">Отзывы</a>
											</li>
											<li class="h-nav-l2__item">
												<a href="#" class="h-nav-l2__button">Бонусный клуб</a>
											</li>
											<li class="h-nav-l2__item">
												<a href="#" class="h-nav-l2__button">Личный кабинет</a>
											</li>
										</ul>
									</div>
								</li>
							</nav>
						</div>
						
						<!-- Пустая корзина: .h-acc.h-acc--empty -->
						<div class="h-acc js-h-acc-toggle">
							<a href="" class="h-acc-button-mobile"></a>
							<button class="h-acc-toggle">
								<span class="h-acc-toggle__icon"></span>
								<span class="h-acc-toggle__text">Кабинет</span>
							</button>
							<div class="h-acc-dd">
								<ul class="h-acc-dd__list">
									
									<!-- Неавторизованный пользователь (start) -->
									<!--
									<li class="h-acc-dd__item h-acc-dd__item--user">
										<div class="h-acc-dd-user">
											<a href="" class="h-acc-dd-user__login">Войти</a>
										</div>
									</li>
									<li class="h-acc-dd__item h-acc-dd__item--bonus">
										<div class="h-acc-dd-bonus h-acc-dd-bonus--unauthorized">
											<div class="h-acc-dd-bonus__total">
												<span class="h-acc-dd-bonus__total-badge">375</span><span class="h-acc-dd-bonus__total-text">Бонусных рублей</span>
											</div>
											<button type="button" class="h-acc-dd-bonus__button">
												<span class="h-acc-dd-bonus__qr">Показать QR-код карты</span>
											</button>
										</div>
									</li>
									-->
									<!-- (end) Неавторизованный пользователь -->

									<!-- Авторизованный пользователь (start) -->
									<li class="h-acc-dd__item h-acc-dd__item--user">
										<div class="h-acc-dd-user">
											<span class="h-acc-dd-user__name">Иван Иванович</span>
											<a href="" class="h-acc-dd-user__logout">Выход</a>
										</div>
									</li>
									<li class="h-acc-dd__item h-acc-dd__item--bonus">
										<div class="h-acc-dd-bonus">
											<div class="h-acc-dd-bonus__total">
												
												<!-- С прелоадером: -->
												<!--
												<span class="h-acc-dd-bonus__total-spinner"></span><span class="h-acc-dd-bonus__total-text">бонусных рублей</span>
												-->

												<!-- С количеством: -->
												<span class="h-acc-dd-bonus__total-badge">375</span><span class="h-acc-dd-bonus__total-text">бонусных рублей</span>
											
											</div>
											<button type="button" class="h-acc-dd-bonus__button">
												<span class="h-acc-dd-bonus__qr">Показать QR-код карты</span>
											</button>
										</div>
									</li>									
									<!-- (end) Авторизованный пользователь -->

									<li class="h-acc-dd__item h-acc-dd__item--profile">
										<a href="" class="h-acc-dd__btn">
											<span class="h-acc-dd__icon"></span>
											<span class="h-acc-dd__text">Личные данные</span>
										</a>
									</li>
									<li class="h-acc-dd__item h-acc-dd__item--card">
										<a href="" class="h-acc-dd__btn">
											<span class="h-acc-dd__icon"></span>
											<span class="h-acc-dd__text">Банковские карты</span>
										</a>
									</li>
									<li class="h-acc-dd__item h-acc-dd__item--bonuses">
										<a href="" class="h-acc-dd__btn">
											<span class="h-acc-dd__icon"></span>
											<span class="h-acc-dd__text">Бонусная карта</span>
										</a>
									</li>
									<li class="h-acc-dd__item h-acc-dd__item--history">
										<a href="" class="h-acc-dd__btn">
											<span class="h-acc-dd__icon"></span>
											<span class="h-acc-dd__text">История заказов</span>
										</a>
									</li>
									<li class="h-acc-dd__item h-acc-dd__item--addresses">
										<a href="" class="h-acc-dd__btn">
											<span class="h-acc-dd__icon"></span>
											<span class="h-acc-dd__text">Адреса</span>
										</a>
									</li>
									<li class="h-acc-dd__item h-acc-dd__item--notifications">
										<a href="" class="h-acc-dd__btn">
											<span class="h-acc-dd__icon"></span>
											<span class="h-acc-dd__text">Уведомления</span>
										</a>
									</li>
								</ul>
							</div>
						</div>

						<!-- end Account -->
					
					</div>
				</div>
				<a href="#" class="h-cart">
					<!-- h-cart -->

					<span class="h-cart__icon">
						<span class="h-cart__icon-value">42</span>
					</span>
					
					<span class="h-cart__price">251 560 ₽</span>

					<!-- end h-cart -->
				</a>
			</div>
		</div>
		<!-- <div class="h-menu">
			<div class="h-menu__content">
				<ul class="h-menu-l1">
					<li>
						<a href="#"><span>Итальянское меню</span></a>
					</li>
					<li>
						<a href="#"><span>Роллы</span></a>
					</li>
					<li>
						<a href="#"><span>Сеты</span></a>
					</li>
					<li>
						<a href="#"><span>Бизнес-ланчи</span></a>
					</li>
					<li>
						<a href="#"><span>Супы</span></a>
					</li>
					<li>
						<a href="#"><span>Салаты</span></a>
					</li>
					<li>
						<a href="#"><span>Горячее</span></a>
					</li>
					<li>
						<a href="#"><span>Пицца</span></a>
					</li>
					<li>
						<a href="#"><span>Закуски</span></a>
					</li>
					<li>
						<a href="#"><span>Десерты</span></a>
					</li>
					<li>
						<a href="#"><span>Напитки</span></a>
					</li>
					<li>
						<a href="#"><span>Хлеб</span></a>
					</li>
					<li class="h-menu__more">
						<a><span>Еще</span></a>
						<ul class="h-menu-l2">
							<li>
								<a href="#"><span>Банкетное меню</span></a>
							</li>
							<li>
								<a href="#"><span>Вегетарианское меню</span></a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div> -->

		<div class="h-menu-v2 js-h-menu-v2-more">
			<div class="h-menu-v2__content">
				<div class="h-menu-v2-box">
					<div class="h-menu-v2-main">
						<div class="h-menu-v2-main__scroll-wrapper">
							<div class="h-menu-v2-main__scroll">
								<div class="h-menu-v2-main__scroll-content">
									<ul class="h-menu-v2-main__list">
										<li class="h-menu-v2-item">
											<a href="" class="h-menu-v2-item__button"><span class="h-menu-v2-item__button-text">Фитнес меню</span></a>
										</li>
										<li class="h-menu-v2-item">
											<a href="" class="h-menu-v2-item__button"><span class="h-menu-v2-item__button-text">Роллы</span></a>
										</li>
										<li class="h-menu-v2-item">
											<a href="" class="h-menu-v2-item__button"><span class="h-menu-v2-item__button-text">Сеты</span></a>
										</li>
										<li class="h-menu-v2-item">
											<a href="" class="h-menu-v2-item__button"><span class="h-menu-v2-item__button-text">Бизнес-ланчи</span></a>
										</li>
										<li class="h-menu-v2-item">
											<a href="" class="h-menu-v2-item__button"><span class="h-menu-v2-item__button-text">Супы</span></a>
										</li>
										<li class="h-menu-v2-item">
											<a href="" class="h-menu-v2-item__button"><span class="h-menu-v2-item__button-text">Салаты</span></a>
										</li>
										<li class="h-menu-v2-item">
											<a href="" class="h-menu-v2-item__button"><span class="h-menu-v2-item__button-text">Горячее</span></a>
										</li>
										<li class="h-menu-v2-item">
											<a href="" class="h-menu-v2-item__button"><span class="h-menu-v2-item__button-text">Пицца</span></a>
										</li>
										<li class="h-menu-v2-item">
											<a href="" class="h-menu-v2-item__button"><span class="h-menu-v2-item__button-text">Закуски</span></a>
										</li>
										<li class="h-menu-v2-item">
											<a href="" class="h-menu-v2-item__button"><span class="h-menu-v2-item__button-text">VEG</span></a>
										</li>
										<li class="h-menu-v2-item">
											<a href="" class="h-menu-v2-item__button"><span class="h-menu-v2-item__button-text">Десерты</span></a>
										</li>
										<li class="h-menu-v2-item">
											<a href="" class="h-menu-v2-item__button"><span class="h-menu-v2-item__button-text">Напитки</span></a>
										</li>
										<li class="h-menu-v2-item">
											<a href="" class="h-menu-v2-item__button"><span class="h-menu-v2-item__button-text">Хлеб</span></a>
										</li>
										<li class="h-menu-v2-item">
											<a href="" class="h-menu-v2-item__button"><span class="h-menu-v2-item__button-text">Детское меню</span></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="h-menu-v2-more">
						<button type="button" class="h-menu-v2-more__toggle"><span class="h-menu-v2-more__toggle-text">Еще</span></button>
						<div class="h-menu-v2-more__dropdown">
							<div class="h-menu-v2-more__list">
								<li class="h-menu-v2-item h-menu-v2-item--hidden">
									<a href="" class="h-menu-v2-item__button"><span class="h-menu-v2-item__button-text">Фитнес меню</span></a>
								</li>
								<li class="h-menu-v2-item h-menu-v2-item--hidden">
									<a href="" class="h-menu-v2-item__button"><span class="h-menu-v2-item__button-text">Роллы</span></a>
								</li>
								<li class="h-menu-v2-item h-menu-v2-item--hidden">
									<a href="" class="h-menu-v2-item__button"><span class="h-menu-v2-item__button-text">Сеты</span></a>
								</li>
								<li class="h-menu-v2-item h-menu-v2-item--hidden">
									<a href="" class="h-menu-v2-item__button"><span class="h-menu-v2-item__button-text">Бизнес-ланчи</span></a>
								</li>
								<li class="h-menu-v2-item h-menu-v2-item--hidden">
									<a href="" class="h-menu-v2-item__button"><span class="h-menu-v2-item__button-text">Супы</span></a>
								</li>
								<li class="h-menu-v2-item h-menu-v2-item--hidden">
									<a href="" class="h-menu-v2-item__button"><span class="h-menu-v2-item__button-text">Салаты</span></a>
								</li>
								<li class="h-menu-v2-item h-menu-v2-item--hidden">
									<a href="" class="h-menu-v2-item__button"><span class="h-menu-v2-item__button-text">Горячее</span></a>
								</li>
								<li class="h-menu-v2-item h-menu-v2-item--hidden">
									<a href="" class="h-menu-v2-item__button"><span class="h-menu-v2-item__button-text">Пицца</span></a>
								</li>
								<li class="h-menu-v2-item h-menu-v2-item--hidden">
									<a href="" class="h-menu-v2-item__button"><span class="h-menu-v2-item__button-text">Закуски</span></a>
								</li>
								<li class="h-menu-v2-item h-menu-v2-item--hidden">
									<a href="" class="h-menu-v2-item__button"><span class="h-menu-v2-item__button-text">VEG</span></a>
								</li>
								<li class="h-menu-v2-item h-menu-v2-item--hidden">
									<a href="" class="h-menu-v2-item__button"><span class="h-menu-v2-item__button-text">Десерты</span></a>
								</li>
								<li class="h-menu-v2-item h-menu-v2-item--hidden">
									<a href="" class="h-menu-v2-item__button"><span class="h-menu-v2-item__button-text">Напитки</span></a>
								</li>
								<li class="h-menu-v2-item h-menu-v2-item--hidden">
									<a href="" class="h-menu-v2-item__button"><span class="h-menu-v2-item__button-text">Хлеб</span></a>
								</li>
								<li class="h-menu-v2-item h-menu-v2-item--hidden">
									<a href="" class="h-menu-v2-item__button"><span class="h-menu-v2-item__button-text">Детское меню</span></a>
								</li>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</header>