<section class="dishes dishes--short">
	<div id="dishes__list" class="dishes__list">

		<div id="45450" class="dishes__item dish js-card_wrapper">
			<a id="fav_45450" data-favorite="45450" href="javascript://" class="dish__favorite"></a>

			<a data-prod="45450" href="javascript://" class="dish__image">

				<img class="lazy" src="images/business-lunch-item.png" data-original="/upload/resize_cache/iblock/461/340_228_175511db9cefbc414a902a46f1b8fae16/4616202e050e2a51788ab22f5920be00.png"
				 width="" height="" alt="Бизнес-ланчи Салат/роллы, суп, напиток" title="Бизнес-ланчиСалат/роллы, суп, напиток">

				<div class="dish__labels">
					<div><span class="dish__label" style="background-color:#f05d86">Европейский</span></div>
				</div>
			</a>

			<div class="dish__content">
				<div class="dish__description item-info">
					<h3 class="item-info__title">
						<a data-prod=45450 href="javascript://">
							Салат/роллы, суп, напиток
						</a>
					</h3>

					<div class="item-info__price-mobile">
						<span class="js-price">229</span> <span class="rub">р</span>
					</div>

				</div>

				<footer class="dish__footer">

					<div class="dish__price">
						<span class="js-price" data-element="45450">229</span>&nbsp;<span class="rub">р</span>
					</div>

					<div class="dish__controls">
						<a class="button button--small lanch_popup" data-no_siblings="true" data-prod="45450" href="javascript://">
							<span class="button__ico button__ico--lanch"></span>
							<span class="button__text"> Посмотреть</span>
						</a>
					</div>
				</footer>
			</div>
		</div>

		<div id="45451" class="dishes__item dish js-card_wrapper">
			<a id="fav_45451" data-favorite="45451" href="javascript://" class="dish__favorite"></a>

			<a data-prod="45451" href="javascript://" class="dish__image">

				<img class="lazy" src="images/business-lunch-item.png" data-original="/upload/resize_cache/iblock/fe5/340_228_175511db9cefbc414a902a46f1b8fae16/fe595efffaab1aea9cf6e86e54ee4517.png"
				 width="" height="" alt="Бизнес-ланчи Салат/роллы, горячее, напиток" title="Бизнес-ланчиСалат/роллы, горячее, напиток">

				<div class="dish__labels">
					<div><span class="dish__label" style="background-color:#f05d86">Европейский</span></div>
				</div>
			</a>

			<div class="dish__content">


				<div class="dish__description item-info">
					<h3 class="item-info__title">
						<a data-prod=45451 href="javascript://">
							Салат/роллы, горячее, напиток
						</a>
					</h3>

					<div class="item-info__price-mobile">
						<span class="js-price">259</span> <span class="rub">р</span>
					</div>

				</div>

				<footer class="dish__footer">

					<div class="dish__price">
						<span class="js-price" data-element="45451">259</span>&nbsp;<span class="rub">р</span>
					</div>

					<div class="dish__controls">
						<a class="button button--small lanch_popup" data-no_siblings="true" data-prod="45451" href="javascript://">
							<span class="button__ico button__ico--lanch"></span>
							<span class="button__text"> Посмотреть</span>
						</a>
					</div>
				</footer>
			</div>
		</div>

		<div id="45452" class="dishes__item dish js-card_wrapper">
			<a id="fav_45452" data-favorite="45452" href="javascript://" class="dish__favorite"></a>

			<a data-prod="45452" href="javascript://" class="dish__image">

				<img class="lazy" src="images/business-lunch-item.png" data-original="/upload/resize_cache/iblock/41d/340_228_175511db9cefbc414a902a46f1b8fae16/41d7674edb500c4bdd4e3ce7855ddeec.png"
				 width="" height="" alt="Бизнес-ланчи Суп, горячее, напиток" title="Бизнес-ланчиСуп, горячее, напиток">

				<div class="dish__labels">
					<div><span class="dish__label" style="background-color:#f05d86">Европейский</span></div>
				</div>
			</a>

			<div class="dish__content">


				<div class="dish__description item-info">
					<h3 class="item-info__title">
						<a data-prod=45452 href="javascript://">
							Суп, горячее, напиток
						</a>
					</h3>

					<div class="item-info__price-mobile">
						<span class="js-price">259</span> <span class="rub">р</span>
					</div>

				</div>

				<footer class="dish__footer">

					<div class="dish__price">
						<span class="js-price" data-element="45452">259</span>&nbsp;<span class="rub">р</span>
					</div>

					<div class="dish__controls">
						<a class="button button--small lanch_popup" data-no_siblings="true" data-prod="45452" href="javascript://">
							<span class="button__ico button__ico--lanch"></span>
							<span class="button__text"> Посмотреть</span>
						</a>
					</div>
				</footer>
			</div>
		</div>

		<div id="45449" class="dishes__item dish js-card_wrapper">
			<a id="fav_45449" data-favorite="45449" href="javascript://" class="dish__favorite"></a>

			<a data-prod="45449" href="javascript://" class="dish__image">

				<img class="lazy" src="images/business-lunch-item.png" data-original="/upload/resize_cache/iblock/3d4/340_228_175511db9cefbc414a902a46f1b8fae16/3d43ec1f44e8bd5d555ef995f552b35e.png"
				 width="" height="" alt="Бизнес-ланчи Салат/роллы, суп, горячее, напиток" title="Бизнес-ланчиСалат/роллы, суп, горячее, напиток">

				<div class="dish__labels">
					<div><span class="dish__label" style="background-color:#f05d86">Европейский</span></div>
				</div>
			</a>

			<div class="dish__content">


				<div class="dish__description item-info">
					<h3 class="item-info__title">
						<a data-prod=45449 href="javascript://">
							Салат/роллы, суп, горячее, напиток
						</a>
					</h3>

					<div class="item-info__price-mobile">
						<span class="js-price">289</span> <span class="rub">р</span>
					</div>

				</div>

				<footer class="dish__footer">

					<div class="dish__price">
						<span class="js-price" data-element="45449">289</span>&nbsp;<span class="rub">р</span>
					</div>

					<div class="dish__controls">
						<a class="button button--small lanch_popup" data-no_siblings="true" data-prod="45449" href="javascript://">
							<span class="button__ico button__ico--lanch"></span>
							<span class="button__text"> Посмотреть</span>
						</a>
					</div>
				</footer>
			</div>
		</div>

	</div>

</section>