<!-- Карточка товара -->
<div class="popup-page" id="card" style="display: block;">
	<div class="popup-page__out">
		<div class="popup-page__in">
			<div class="popup-page__content popup-page__content--business">
				<div class="popup-page__close"></div>
				<section class="business">
					<form id="lanchform" name="laucnhform" method="post">
						<input name="product_id" type="hidden" id="product_id" value="45450">
						<input name="city" type="hidden" id="city" value="ekaterinburg">

						<div class="business-section">
							<h2>Салат или роллы</h2>


							<label class="business-item">
								<input data-price="0" class="radio" type="radio" name="salad" value="44696" checked="checked">
								<div class="business-item__title">
									Роллы </div>
								<div class="business-item__text">
									Ролл греческий: сыр фета, огурец, болгарский перец, томат, укроп<br>Филадельфия с лососем: лосось, сливочный
									сыр, салат айсберг, зеленый лук (120&nbsp;гр)</div>
							</label>
							<label class="business-item">
								<input data-price="0" class="radio" type="radio" name="salad" value="45921">
								<div class="business-item__title">
									Овощной </div>
								<div class="business-item__text">
									огурец, томаты, болгарский перец, сельдерей, красный лук, зернистая горчица, кунжут, рисовый уксус,
									крем-бальзамик (150&nbsp;гр) 1,8/1,2/5,8 - 44 ккал</div>
							</label>
							<label class="business-item">
								<input data-price="0" class="radio" type="radio" name="salad" value="45927">
								<div class="business-item__title">
									С куриной печенью и соусом терияки </div>
								<div class="business-item__text">
									куриная печень, огурец, болгарский перец, морковь, салатная основа, зелень, кунжут, крахмал, соус терияки
									(150&nbsp;гр) 11,3/14,2/12,1 - 223 ккал</div>
							</label>
							<label class="business-item">
								<input data-price="0" class="radio" type="radio" name="salad" value="45934">
								<div class="business-item__title">
									Сельдь под шубой </div>
								<div class="business-item__text">
									слабосоленая сельдь, картофель, свекла, морковь, красный лук, хлебный чипс, майонез, зелень (150&nbsp;гр)
									6,3/20,7/9,1 - 251 ккал</div>
							</label>
							<label class="business-item">
								<input data-price="0" class="radio" type="radio" name="salad" value="45940">
								<div class="business-item__title">
									Блинный с ветчиной </div>
								<div class="business-item__text">
									ветчина, блины, томаты, огурец, помидорки черри, хлебный чипс, майонез, зелень (150&nbsp;гр) 7,1/10,9/14,3 -
									187 ккал</div>
							</label>
						</div><!-- business section -->


						<div class="business-section">
							<h2>Суп</h2>


							<label class="business-item">
								<input data-price="0" class="radio" type="radio" name="soup" value="45946" checked="checked">
								<div class="business-item__title">
									Солянка с колбасой </div>
								<div class="business-item__text">
									полукопченая колбаса, варено-копченый окорок, картофель, маринованные огурцы, репчатый лук, перец халапеньо,
									маслины, лимон, томатная паста, сметана, зелень (250&nbsp;гр) 4,7/15,3/6 - 182 ккал</div>
							</label>
							<label class="business-item">
								<input data-price="0" class="radio" type="radio" name="soup" value="45952">
								<div class="business-item__title">
									Суп-пюре с беконом </div>
								<div class="business-item__text">
									бекон, картофель, репчатый лук, сливки, гренки (250&nbsp;гр)</div>
							</label>
							<label class="business-item">
								<input data-price="0" class="radio" type="radio" name="soup" value="45958">
								<div class="business-item__title">
									Уха </div>
								<div class="business-item__text">
									рыбный бульон, филе минтая, картофель, морковь, репчатый лук, зелень, лавровый лист (250&nbsp;гр)</div>
							</label>
							<label class="business-item">
								<input data-price="0" class="radio" type="radio" name="soup" value="45964">
								<div class="business-item__title">
									Грибной </div>
								<div class="business-item__text">
									грибной бульон, шампиньоны, лесные грибы, картофель, репчатый лук, сметана, зелень (250&nbsp;гр)</div>
							</label>
						</div><!-- business section -->


						<div class="business-section">
							<h2>Напитки</h2>
							<label class="business-item">
								<input data-price="0" class="radio" type="radio" name="drink" value="59" checked="checked">
								<div class="business-item__title">
									Эспрессо </div>
								<div class="business-item__text">
								</div>
							</label>
							<label class="business-item">
								<input data-price="0" class="radio" type="radio" name="drink" value="60">
								<div class="business-item__title">
									Американо с молоком </div>
								<div class="business-item__text">
								</div>
							</label>
							<label class="business-item">
								<input data-price="0" class="radio" type="radio" name="drink" value="696">
								<div class="business-item__title">
									Какао </div>
								<div class="business-item__text">
								</div>
							</label>
							<label class="business-item">
								<input data-price="0" class="radio" type="radio" name="drink" value="689">
								<div class="business-item__title">
									Черный чай </div>
								<div class="business-item__text">
								</div>
							</label>
							<label class="business-item">
								<input data-price="0" class="radio" type="radio" name="drink" value="690">
								<div class="business-item__title">
									Зеленый чай </div>
								<div class="business-item__text">
								</div>
							</label>
							<label class="business-item">
								<input data-price="0" class="radio" type="radio" name="drink" value="691">
								<div class="business-item__title">
									Фруктовый чай </div>
								<div class="business-item__text">
								</div>
							</label>
							<label class="business-item">
								<input data-price="0" class="radio" type="radio" name="drink" value="62">
								<div class="business-item__title">
									Морс натуральный </div>
								<div class="business-item__text">
								</div>
							</label>
							<label class="business-item">
								<input data-price="0" class="radio" type="radio" name="drink" value="61">
								<div class="business-item__title">
									Томатный сок </div>
								<div class="business-item__text">
								</div>
							</label>
							<label class="business-item">
								<input data-price="0" class="radio" type="radio" name="drink" value="693">
								<div class="business-item__title">
									Апельсиновый сок </div>
								<div class="business-item__text">
								</div>
							</label>
							<label class="business-item">
								<input data-price="0" class="radio" type="radio" name="drink" value="692">
								<div class="business-item__title">
									Яблочный сок </div>
								<div class="business-item__text">
								</div>
							</label>
							<label class="business-item">
								<input data-price="0" class="radio" type="radio" name="drink" value="694">
								<div class="business-item__title">
									Персиковый сок </div>
								<div class="business-item__text">
								</div>
							</label>
						</div><!-- business section -->

						<div class="business-section">
							<h2>Десерт</h2>

							<label class="business-item">
								<input data-price="0" class="radio" type="radio" name="dessert" value="" checked="checked">
								<div class="business-item__title">
									Нет
								</div>
							</label>

							<label class="business-item">
								<input data-price="89" class="radio" type="radio" name="dessert" value="45152">
								<div class="business-item__title">
									Блинчики под апельсиновым соусом </div>
								<div class="business-item__price">
									<div>89 <span class="rub">р</span></div>
								</div>
								<div class="business-item__text">
									блинчики, апельсиновый соус, шоколадный топпинг, сахарная пудра, мята (125&nbsp;гр)</div>
							</label>
							<label class="business-item">
								<input data-price="79" class="radio" type="radio" name="dessert" value="45618">
								<div class="business-item__title">
									Красный бархат мини </div>
								<div class="business-item__price">
									<div>79 <span class="rub">р</span></div>
								</div>
								<div class="business-item__text">
									бисквит, сливочный крем, клюквенный конфитюр, сахарная пудра, мята (85&nbsp;гр)</div>
							</label>

							<div class="business-section">
								<h2>Хлеб</h2>
								<label class="business-item">
									<input data-price="0" class="radio" type="radio" name="bread" value="27303" checked="checked">
									<div class="business-item__title">
										Хлеб белый </div>
									<div class="business-item__text">
									</div>
								</label>
								<label class="business-item">
									<input data-price="0" class="radio" type="radio" name="bread" value="41207">
									<div class="business-item__title">
										Хлеб 50/50 </div>
									<div class="business-item__text">
									</div>
								</label>
								<label class="business-item">
									<input data-price="0" class="radio" type="radio" name="bread" value="27305">
									<div class="business-item__title">
										Хлеб черный </div>
									<div class="business-item__text">
									</div>
								</label>
								<label class="business-item">
									<input data-price="0" class="radio" type="radio" name="bread" value="36577">
									<div class="business-item__title">
										Хлеб не нужен :) </div>
									<div class="business-item__text">
									</div>
								</label>
							</div><!-- business section -->


						</div><!-- business section -->


						<div class="business-section business-section--total">


							<div class="business-item">
								<div class="business-item__title business-item__title--total">
									Итого
								</div>
								<div class="business-item__price business-item__price--total">
									<div>
										<span id="summprice"> 229 </span><span class="rub">р</span></div>
								</div>
							</div>
						</div>

						<div class="bs-lunch-info bs-lunch-info--modal">
							<h3 class="bs-lunch-info-title">Дорогие гости!</h3>
							<p>С <b>9 января</b> бизнес-ланчи доступны только в ресторане.</p>
							<p><b>Доставка не осуществляется</b>.</p>
							<p>Вы можете заказать бизнес-ланч на самовывоз по телефону <a href="tel:222-22-22" class="bs-lunch-info-phone"><b>222-22-22</b></a> &#128515;</p>
						</div>

						<div class="button__text error_notify">Произошла ошибка при добавлении в корзину, выбранные
							блюда не были переданы. Вероятно это связано с нестабильной работой броузера. Разработчику
							отправлено уведомление о ошибке. Попробуйте еще раз.
						</div>

						<input name="ajax" type="hidden" id="ajax" value="1">
					</form>
				</section>
			</div>
		</div>
	</div>