<form class="form form--lite form--center form--s">
	<h1 class="tll ttl--1 ttl--main ttl--center">Восстановление пароля</h1>

	<div class="form-group form-group--default form-group--m">
		<label class="form-label form-label--default">Ваш email</label>
		<div class="form-control-group form-control-group--default">
			<input type="text" class="form-control form-control--default form-control--text">
		</div>
	</div>

	<div class="form-action form-action--center">
		<button type="submit" class="button button--default button--l">
			<span class="button__text">Восстановить пароль</span>
		</button>
	</div>

	<div class="pass-recovery-message">
		Мы отправили ссылку<br>для восстановления пароля<br>на указанную эл. почту.
	</div>
</form>